.card{
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  display: flex;
}
.card .button{
  justify-content: flex-end;
  display: flex;
}
.card-select {
  text-align: center;
  transition: all 0.5s ease;
}

.card-select .card-divider {
  background-color: #fefefe;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #cacaca;
}

.card-select .button {
  padding: 1rem;
  background-color: #cacaca;
}

.card-select .button:after {
  content: 'Select';
}

.card-select .button:hover {
  background-color: #1779ba;
}

.card-select .button:focus {
  background-color: #1779ba;
}

.card-select.is-selected {
  border: 1px solid #1779ba;
  box-shadow: 0 0 10px #e6e6e6;
  transition: all 0.5s ease;
}

.card-select.is-selected .button {
  background-color: #1779ba;
}

.card-select.is-selected .button:after {
  content: 'Selected';
}
