{% extends "base.html" %}
{% load static %}

{% block title %}Ошибка 410{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <div class="media mt-4">
                        <img src="{% static 'images/hat-logo.png' %}" class="mr-3" alt="Le-francais.ru Logo"/>
                        <div class="media-body">
                            <h1 class="mt-0">Ошибка 410.</h1>
                            <h4>
                                Упс! А такой странички больше нет :(
                            </h4>
                            <p>Истёк срок действия ссылки или запрашиваемая страница была удалена.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
