<!DOCTYPE html>
<html class="no-js">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Это временная проблема на сайте после переезда</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" id="jQStatus">(function() { window.__sonar = window.__sonar || {}; if(typeof(window.jQuery)!=='undefined'){var event=new CustomEvent('isJQuery',{detail:'yes'});document.dispatchEvent(event);};})()</script><style>[_nghost-dsj-c52]{font-family:Open Sans,sans-serif;color:#121212}</style></head>
    <body>
        <h1>Эта функция временно не работает</h1>

        <h2>Сегодня ночью мы перенесли сайт и базу данных на новые сервера. Это хирургическое вмешательство в работу очень сложного приложения, которым является le-francais.ru. Увы, не обошлось без потерь. Главное, что мы знаем об этой проблеме и работаем над ее ликвидацией. По нашим предположениям, мы должны справиться с этим к часу дня.</h2>
      <p>Извините за неудобства! C'est la vie.</p>
  </body>
</html>


