{% load static wagtailuserbar %}
{% load static site_tags %}
{% load i18n %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-13217782-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-13217782-1');
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5298712578797271",
        enable_page_level_ads: true
      });
    </script>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>
        {% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}
        {% block title_suffix %}{% endblock %}</title>

    <link rel="icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content=""/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>


    <!-- Latest compiled and minified JavaScript -->
    <script async src="{% static 'components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script async src="{% static 'lib/audio/audioplayer.min.js' %}"></script>



    {% block css %}

        <link rel="stylesheet" href="{% static 'lib/audio/audioplayer.min.css' %}">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'components/bootstrap/dist/css/bootstrap.min.css' %}">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/le_francais.min.css' %}">
        <link rel="stylesheet" type="text/css"
              href="{% static 'components/bootstrap-social/bootstrap-social.min.css' %}">

        <link rel="stylesheet" href="{% static 'components/font-awesome-4.7.0/css/font-awesome.min.css' %}">

        <!-- Optional theme -->
        <link rel="stylesheet" href="{% static 'components/bootstrap/dist/css/bootstrap-theme.min.css' %}">
    {% endblock %}

    <link rel="canonical" href="https://www.le-francais.ru{{ self.url_path | slice:"5:" }}"/>

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}

    {% block meta %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}

    {% block extra_head %}

    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}" data-spy="scroll" data-target="#myScrollspy" data-offset="15">
{#<!-- Google Tag Manager (noscript) -->#}
{#<noscript>#}
{#    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WC2Q4XT"#}
{#            height="0" width="0" style="display:none;visibility:hidden"></iframe>#}
{#</noscript>#}
{#<!-- End Google Tag Manager (noscript) -->#}
{% wagtailuserbar %}

{% block menu %}
    {% get_site_root as site_root %}
    {% top_menu parent=site_root calling_page=self %}
{% endblock %}
<div class="_content">
    {% block content %}{% endblock %}
</div>

{# Global javascript #}
<script async type="text/javascript" src="{% static 'js/le_francais.min.js' %}"></script>
<script type='text/javascript' async defer src='https://le-francais.push4site.com/sdk'></script>

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% include 'tags/footer.html' %}
</body>
</html>
