{% load static wagtailuserbar %}
{% load static site_tags %}
{% load i18n %}
{% load pybb_tags i18n %}
{% load user_agents %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({
			'gtm.start':
				new Date().getTime(), event: 'gtm.js'
		});
		var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
		j.async = true;
		j.src =
			'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-WC2Q4XT');</script>
	<!-- End Google Tag Manager -->
	<!-- Google Publisher Tag -->
	<script async="async"
	        src="https://www.googletagservices.com/tag/js/gpt.js"></script>

	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link rel="shortcut icon"
	      type="image/png"
	      href="{% static 'images/favicon.ico' %}"/>
	<title>{% block title %}Французский язык -
		{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}
		{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
	<link rel="icon" href="{% static 'favicon/favicon.ico' %}">
	<link rel="apple-touch-icon"
	      sizes="57x57"
	      href="{% static 'favicon/apple-icon-57x57.png' %}">
	<link rel="apple-touch-icon"
	      sizes="60x60"
	      href="{% static 'favicon/apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon"
	      sizes="72x72"
	      href="{% static 'favicon/apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon"
	      sizes="76x76"
	      href="{% static 'favicon/apple-icon-76x76.png' %}">
	<link rel="apple-touch-icon"
	      sizes="114x114"
	      href="{% static 'favicon/apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon"
	      sizes="120x120"
	      href="{% static 'favicon/apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon"
	      sizes="144x144"
	      href="{% static 'favicon/apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon"
	      sizes="152x152"
	      href="{% static 'favicon/apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon"
	      sizes="180x180"
	      href="{% static 'favicon/apple-icon-180x180.png' %}">
	<link rel="icon"
	      type="image/png"
	      sizes="192x192"
	      href="{% static 'favicon/android-icon-192x192.png' %}">
	<link rel="manifest" href="{% url 'meta:manifest' %}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage"
	      content="{% static 'favicon/ms-icon-144x144.png' %}">
	<meta name="theme-color" content="#ffffff">
	<meta name="description" content="{% block description %}{% endblock %}"/>

	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<script src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
	<script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	{# Global stylesheets #}
	{% block css %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
		<link rel="stylesheet" href="{% static 'components/font-awesome-5.0.3/css/fontawesome-all.css' %}">
		<link rel="stylesheet" href="{% static 'components/font-awesome-5.0.3/css/fa-regular.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'components/bootstrap-social/bootstrap-social.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/le_francais.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/forum.min.css' %}">
	{% endblock %}
	{% get_full_path as full_path %}
	{% block canonical %}
		<link rel="canonical"
		      href="
				      {% split_canonical full_path %}{% comment %}https://www.le-francais.ru{{ self.url_path | slice:"5:" }}{% endcomment %}"/>{% endblock %}
	{% block extra_css %}
		{# Override this in templates to add extra stylesheets #}
	{% endblock %}

	{% block meta %}
		{# Override this in templates to add extra stylesheets #}
	{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}"
      data-spy="scroll"
      data-target="#myScrollspy"
      data-offset="15">
<!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WC2Q4XT"
	        height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{% wagtailuserbar %}

{% block menu %}
	{% get_site_root as site_root %}
	{% top_menu parent=site_root calling_page=self %}
{% endblock %}
<div class="_content">
	<div class="block-forum">
		<div class="container-fluid">
			<div class="row" style="display: flex; flex-direction: row">
				<div class="col-12 col-md-9 col-xl-7 col-lg-offset-2">
					<div class="breadcrumb">
						{% block breadcrumb %}
						{% endblock %}
					</div>
					{% block content %}
					{% endblock %}
				</div>
				<div class="d-none d-md-flex col-md-3 col-xl-3"
				     style="padding: 70px 0 0 0; display: flex; flex-direction: column; justify-content: space-between">
						{% include_advertisements contains='lf_fr_topic_rsb' %}
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'tags/footer.html' %}
{% block payment_modals %}
	{% if 'payment_success' in request.GET and request.GET.modal_open == 'success-payment-modal' %}
		<div class="modal" id="success-payment-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					{% if not user.saw_message %}
						<div class="modal-header">
							<button type="button"
							        class="close"
							        data-dismiss="modal"
							        aria-label="Close">
								<span aria-hidden="true">&times;</span></button>
							<h4>Спасибо за Ваше решение нас поддержать!</h4>
						</div>
						<div class="modal-body">
							<p>Добровольное пожертвование — это поступок, и мы это по-настоящему ценим.</p>
							<p>Теперь Вы можете благодарить нас за наш труд чашечками кофе :)</p>
						</div>
					{% else %}
						<div class="modal-header">
							<button type="button"
							        class="close"
							        data-dismiss="modal"
							        aria-label="Close">
								<span aria-hidden="true">&times;</span></button>
							<h4>Спасибо, что остаётесь с нами!</h4>
						</div>
						<div class="modal-body">
							<p>Вы не пожалеете. Мы продолжим наш каждодневный труд над проектом, чтбы позволить вам получить максимум знаний, быстрее выучить французский — и получать от этого удовольствие. :)</p>
						</div>
					{% endif %}
					<div class="modal-footer">
						<button type="button"
						        class="btn btn-primary"
						        data-dismiss="modal">Закрыть
						</button>
					</div>
				</div>
			</div>
		</div>
	{% elif "payment_fail" in request.GET  and request.GET.modal_open == 'fail-payment-modal' %}
		<div class="modal" id="fail-payment-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">Ошибка!
						<button type="button"
						        class="close"
						        data-dismiss="modal"
						        aria-label="Close"><span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Что-то пошло не так.</p>
						<p>:(</p>
					</div>
					<div class="modal-footer">
						<button type="button"
						        class="btn btn-secondary"
						        data-dismiss="modal">Закрыть
						</button>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
{# Global javascript #}
{% block js %}
	<script>
		{% if request|is_mobile or request|is_tablet %}
			const touch = true;
		{% else %}
			const touch = false;
		{% endif %}
	</script>
	<script async
	        type="text/javascript"
	        src="{% static 'pybb/js/pybbjs.js' %}"></script>
	<script defer
	        type="text/javascript"
	        src="{% static 'js/le_francais.min.js' %}"></script>
	{% get_full_path as full_path %}
	{% if 'payment_success' in request.GET and request.GET.modal_open == 'success-payment-modal' %}
		<script>
			$(document).ready(function () {
				$('#success-payment-modal').modal('show');
				history.pushState({}, title = '', url = "{{ full_path }}?payment_success=true");
			})
		</script>
	{% elif 'payment_fail' in request.GET and request.GET.modal_open == 'fail-payment-modal' %}
		<script>
			$(document).ready(function () {
				$('#fail-payment-modal').modal('show');
				history.pushState(url = "{{ full_path }}");
			})
		</script>
	{% endif %}
{% endblock %}
{#<script type='text/javascript' async defer src='https://le-francais.push4site.com/sdk'></script>#}

{% block extra_js %}
	{# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
