{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
	<div class="container">
	<div class="row"><div class="col-xs-12"><h1>{% trans "Account Inactive" %}</h1></div>

	<div class="col-xs-12"><p>Ваша учетная запись заблокирована, так как была использована злоумышленниками для совершения вредоносных действий на сайте.
		Если Вы считаете, что эта блокировка совершена по ошибке, пожалуйста, свяжитесь с нами по e-mail support@le-francais.ru</p></div></div>
	</div>
{% endblock %}
