{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <form class="change_username" method="POST" action="{% url 'account_change_username' %}">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-error">
                                <strong>{{ error }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <div class="form-group change-username-form">
                    <input class="form-control form-control-lg" placeholder="Имя на форуме" id="username" maxlength="32"
                           type="text" name="username" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">OK</button>
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}