{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}
    <form class="change_username" method="POST" action="{% url 'account_change_username' %}">
        {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|bootstrap }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <label for="username">New username:</label>
        <input id="username" maxlength="32" type="text" name="username">
        <input type="submit" value="OK">
    </form>
{% endblock %}