{% load static %}
{% if request.GET.next %}{% endif %}
<div class="row text-xs-center oauth-buttons-row">
    {% if request.session.geoip.country_code != 'RU' %}
    <div class="col-xl-4 col-md-6 google-oauth-btn">
        <a class="btn btn-google btn-block" href="{% url "social:begin" "google-oauth2" %}{% if request.GET.next %}?next={{ request.GET.next }}{% elif next %}?next={{ next }}{% endif %}"
           style="margin-bottom:10px">
            Google
        </a>
    </div>
    {% endif %}
    <div class="col-xl-4 col-md-6">
        <a class="btn btn-vk btn-block" style="margin-bottom:10px"
           href="{% url "social:begin" "vk-oauth2" %}{% if request.GET.next %}?next={{ request.GET.next }}{% elif next %}?next={{ next }}{% endif %}">
            ВКонтакте
        </a>
    </div>
    {% if request.session.geoip.country_code != 'RU' %}
    <div class="col-xl-4 col-md-6 facebook-oauth-btn">
        <a class="btn btn-facebook btn-block" style="margin-bottom:10px"
           href="{% url "social:begin" "facebook" %}{% if request.GET.next %}?next={{ request.GET.next }}{% elif next %}?next={{ next }}{% endif %}">
            Facebook
        </a>
    </div>
    {% endif %}
    <div class="col-xl-4 col-md-6">
        <a class="btn btn-mailru btn-block" style="margin-bottom:10px"
           href="{% url "social:begin" "mailru-oauth2" %}{% if request.GET.next %}?next={{ request.GET.next }}{% elif next %}?next={{ next }}{% endif %}">
            Mail.ru
        </a>
    </div>
    <div class="col-xl-4 col-md-6">
        <a class="btn btn-odnoklassniki btn-block disabled" style="margin-bottom:10px"
           {% comment %}href="{% url "social:begin" "odnoklassniki-oauth2" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"{% endcomment %} disabled="disabled">
            {% comment %}<img style="margin-right:5px; height: 1em" src="{% static 'images/ok_logo_48x82.png' %}">{% endcomment %}Одноклассники
        </a>
    </div>
    <div class="col-xl-4 col-md-6">
        <a class="btn btn-yandex btn-block" style="margin-bottom:10px; "
           href="{% url "social:begin" "yandex-oauth2" %}{% if request.GET.next %}?next={{ request.GET.next }}{% elif next %}?next={{ next }}{% endif %}">
            Яндекс
        </a>
    </div>
</div>

{% if request.session.geoip.country_code == 'RU' %}
<script>
  (function() {
    var injected = false;
    function injectForeignOAuth() {
      if (injected) return;
      injected = true;
      
      // Remove listeners
      window.removeEventListener('mousemove', injectForeignOAuth);
      window.removeEventListener('scroll', injectForeignOAuth);
      window.removeEventListener('keydown', injectForeignOAuth);
      window.removeEventListener('touchstart', injectForeignOAuth);
      
      // Select all elements matching '.oauth-buttons-row'
      var rows = document.querySelectorAll('.oauth-buttons-row');
      rows.forEach(function(row) {
        // Build Google Button column
        var googleCol = document.createElement('div');
        googleCol.className = 'col-xl-4 col-md-6 google-oauth-btn';
        googleCol.innerHTML = '<a class="btn btn-google btn-block" href="{% url "social:begin" "google-oauth2" %}{% if request.GET.next %}?next={{ request.GET.next }}{% elif next %}?next={{ next }}{% endif %}" style="margin-bottom:10px">Google</a>';
        
        // Build Facebook Button column
        var fbCol = document.createElement('div');
        fbCol.className = 'col-xl-4 col-md-6 facebook-oauth-btn';
        fbCol.innerHTML = '<a class="btn btn-facebook btn-block" style="margin-bottom:10px" href="{% url "social:begin" "facebook" %}{% if request.GET.next %}?next={{ request.GET.next }}{% elif next %}?next={{ next }}{% endif %}">Facebook</a>';
        
        // Insert them back into their original layout positions
        if (row.firstChild) {
          row.insertBefore(googleCol, row.firstChild);
          var vkCol = googleCol.nextSibling;
          if (vkCol) {
            row.insertBefore(fbCol, vkCol.nextSibling);
          } else {
            row.appendChild(fbCol);
          }
        } else {
          row.appendChild(googleCol);
          row.appendChild(fbCol);
        }
      });
    }
    
    // Add event listeners on user interaction
    window.addEventListener('mousemove', injectForeignOAuth, { passive: true });
    window.addEventListener('scroll', injectForeignOAuth, { passive: true });
    window.addEventListener('keydown', injectForeignOAuth, { passive: true });
    window.addEventListener('touchstart', injectForeignOAuth, { passive: true });
  })();
</script>
{% endif %}
