{% extends "account/base.html" %}

{% load i18n %}
{% load recaptcha3 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block extra_head %}{% recaptcha_init %}{% recaptcha_ready action_name='signup' %}{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-xl-3 d-none d-md-flex"></div>
      <div class="col-md-8 col-xl-5">
        <div style="padding-top:30px; padding-bottom:15px">
          <h3>Регистрация нового пользователя</h3>
        </div>
        <div class="col-xl-12">
          <form class="login" method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% if form.errors %}
              <ul>
                {% for field in form %}
                  {% for error in field.errors %}
                    <li style="list-style: none;">
                      <div class="alert alert-danger" role="alert"><strong>{{ error|escape }}</strong></div>
                    </li>
                  {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                  <li style="list-style: none;">
                    <div class="alert alert-warning" role="alert"><strong>{{ error|escape }}</strong></div>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            <div class="form-group">
              <input type="email" name="email" id="id_email" class="form-control form-control-lg"
                     placeholder="Email" required autocomplete="email">
            </div>
            <div class="form-group">
              <input type="password" minlength="6" name="password1" id="id_password1"
                     class="form-control form-control-lg" placeholder="Задайте пароль" required autocomplete="new-password">
            </div>
            <div class="form-group">
              <input type="password" minlength="6" name="password2" id="id_password2"
                     class="form-control form-control-lg"
                     placeholder="Повторите ввод пароля" required autocomplete="new-password">
            </div>
            <div class="form-group">
              <input type="text" name="username" autofocus="autofocus" id="id_username"
                     class="form-control form-control-lg" placeholder="Nickname (имя для форума)" required autocomplete="username">
            </div>
            {{ form.captcha }}
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Зарегистрироваться</button>
            </div>

            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
          </form>
        </div>

        <div class="col-xl-12" style="margin-top: 20px;">
          <div style="margin-bottom:15px; text-align: center;">
            <b>Или зарегистрироваться через социальные сети:</b>
          </div>
          {% include 'account/oauth-buttons.html' with next=request.GET.next %}
          <hr class="d-lg-none">
        </div>
      </div>
      <div class="col-md-2 col-xl-3 d-none d-md-flex"></div>
    </div>
  </div>
{% endblock %}
