{% extends 'base.html' %}
{% load tz %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
                <ul>
                    <li>all=true -- полный список (иначе только последние 100)</li>
                    <li>cups=true -- активации чашками</li>
                    <li>tickets=true -- активации билетиками</li>
                    <li>cups=true&tickets=true -- все активации (и чашки, и билетики)</li>
                    <li>user=[username] -- фильтрация по никнейму</li>
                    <li>email=[email]  -- фильтрация по email'у</li>
                </ul>
                <table>
			{% for ul in activations %}
				<tr>
					<td>{% timezone 'Europe/Moscow' %}{{ ul.date|date:'Y-m-d'}} </td>
					<td>{{ ul.date|localtime|time:'H:i' }}{% endtimezone %}</td>
					<td>{{ ul.user.email }}</td>
					<td>{{ ul.lesson.lesson_number }}</td>
					<td>{{ ul.remains }}</td>
				</tr>
			{% endfor %}
			</table></div>
		</div>
		<div class="row">
			<div class="col-12"><a href="{% url 'activation_log' %}?all=true">Посмотреть все</a></div>
		</div>
	</div>
{% endblock %}
