{% extends "base.html" %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}
{% load static site_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}
{% block description %}{% if self.search_description %}{{ self.search_description }}{% endif %}{% endblock %}
{% block extra_js %}
    <script type="text/javascript"
            src="{% static 'components/bootstrap-treeview/dist/bootstrap-treeview.min.js' %}"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({html: true})
        })
    </script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'components/bootstrap-treeview/dist/bootstrap-treeview.min.css' %}">
{% endblock %}

{% block extra_head %}
    {% advert_head page %}
{% endblock %}

{% block meta %}
    <meta name="nav-root-id" data-value="{{ self.get_nav_root.id }}">
    <meta name="page-id" data-value="{{ self.id }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row main_row">
            <div class="sidebar-wrapper col-sm-3 _no-padding">
                <div id="sidebar"></div>
            </div>
            <button class="sidebar-collapse-button" type="button" data-toggle="toggle"
                    data-target=".sidebar-wrapper" aria-controls="sidebar" aria-expanded="false"
                    aria-label="Toggle sidebar">
                <div class="arrow-icon"></div>
            </button>
            <div class="col-sm-9 col-lg-6 main">
                {% breadcrumb calling_page=self %}
                <h1>{{ page.title }}</h1>
                {% for block in page.body %}{% include_block block %}{% endfor %}
                {% page_advert_body 'body_bottom' page.page_type %}
                <div class="comments">
                    {% get_comment_count for page as comment_count %}
                    {% if comment_count %}
                        <hr/>
                        <ul class="comments_tree">
                            {% render_xtdcomment_tree for page allow_flagging allow_feedback show_feedback %}
                        </ul>
                    {% endif %}
                    {% if page.allow_comments %}
                        <div class="comment">
                            <div class="well">
                                {% render_comment_form for page %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="hidden-xs hidden-sm hidden-md col-lg-3 sidebar-right">
                {% page_advert_body 'sidebar' page.page_type %}
            </div>
        </div>
    </div>
{% endblock %}
