<style>
    .portrait {
        height: 120px;
        margin-right: 15px;
        margin-bottom: 5px;
        margin-top: 5px;
        float: left;
    }
</style>



<div style="overflow: auto;margin-top: 15px;margin-bottom: 10px;">

    <p><img class="portrait"
            src="//files.le-francais.ru/photos/illustrations/natalia_plastinina.jpg">
        Эти упражнения для вас приготовила <b>Наталья Пластинина</b> — та самая, чей голос вы слышите на уроках.</p>
</div>

<p>И всё это было бы невозможно осуществить без финансовой поддержки <b>200+ человек</b>, принявших участие в нашем краудфандинг-проекте на Planeta.ru. </p>
<p>Вот имена тех, кто внес самый заметный
    вклад в
    этот проект. В сумме <span style="
    background-color: #96dc0b5e;
">уже только эти ребята помогли нам собрать 100,000+ ₽</span>. Вот их имена и их вклад.</p>
<ul>
    <li><b>Семен Атамась</b>, Санкт-Петербург — внес <b>25,000 ₽</b> !!! (эквивалент 360 € по курсу на начало 2020 г.)</li>
    <li><b>Н. Власова</b> — внесла <b>10,000 ₽</b> (144 €)</li>
    <li><b>Н. Самойлова</b> — внесла <b>8,000 ₽</b> (115 €)</li>
    <li><b>Борис Шекера</b>, Жуковский — внес <b>7,000 ₽</b> (100 €)</li>
    <li><b>Виктория Калабская</b> — внесла <b>100 €</b></li>
    <li><b>Светлана Горон</b>, Гамбург — внесла <b>100 €</b></li>
    <li><b>Alla Tertytska</b>, Льеж — внесла <b>5,500 ₽</b> (80 €)</li>
    <li><b>Сергей Мамичев</b>, Новосибирск — внес <b>5,000 ₽</b> (70+ €)</li>
    <li><b>Ильдар Мирзаянов</b>, Казань — внес <b>5,000 ₽</b> (70+ €)</li>
    <li><b>Марина Л.</b>, Страсбург — внесла <b>5,000 ₽</b> (70+ €)</li>
    <li><b>Келешиди Валерия</b>, Ноябрьск — внесла <b>5,000 ₽</b> (70+ €)</li>
    <li><b>Анна Ку</b> — внесла <b>4,000 ₽</b> (≈60 €)</li>
    <li><b>Владислав Масалов</b>, Санкт-Петербург — внес <b>4,000 ₽</b> (≈60 €)</li>
    <li><b>Александр Бурмистров</b>, Санкт-Петербург — внес <b>4,000 ₽</b> (≈60 €)</li>
</ul>

<p><b>Ребята, пожертвовавшие проекту по 3,000 рублей (в сумме на 15,000 ₽):</b></p>
<p>Александр (фамилия пока не известна, но мы над этим работаем), Ирина Бакланова, Marianta (тоже ищем), Наталья
    Гуськова, Пимчанок Тхапаносотх</p>
<p><b>Те, кто пожертвовал по 2,000+ (в сумме на 20,000+ ₽):</b></p>
<p>Ирина Ширинская, Лера Шевцова, Михаил (пока не знаем фамилии), Мурад Атаев, Неизвестный
    спонсор из Ниццы, Олеся Кукули, Ольга Малыгина, Татьяна Иванова, Эльвина Насырова, Юра Гороховский</p>
<p><b>Те, кто пожертвовал больше тысячи (в сумме на 10,000+ ₽):</b></p>
<p>Илья Попов (1,700 ₽), Надежда Кузнецова (1,610 ₽), Ирина Кашлева (1,500 ₽), Георгий Бородин (1,500 ₽), E.P.Naumenko (1,500 ₽), Инна (1,200 ₽), Асия Матдинова (1,100 ₽)</p>

<details><summary><b>Внесшие по 1000 ₽ (36 человек — на сумму 36,000+ ₽):</b></summary>
    <p>А. Демидов, Алексей Волобуев, Алла Радевич, Анастасия Бусыгина, Андрей Куликов, Анна Орешникова, Вика Думова, Виктория (в поисках), Владислав Паплин, Галина Румянцева, Денис (ищем), Елена
        (уточняем подробности), Елена Беляева, Елена Ветрова, Елена Гордеева, Ирина (уточняем), Ирина Кулакова, Ирина Лайдинен, Ирина Семенкова, Ксения Гриневич, Михаил Беляков, Надежда Петрова,
        "Наталья, Лоскутова", Ольга Полевикова, Светлана Малышева, Татьяна Голобокова, Татьяна Кузнецова, Фаина Байбекова, Филипп Торчинский, Юлия Фурсова, Юлия Чуракова, Cytron (никнейм), Luelow
        (никнейм), Marianna Sibul, pifagor20 (никнейм), smart85 (ник)</p> </details>
<p>И кроме этого было еще больше ста небольших пожертвований на самые разные суммы — от
    10 до 700 ₽</p>

<h4>Спасибо вам всем огромное, ребята! Благодаря вам у нас теперь есть эти упражнения. :)</h4>
