{% extends "base.html" %}
{% load site_tags %}
{% load wagtailcore_tags %}
{% load static site_tags %}
{% block title %}Французский язык - {% if not self.seo_title %}Урок {{ self.lesson_number }}{% else %}{{ self.seo_title }}{% endif %}{% endblock %}

{% block extra_head %}
    {% advert_head page %}
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block description %}{% if self.search_description %}{{ self.search_description }}{% endif %}{% endblock %}

{% block extra_js %}
    <script async type="text/javascript"
            src="{% static 'components/bootstrap-treeview/dist/bootstrap-treeview.min.js' %}"></script>
    <script>
      function getSuccessButton() {
        $('#coffee-button').removeClass('btn-default').addClass('btn-success').attr('disabled', 'disabled').attr("onclick", '').attr('data-toggle', '');
        $('#coffee-button-image').attr('src', "{% static 'images/coffee-icons/buy_me_a_coffee-04.svg' %}");
        $('#coffee-button-text').html('Вы уже угощали меня<br>за этот урок :)');
      }

      function playCoffeeSound() {
        let coffeeAudio = new Audio('{% static 'snd/coffee.mp3' %}');
        coffeeAudio.play();
      }

      function giveMeCoffee() {
        $.ajax({
          type: "POST",
          url: "{% url 'give_me_a_coffee' %}",
          data: {
            'lesson_number': {{ self.lesson_number }},
            'user_email': "{{ request.user }}",
            'csrfmiddlewaretoken': "{{ csrf_token }}"
          },
          datatype: "json",
          success: function (response) {
            if (response.result) {
              $('#give-me-a-coffee-success-message').html(response.description);
              getSuccessButton()
              playCoffeeSound()
            }
            else {
              $('#give-me-a-coffee-success-message').html(response.description)
            }
          },
          error: function (response, error) {
            $('#give-me-a-coffee-success-message').html(error)
          },
        });
        $('#by-me-a-coffee-complete-modal').modal('show');
      }
    </script>
    {% if request.GET.modal_open and not userlesson %}
        {% with modal_id=request.GET.modal_open %}
            <script>
              $(document).ready(function () {
                $('#{{ modal_id }}').modal('show')
              });
            </script>
        {% endwith %}
    {% endif %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lesson.css' %}">
    <link rel="stylesheet" href="{% static 'components/bootstrap-treeview/dist/bootstrap-treeview.min.css' %}">
    <style>
        .coffee-button {

            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }

        .coffee-button-image {
            margin-right: 5px;
            display: block;
            height: 2.5em
        }

        .coffee-button-text {
            border-left: 1px solid #ccc;
            padding-left: 5px;
        }
    </style>
{% endblock %}

{% block meta %}
    <meta name="nav-root-id" data-value="{{ self.get_nav_root.id }}">
    <meta name="page-id" data-value="{{ self.id }}">
{% endblock %}

{% block content %}

    {% assign url request.build_absolute_uri %}
    <div class="container-fluid">
        <div class="row main_row">
            <div class="sidebar-wrapper col-xs-3 _no-padding">
                <div id="sidebar"></div>
            </div>
            <button class="sidebar-collapse-button" type="button" data-toggle="toggle"
                    data-target=".sidebar-wrapper" aria-controls="sidebar" aria-expanded="false"
                    aria-label="Toggle sidebar">
                <div class="arrow-icon">
            </button>
            <div class="col-12 col-sm-9 col-lg-6 col-xlg-6 main">
                <div class="row padding">{% breadcrumb calling_page=self %}
                    <h1>{{ page.title }}</h1>
                    {% if self.audio_material != 'None' %}
                        <div class="block-audio">

                            <div class="row">
                                <div class="col-md-8">
                                    <audio data-downloadable number="{{ self.lesson_number }}">
                                        <source src="{% if self.audio_material %}{{ self.audio_material }}{% else %}//files.le-francais.ru/lecons/french-{{ self.lesson_number }}.mp3{% endif %}" type="audio/mpeg">
                                    </audio>
                                </div>
                                {% if request.user.is_staff or request.GET.coffee_button_test %}{# TODO release coffee #}
                                    <div class="col-md-4">
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <!-- button trigger by-me-a-coffee-modals -->
                                        {% check_user_lesson request.user self as userlesson %}
                                        {% if not userlesson %}
                                            <button class="coffee-button btn btn-default btn-xs" id="coffee-button"
                                                    {% if user.is_authenticated and user.has_coffee %}
                                                    data-toggle="modal" data-target="#buy-me-a-coffee-modal"
                                                    {% elif user.is_authenticated and not user.has_coffee %}
                                                    onclick="location.href='{% url 'check_amount' %}?next={{ request.path }}'"
                                                    {% elif not user.is_authenticated %}
                                                    data-toggle="modal" data-target="#buy-me-a-coffee-modal"
                                                    {% endif %}
                                            >
                                                <img id="coffee-button-image" class="coffee-button-image" src="{% static 'images/coffee-icons/buy_me_a_coffee-05.svg' %}">
                                                <div id="coffee-button-text" class="coffee-button-text">Вам ведь понравился урок?<br>Угостите меня кофейком!</div>
                                            </button>
                                        {% else %}
                                            <button class="coffee-button btn btn-default btn-xs" disabled="disabled" id="coffee-button">
                                                <img id="coffee-button-image" class="coffee-button-image" src="{% static 'images/coffee-icons/buy_me_a_coffee-04.svg' %}">
                                                <div id="coffee-button-text" class="coffee-button-text">Вы уже угощали меня<br>за этот урок :)</div>
                                            </button>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                    {% endif %}
                    <ul class="nav nav-tabs">
                        {% if self.comments_for_lesson %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#comments_for_lesson" role="tab"
                                   aria-controls="body">
                                    Комментарии к уроку
                                </a>
                            </li>
                        {% endif %}
                        {% if self.body %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#body" role="tab" aria-controls="body">
                                    Диалог урока
                                </a>
                            </li>
                        {% endif %}
                        {% if self.dictionary %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#dictionary" role="tab"
                                   aria-controls="body">
                                    Словарик
                                </a>
                            </li>
                        {% endif %}
                        {% if self.summary %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#resume" role="tab" aria-controls="body">
                                    Конспект
                                </a>
                            </li>
                        {% endif %}
                        {% if self.repetition_material %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#revision" role="tab"
                                   aria-controls="body">
                                    Материал для повторения
                                </a>
                            </li>
                        {% endif %}
                        {% if self.mail_archive %}
                            {% if user.is_superuser %}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#mail-archive" role="tab"
                                       aria-controls="body">
                                        Материал для повторения
                                    </a>
                                </li>{% endif %}
                        {% endif %}
                        {% for child_value in self.other_tabs %}
                            {% if not child_value.value.invisible or user.is_superuser %}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#{{ child_value.value.href }}" role="tab"
                                       aria-controls="{{ child_value.value.href }}"><span {% if child_value.value.invisible and user.is_superuser %}color="green" {% endif %}>{{ child_value.value.title }}</span></a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    <div class="tab-content">
                        {% assign pane_class "tab-pane active" %}
                        {% if self.comments_for_lesson %}
                            <div id="comments_for_lesson" class="{{ pane_class }}" role="tabpanel">
                                {% for block in self.comments_for_lesson %}{% include_block block %}{% endfor %}
                                {% page_advert_body 'comments_for_lesson_bottom' page.page_type %}
                            </div>
                            {% assign pane_class "tab-pane" %}
                        {% endif %}
                        {% if self.body %}
                            <div id="body" class="{{ pane_class }}" role="tabpanel">
                                {% for block in self.body %}{% include_block block %}{% endfor %}
                                {% page_advert_body 'body_bottom' page.page_type %}
                            </div>
                            {% assign pane_class "tab-pane" %}
                        {% endif %}
                        {% if self.dictionary %}
                            <div id="dictionary" class="{{ pane_class }}" role="tabpanel">
                                {% for block in self.dictionary %}{% include_block block %}{% endfor %}
                                {% page_advert_body 'dictionary_bottom' page.page_type %}
                            </div>
                            {% assign pane_class "tab-pane" %}
                        {% endif %}
                        {% if self.summary %}
                            <div id="resume" class="{{ pane_class }}" role="tabpanel">
                                <div>
                                    {% page_advert_body 'resume_top' page.page_type %}
                                    {% with "https://files.le-francais.ru"|add:self.summary as document_url %}
                                        {% include 'blocks/document_viewer.html' %}
                                    {% endwith %}
                                    {% page_advert_body 'resume_bottom' page.page_type %}
                                </div>
                            </div>
                            {% assign pane_class "tab-pane" %}
                        {% endif %}
                        {% if self.repetition_material %}
                            <div id="revision" class="{{ pane_class }}" role="tabpanel">
                                <div>
                                    {% page_advert_body 'revision_top' page.page_type %}
                                    {% with "https://files.le-francais.ru"|add:self.repetition_material as document_url %}
                                        {% include 'blocks/document_viewer.html' %}
                                    {% endwith %}
                                    {% page_advert_body 'revision_body' page.page_type %}
                                </div>
                            </div>
                            {% assign pane_class "tab_pane" %}
                        {% endif %}
                        {% if self.mail_archive %}
                            {% if user.is_superuser %}
                                <div id="mail-archive" class="{{ pane_class }}" role="tabpanel">
                                    <div>
                                        {% for block in self.mail_archive %}{% include block %}{% endfor %}
                                    </div>
                                </div>
                                {% assign pane_class "tab_pane" %}
                            {% endif %}
                        {% endif %}
                        {% for child_value in self.other_tabs %}
                            <div id="{{ child_value.value.href }}" class="tab-pane" role="tabpanel">
                                {% for block in child_value.value.body %}{% include_block block %}{% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% if self.lesson_number > 5 %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    Пожалуйста, <a href="/collecte/">поддержите наш проект</a>, чтобы мы могли делать всякие разные клёвые фишки для вас и помогать вам еще лучше и быстрее изучать французский язык!
                                </div>
                            </div>
                        </div>
                    </div>{% endif %}
                <hr>
                <div class="row controls text-center">
                    {% assign prev self.get_prev_sibling %}
                    {% assign next self.get_next_sibling %}
                    {% if prev.content_type.name == 'lesson page' %}
                        <a class="pull-left btn btn-default" href="{{ self.get_prev_sibling.get_url }}"> Предыдущий
                            урок </a>
                    {% endif %}

                    {% if next.content_type.name == 'lesson page' %}
                        <a class="pull-right btn btn-default" href="{{ self.get_next_sibling.get_url }}"> Следующий
                            урок </a>
                    {% endif %}

                </div>
                {% if self.has_own_topic %}
                    <div class="row">
                        {% block extra_head_content %}
                            <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">
                        {% endblock %}
                        <div class="block-forum">
                            <div class="topic" id="topic" style="padding: 0px">
                                <h1>Вопросы и комментарии к уроку.</h1>
                                <h6>Не стесняйтесь задавать вопросы и комментировать. </h6>
                                <div class="posts">
                                    {% with self.topic.head as post %}
                                        <div class="first_post">{% include "tags/related_post.html" %}</div>
                                    {% endwith %}
                                    {% if self.topic.last_post.id != self.topic.head.id %}
                                        <div class="text-left" style="margin: 1em 0">Последний комментарий к уроку. <a href="{{ self.topic.last_post.get_absolute_url }}">Посмотреть все.</a></div>
                                        {% with self.topic.last_post as post %}
                                            {% if not post == self.topic.head %}
                                                <div class="last_post">{% include "tags/related_post.html" %}</div>
                                            {% endif %}
                                        {% endwith %}
                                    {% else %}
                                        <br>
                                        <div class="text-left"> Последний коммментарий к уроку... Еще нет — будьте
                                            первым, кто его напишет!
                                        </div>
                                        <br>
                                    {% endif %}
                                </div>
                                <a class="btn btn-primary" href="{{ self.topic.get_absolute_url }}#create_post"
                                   target="_blank">Добавьте
                                    свой комментарий</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="hidden-xs hidden-sm hidden-md col-lg-3 sidebar-right">
                {% page_advert_body 'sidebar' page.page_type %}
            </div>
        </div>
    </div>
    <!-- by-me-a-coffee-modals -->
    {% assign next "/coffee/check/?next="|add:request.path %}
    <div class="modal" id="buy-me-a-coffee-modal" tabindex="-1" role="dialog" aria-labelledby="buyMeACoffeeLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-align: center">Ура!</h4>
                </div>
                {% if user.is_authenticated %}
                    {% if user.has_coffee %}
                        <div class="modal-body" style="text-align: center">
                            <p>Вы угощаете нас стаканчиком кофе за этот урок.</p>
                            <p>Все так?</p>
                        </div>
                        <div class="modal-footer" style="text-align: center">
                            <button type="button" class="btn btn-primary" onclick="giveMeCoffee()" id="by-me-a-coffee-proceed" data-dismiss="modal">OUI !</button>
                        </div>
                    {% else %}

                    {% endif %}
                {% else %}
                    <div class="modal-body">
                        <p>Смотрите, дальше все очень просто. У Вас же есть аккаунт в какой-нибудь социальной сети — там, VK, ОК, FB, Ya, G+ и т.п.? Вы можете зайти на сайт, как их пользователь — это делается
                            в два клика. Да, так надо — нельзя анонимно угощать кофе, ясно?.</p>
                        <!-- Social OAuth Buttons -->
                        {% include 'account/oauth-buttons.html' with next=next %}
                        <!-- LogIn Form -->

                        {% include 'account/login_form.html' with redirect_field_value=next redirect_field_name="next" %}
                        <p>Ежели такого аккаунта у Вас нет, не беда — создадим здесь свой. Плевое дело!<br><a href="{% url 'account_signup' %}?next={{ next }}">Зарегистрироваться</a></p>

                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="by-me-a-coffee-complete-modal" tabindex="-1" role="dialog" aria-labelledby="buyMeACoffeeCompleteLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 style="text-align: center">Спасибо за вашу поддержку</h4>
                </div>
                <div class="modal-body">
                    <p id="give-me-a-coffee-success-message">Считаем оставшиеся чашечки...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% comment %}<div class="modal" id="by-me-a-coffee-payment-success-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header"><h4>Спасибо за вашу поддержку</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
    </div>
  </div>{% endcomment %}
    <div class="modal" id="by-me-a-coffee-payment-fail-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4>Ошибка</h4>
                </div>
                <div class="modal-body">
                    <p>Что-то пошло не так.</p>
                    <p>:(</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'payments' %}" type="button" class="btn btn-primary">Повторить</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">В другой раз</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
