{% load site_tags wagtailcore_tags %}
{# self: LessonPage #}
<div class="row">
    <div class="col-12">{% check_user_lesson request.user self as userlesson %}
        {% if self.audio_material != 'None' %}
            {% include 'home/lesson_audio.html' %}
        {% endif %}</div>
    <div class="col-12">
        <ul class="nav nav-tabs lesson-tabs">
            {% if self.comments_for_lesson %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab"
                       href="#comments_for_lesson" role="tab"
                       aria-controls="body">
                        Комментарии к уроку
                    </a>
                </li>
            {% endif %}
            {% if self.body %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#body"
                       role="tab" aria-controls="body">
                        Диалог урока
                    </a>
                </li>
            {% endif %}
            {% if self.dictionary %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#dictionary"
                       role="tab"
                       aria-controls="body">
                        Словарик
                    </a>
                </li>
            {% endif %}
            {% if self.summary %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#resume"
                       role="tab" aria-controls="body">
                        Конспект
                    </a>
                </li>
            {% endif %}
            {% if self.repetition_material %}
                {% if self.need_payment %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" style="cursor: pointer"
                               data-toggle="modal"
                               data-target="#listen-login-required-modal"
                               role="tab"
                               aria-controls="body">
                                Материал для повторения
                            </a>
                        </li>
                    {% elif not user.must_pay %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab"
                               href="#revision" role="tab"
                               aria-controls="body">
                                Материал для повторения
                            </a>
                        </li>
                    {% elif not userlesson %}
                        <li class="nav-item">
                            <a class="nav-link" style="cursor: pointer"
                               data-toggle="tab"
                               onclick="activateLesson('tab')" role="tab"
                               aria-controls="body">
                                Материал для повторения
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab"
                               href="#revision" role="tab"
                               aria-controls="body">
                                Материал для повторения
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#revision"
                           role="tab"
                           aria-controls="body">
                            Материал для повторения
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if self.mail_archive %}
                {% if user.is_authenticated %}
                    {% if user.must_pay and self.need_payment %}
                        {% if userlesson %}
                            <li class="nav-item">
                                <a class="nav-link" data-target=""
                                   href="#mail-archive" role="tab"
                                   aria-controls="body">
                                    Доп. информация
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a style="cursor: pointer" class="nav-link"
                                   onclick="activateLesson('tab')">
                                    Доп. информация
                                </a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" data-target=""
                               href="#mail-archive" role="tab"
                               aria-controls="body">
                                Доп. информация
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a style="cursor: pointer" class="nav-link"
                           data-toggle="modal"
                           data-target="#listen-login-required-modal">
                            Доп. информация
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if self.exercise %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#exercise"
                       role="tab"
                       aria-controls="exercise">
                        Домашка
                    </a>
                </li>
            {% endif %}
            {% if self.additional_exercise %}
                <li class="nav-item"
                    {% if block_additional_exercise %}style="display: none"{% endif %}>
                    <a class="nav-link" data-toggle="tab"
                       href="#exercises_de_lecon" role="tab"
                       aria-controls="exercises_de_lecon">
                        Упражнения с урока
                    </a>
                </li>
            {% endif %}
            {% if self.resume_populaire %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab"
                       href="#resume-populaire" role="tab"
                       aria-controls="resume-populaire">
                        Народный Конспект
                    </a>
                </li>
            {% endif %}
            {% for child_value in self.other_tabs %}
                {% if not child_value.value.invisible_for_all or user.is_superuser %}
                    {% if not child_value.value.visible_only_if_payed or already_payed %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab"
                               href="#{{ child_value.value.href }}" role="tab"
                               aria-controls="{{ child_value.value.href }}"><span
                                    {% if child_value.value.invisible and user.is_superuser %}color="green" {% endif %}>{{ child_value.value.title }}</span></a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>

	<div class="col-12 tab-content">
		{% assign pane_class "tab-pane active fade show" %}
		{% if self.comments_for_lesson %}
			<div id="comments_for_lesson" class="{{ pane_class }}" role="tabpanel">
				{% for block in self.comments_for_lesson %}{% include_block block %}{% endfor %}
				{% page_advert_body 'comments_for_lesson_bottom' page.page_type %}
			</div>
			{% assign pane_class "tab-pane fade" %}
		{% endif %}
		{% if self.body %}
			<div id="body" class="{{ pane_class }}" role="tabpanel">
				{% if user.must_pay and self.need_payment or request.GET.test %}
					{% if not userlesson %}
						{% include_30_block self.body 400 %}
						{% if not user.is_authenticated %}
							<div class="row">
								<div class="col-lg-12"><p>Доступ к материалам урока могут получить только зарегистрированные пользователи.</p></div>
								<div class="col-lg-12"><a href="{% url 'account_login' %}?next={{ request.path }}">
									<button class="btn btn-primary button-small" href="{% url 'account_login' %}">Войти</button>
								</a></div>
							</div>
						{% else %}
							<div class="row">
								<div class="col-lg-12"><p>Пожалуйста, активируйте урок, чтобы получить доступ к его материалам.</p></div>
								<div class="col-lg-12">
									<button class="btn btn-primary button-small" onclick="activateLesson('button')">Активировать урок</button>
								</div>
							</div>
						{% endif %}
					{% else %}
						{% for block in self.body %}{% include_block block %}{% endfor %}
					{% endif %}
				{% else %}
					{% if self.need_payment and user.must_pay  %}
						{% include_30_block self.body 400 %}
						<div class="row">
							<div class="col-lg-12"><p>Доступ к материалам урока могут получить только зарегистрированные пользователи.</p></div>
							<div class="col-lg-12"><a href="{% url 'account_login' %}?next={{ request.path }}">
								<button class="btn btn-primary button-small" href="{% url 'account_login' %}">Войти</button>
							</a></div>
						</div>
					{% else %}
						{% for block in self.body %}{% include_block block %}{% endfor %}
					{% endif %}
				{% endif %}
				{% page_advert_body 'body_bottom' page.page_type %}
			</div>
			{% assign pane_class "tab-pane fade" %}
		{% endif %}
		{% if self.dictionary %}
			<div id="dictionary" class="{{ pane_class }}" role="tabpanel">
				{% for block in self.dictionary %}{% include_block block %}{% endfor %}
				{% page_advert_body 'dictionary_bottom' page.page_type %}
			</div>
			{% assign pane_class "tab-pane fade" %}
		{% endif %}
		{% if self.summary %}
			<div id="resume" class="{{ pane_class }}" role="tabpanel">
				<div>
					{% page_advert_body 'resume_top' page.page_type %}
					{% with "https://files.le-francais.ru"|add:self.summary as document_url %}
						{% include 'blocks/document_viewer.html' %}
					{% endwith %}
					{% page_advert_body 'resume_bottom' page.page_type %}
				</div>
			</div>
			{% assign pane_class "tab-pane fade" %}
		{% endif %}
		{% if self.repetition_material %}
			{% if self.need_payment %}
				{% if not user.is_authenticated %}
				{% elif not user.must_pay %}
					<div id="revision" class="{{ pane_class }}" role="tabpanel">
						<div>
							{% page_advert_body 'revision_top' page.page_type %}
							{% with "https://files.le-francais.ru"|add:self.repetition_material as document_url %}
								{% include 'blocks/document_viewer.html' %}
							{% endwith %}
							{% page_advert_body 'revision_body' page.page_type %}
						</div>
					</div>
					{% assign pane_class "tab-pane" %}
				{% elif not userlesson %}
				{% else %}
					<div id="revision" class="{{ pane_class }}" role="tabpanel">
						<div>
							{% page_advert_body 'revision_top' page.page_type %}
							{% with "https://files.le-francais.ru"|add:self.repetition_material as document_url %}
								{% include 'blocks/document_viewer.html' %}
							{% endwith %}
							{% page_advert_body 'revision_body' page.page_type %}
						</div>
					</div>
					{% assign pane_class "tab-pane" %}
				{% endif %}
			{% else %}
				<div id="revision" class="{{ pane_class }}" role="tabpanel">
				{% if block_repetition_material %}
					{% include 'home/content_is_blocked.html' %}
				{% else %}
					<div>
						{% page_advert_body 'revision_top' page.page_type %}
						{% with "https://files.le-francais.ru"|add:self.repetition_material as document_url %}
							{% include 'blocks/document_viewer.html' %}
						{% endwith %}
						{% page_advert_body 'revision_body' page.page_type %}
					</div>
				{% endif %}
				</div>
			{% endif %}
			{% assign pane_class "tab-pane fade" %}
		{% endif %}
		{% if self.mail_archive and user.is_authenticated %}
			<div id="mail-archive" class="{{ pane_class }}" role="tabpanel">
				<h3>Дополнительная информация из&nbsp;почтовой рассылки</h3>
				<div>
					{% if user.must_pay and self.need_payment and not userlesson %}
						{% include_30_block self.mail_archive 40 %}
						<div class="row">
							<div class="col-lg-12"><p>Пожалуйста, активируйте урок, чтобы получить доступ к его материалам.</p></div>
							<div class="col-lg-12"><button class="btn btn-primary button-small" onclick="activateLesson('button')">Активировать урок</button></div>
						</div>
					{% else %}
						{% for block in self.mail_archive %}
							{% include block %}{% endfor %}
					{% endif %}
				</div>
			</div>
			{% assign pane_class "tab-pane fade" %}
		{% endif %}
		{% if self.exercise %}

				<div id="exercise" class="{{ pane_class }}" role="tabpanel">
					{% if block_exercise %}
						{% include 'home/content_is_blocked.html' %}
					{% else %}
						<div>
							{% for block in self.exercise %}
								{% include_block block %}
							{% endfor %}
						</div>
					{% endif %}
				</div>
				{% assign pane_class "tab-pane fade" %}
		{% endif %}
		{% if self.additional_exercise %}
			<div id="exercises_de_lecon" class="{{ pane_class }}" role="tabpanel">
				{% if block_additional_exercise %}
					{% include 'home/content_is_blocked.html' %}
				{% else %}
				<div>
					{% for block in self.additional_exercise %}
						{% include block %}
					{% endfor %}
				</div>
				{% endif %}
			</div>
            {% assign pane_class "tab-pane fade" %}
		{% endif %}
		{% if self.resume_populaire %}
			<div id="resume-populaire" class="{{ pane_class }}" role="tabpanel">
				{% if block_resume_populaire %}
					{% include 'home/content_is_blocked.html' %}
				{% else %}
					<div>
						{% for block in self.resume_populaire %}
							{% include block %}
						{% endfor %}
					</div>
				{% endif %}
			</div>
            {% assign pane_class "tab-pane fade" %}
		{% endif %}

		{% for child_value in self.other_tabs %}
			{% if not child_value.value.invisible_for_all or user.is_superuser %}{% if not child_value.value.visible_only_if_payed or already_payed %}<div id="{{ child_value.value.href }}" class="tab-pane fade" role="tabpanel">
				{% for block in child_value.value.body %}{% include_block block %}{% endfor %}
			</div>{% endif %}{% endif %}
		{% endfor %}
	</div>
</div>

<hr>
<div class="row controls text-center">
	<div class="col-12">{% assign prev self.get_prev_sibling %}
	{% assign next self.get_next_sibling %}
	{% if prev.content_type.name == 'lesson page' %}
		<a class="float-left btn btn-secondary" href="{{ self.get_prev_sibling.get_url }}"> Предыдущий
			урок </a>
	{% endif %}

	{% if next.content_type.name == 'lesson page' %}
		<a class="float-right btn btn-secondary" href="{{ self.get_next_sibling.get_url }}"> Следующий
			урок </a>
	{% endif %}
</div>
</div>
{% if self.has_own_topic %}
    <div class="row">
        <div class="col-12">{% include 'home/lesson_topic.html' with topic=self.topic %}</div></div>
{% endif %}
