{% extends "base.html" %}
{% load site_tags %}
{% load wagtailcore_tags %}
{% load static site_tags %}

{% block title %}Французский язык - {% if not self.seo_title %}Урок {{ self.lesson_number }}{% else %}{{ self.seo_title }}{% endif %}{% endblock %}
{% block extra_head %}
	{% advert_head page %}
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block description %}{% if self.search_description %}{{ self.search_description }}{% endif %}{% endblock %}

{% block extra_js %}
	{% check_user_lesson request.user self as userlesson %}
	<script async type="text/javascript"
	        src="{% static 'components/bootstrap-treeview/dist/bootstrap-treeview.min.js' %}"></script>
	{% if user.must_pay and self.need_payment or request.GET.test %}
		<script>
			let saw_message = {% if request.user.saw_message %}true{% else %}false{% endif %};
			let cups_amount = {{ request.user.cup_amount }};
			let cups_credit = {{ request.user.cup_credit }};
			function reloadLessonUrl() {
				$.ajax({
					type: 'POST',
					url: '/api/get_lesson_url/',
					data: {
						'csrfmiddlewaretoken': "{{ csrf_token }}",
						'lesson_number': '{{ self.lesson_number }}'
					},
					datatype: 'json',
					success: function (r) {
						if (r.status === 200){
							let audio = $('#lesson-audio')[0];
							let audioTime = audio.currentTime;
							audio.src(r.lesson_url);
							audio.load();
							audio.currentTime = audioTime;
							audio.play();
						}
						else {}
					}
				})
			}
			function errHandle(a){
				console.log("Error " + a.error.code + "; details: " + a.error.message);
			}

			activateSounds = ['composter-01.mp3','composter-02.mp3','composter-03.mp3','composter-04.mp3'];

			function playActivateSound(){
				let index = Math.floor(Math.random() * 1000) % 4;
				console.log(index);
        let src = ('https://files.le-francais.ru/sound/' + activateSounds[index]);
				let audio = $('<audio class="sound-player" autoplay="autoplay" style="display:none;">'
					+ '<source src="' + src + '" />'
					+ '<embed src="' + src + '" hidden="true" autostart="true" loop="false"/>'
					+ '</audio>'
				).appendTo('body');
				audio[0].play();
			}
			function activate() {
				$('.success-message').hide();
				$('.fail-message').hide();
				$('.waiting-message').show();
				playActivateSound();
				$('#lesson-activated-modal').modal('show');
				$.ajax({
					type: 'POST',
					url: '{% url "activate:activate_lesson" %}',
					data: {'csrfmiddlewaretoken': "{{ csrf_token }}", 'lesson_number': '{{ self.lesson_number }}'},
					datatype: 'json',
					success: function (r) {
						if (r.result === 'SUCCESS') {
							window.location.href = window.location.pathname+"?"+$.param({'modal_open':'lesson-activated-modal'});
						} else if (r.result === 'ZERO_CUPS') {
							$('.waiting-message').hide();
							if ((cups_amount < 0)&&(cups_credit === 0)){
								$('.unsofficiant-cups-credit').show()
							}
							$('.unsofficiant-cups').show();

						} else if (r.result === 'ALREADY') {
							$('.waiting-message').hide();
							$('.already-activated').show();

						} else if (r.result === 'NOT_AUTH') {
							$('.waiting-message').hide();
							$('.login-need').show();
						}
					}
				});
			}
			function disableActivButton() {
				let button = $('#activate-button');
				button.removeClass('btn-primary').addClass('btn-success');
				button.disabled = true;
			}
			function activateLesson(state) {
				switch (state) {
					case 'tab':
					case 'download':
					case 'ended':
						let audio = $('#lesson-audio')[0];
						localStorage['lecon-{{ self.lesson_number }}'] = audio.duration - 5;
					{% if not request.user.is_authenticated %}
						$('#listen-login-required-modal').modal('show');
					{% else %}
						if (saw_message){
							$('#lesson-not-activated-simple-modal').modal('show')
						}else{
							$('#lesson-not-activated-details-continue-modal').modal('show')
						}
					{% endif %}
						break;
					case 'button':
						if(saw_message){activateLesson('proceed')}else{$('#lesson-not-activated-details-activate-modal').modal('show')}
						break;
					case 'saw':
						sawMessage('make_true');
						break;
					case 'proceed':
					{% if not userlesson %}
						activate();
					{% endif %}
						break;
				}
			}

			{% if not userlesson %}
				window.addEventListener('lessonPlayerReady', function () {
					let downloadButton = $('.audioplayer-download-button')[0];
					downloadButton.addEventListener('click', function () {
						activateLesson('download');
					});
					let lessonAudio = $('#lesson-audio')[0];
					lessonAudio.addEventListener('ended', function () {
						activateLesson('ended')
					});
				});
			{% endif %}
		</script>
	{% endif %}
	<script>
		function getSuccessButton() {
			let new_button = $(
				"<button" +
				" class='coffee-button btn btn-success btn-xs'" +
				" disabled='disabled'" +
				" id='coffee-button'" +
				">" +
				"<img" +
				" id='coffee-button-image'" +
				" class='coffee-button-image'" +
				" src='{% static 'images/coffee-icons/buy_me_a_coffee-04.svg' %}'>" +
				"<div" +
				" id='coffee-button-text'" +
				" class='coffee-button-text'>" +
				"Вы уже угощали меня<br>за этот урок :)" +
				"</div>" +
				"</button>");
			$("#coffee-button").replaceWith(new_button);
		}
		function playCoffeeSound() {
			let coffeeAudio = new Audio('{% static 'snd/coffee.mp3' %}');
			coffeeAudio.play();
		}
		function showActivateMessage() {
			if (sawMessage()) {
				$('#lesson-not-activated-subsequent-modal').show()
			} else {
				$('#lesson-not-activated-first-modal').show()
			}
		}
		function sawMessage(val) {
			switch (val) {
				case 'get_state': {
					$.ajax({
						type: "POST",
						url: "{% url 'custom_user:saw_message' %}",
						data: {'csrfmiddlewaretoken': "{{ csrf_token }}", 'action': 'get_state'},
						success: function (r) {
							if (r.status === 200) {
								return true
							}
						}
					});
					break
				}
				case 'make_true': {
					saw_message = true;
					$.ajax({
						type: "POST",
						url: "{% url 'custom_user:saw_message' %}",
						data: {'csrfmiddlewaretoken': "{{ csrf_token }}", 'action': 'make_true'},
						success: function (r) {
							if (r.status === 200) {
								return true
							}
						}
					})
				}
			}

		}
		function giveMeCoffee() {
			$.ajax({
				type: "POST",
				url: "{% url 'give_me_a_coffee' %}",
				data: {
					'lesson_number': {{ self.lesson_number }},
					'user_email': "{{ request.user }}",
					'csrfmiddlewaretoken': "{{ csrf_token }}"
				},
				datatype: "json",
				success: function (response) {
					if (response.result === 'SUCCESS') {
						playCoffeeSound();
						$('#give-me-a-coffee-success-message').html(response.description);
						$('#give-me-a-coffee-complete-modal').modal('show');
						getSuccessButton();
					}
					else if (response.result === 'ALREADY') {
						$('#give-me-a-coffee-fail-message').html(response.description);
						$('#give-me-a-coffee-fail-modal').modal('show');
						getSuccessButton();
					}
					else {
						$('#give-me-a-coffee-fail-message').html(response.description);
						$('#give-me-a-coffee-fail-modal').modal('show');
					}
				},
				error: function (response, error) {
					$('#give-me-a-coffee-fail-message').html(error);
					$('#give-me-a-coffee-fail-modal').modal('show');
				},
			});
		}
	</script>

	{% if request.GET.modal_open %}
		{% with modal_id=request.GET.modal_open %}
			<script>
				$(document).ready(function () {
					$('#{{ modal_id }}').modal('show');
					{% if modal_id == 'lesson-activated-modal' %}
						$('.fail-message').hide();
						$('.waiting-message').hide();
						if ((cups_amount < 0)&&(cups_credit === 0)){$('.unsofficiant-cups-credit').show()}
						$('.success-message').show();
						$('#activated-message-ticket-count').text("{{ request.user.cups_amount }}");
					{% endif %}
					{% get_full_path as full_path %}
					{% if 'payment_success' in request.GET %}
						history.pushState({}, title = '', url = "{{ full_path }}");
					{% else %}
						history.pushState({}, title = '', url = "{{ full_path }}");
					{% endif %}
				});
			</script>
		{% endwith %}
	{% endif %}
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/lesson.css' %}">
	<link rel="stylesheet" href="{% static 'components/bootstrap-treeview/dist/bootstrap-treeview.min.css' %}">
	<style>
		.new-svg-button {
			cursor: pointer;
			height: 40px;
		}

		.new-svg-button:hover{
        -webkit-filter: drop-shadow( 5px 5px 5px #7d7d7d );
                filter: drop-shadow( 5px 5px 5px #7d7d7d );
		}
		.new-svg-button:active{
        -webkit-filter: drop-shadow( 2px 2px 2px #7d7d7d);
                filter: drop-shadow( 2px 2px 2px #7d7d7d );
		}
		.new-svg-button:focus{
        outline: -webkit-focus-ring-color auto 5px;
		}

		.activate-button{
			height: 32.5px;
			margin-top: 1rem;
			margin-bottom: 1rem;
		}

		.activated {
			cursor: not-allowed;
			-webkit-filter: none !important;
			        filter: none !important;
		}

		#coffee-button {
			cursor: pointer;
			display: flex;
			align-items: center;
			margin-bottom: 1rem;
			margin-top: 0.5rem;
		}
		#coffee-button:hover {}
		#coffee-button:active {
			background-image: none;
			outline: 0;
			-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
			color: #333;
			background-color: #e6e6e6;
			border-color: #adadad;
		}
		#coffee-button:focus {}
		.coffee-button-image {
			margin-right: 5px;
			display: block;
			height: 2.5em
		}
		.coffee-button-text {
			border-left: 1px solid #ccc;
			padding-left: 5px;
		}
	</style>
{% endblock %}

{% block meta %}
	<meta name="nav-root-id" data-value="{{ self.get_nav_root.id }}">
	<meta name="page-id" data-value="{{ self.id }}">
	{% if not self.show_in_sitemap %}<meta name=”robots” content=”noindex” />{% endif %}
{% endblock %}

{% block content %}
	{% check_user_lesson request.user self as userlesson %}
	{% assign url request.build_absolute_uri %}
	<div class="container-fluid">
		<div class="row main_row">
			<div class="sidebar-wrapper col-xs-3 _no-padding">
				<div id="sidebar"></div>
			</div>
			<button class="sidebar-collapse-button" type="button" data-toggle="toggle"
			        data-target=".sidebar-wrapper" aria-controls="sidebar" aria-expanded="false"
			        aria-label="Toggle sidebar">
				<div class="arrow-icon">
			</button>
			<div class="col-12 col-sm-9 col-lg-6 col-xlg-6 main">
				{% include 'home/lesson_content.html' %}
			</div>
			<div class="hidden-xs hidden-sm hidden-md col-lg-3 sidebar-right">
				{% page_advert_body 'sidebar' page.page_type %}
			</div>
		</div>
	</div>
	<!-- by-me-a-coffee-modals -->
	{% assign next "/coffee/check/?next="|add:request.path %}
	<div class="modal fade" id="give-me-a-coffee-modal" tabindex="-1" role="dialog" aria-labelledby="giveMeACoffeeLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				{% if user.is_authenticated %}
					{% if user.has_coffee or 'payment_success' in request.GET %}
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" style="text-align: center">Ура!</h4>
						</div>
						<div class="modal-body" style="text-align: center">
							<p>Вы угощаете меня стаканчиком кофе за этот урок.</p>
							<p>Все так?</p>
						</div>
						<div class="modal-footer" style="text-align: center">
							<p>
								<button type="button" class="btn btn-primary coffee-proceed" onclick="giveMeCoffee()" id="give-me-a-coffee-proceed" data-dismiss="modal">OUI !</button>
							</p>
							<p>Каждый раз, когда вы нажимаете эту кнопку, я получаю уведомление на телефон :)</p>
						</div>
					{% else %}

					{% endif %}
				{% else %}
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" style="text-align: center">Спасибо вам огромное за готовность нас поддержать!</h4>
					</div>
					<div class="modal-body" style="padding-left:25px; padding-right:25px ">
						<p>Чтобы продолжить, вам надо авторизоваться на сайте.</p>
						<p style="margin-bottom: 20px">Самое простое — это зайти, как пользователь одной из социальных сетей. В этом случае авторизация произойдет в пару кликов — просто нажмите на одну из цветных кнопок.</p>
						<!-- Social OAuth Buttons -->{% include 'account/oauth-buttons.html' with next=next %}
						<hr style="border-top: 2px solid #eee;">
						<p>Если вы уже зарегистрированы на сайте, зайдите, используя свой адрес e-mail и пароль.</p>
						<!-- LogIn Form -->{% include 'account/login_form.html' with redirect_field_value=next redirect_field_name="next" %}
						<p>Если вас нет в Сетях и вы еще не регистрировались на сайте,<br><a href="{% url 'account_signup' %}?next={{ next }}">давайте вам создадим новый аккаунт.</a></p>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="modal fade" id="give-me-a-coffee-complete-modal" tabindex="-1" role="dialog" aria-labelledby="giveMeACoffeeCompleteLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 style="text-align: center">Мы вам очень признательны.</h4>
				</div>
				<div class="modal-body">
					<p id="give-me-a-coffee-success-message">Считаем оставшиеся чашечки...</p>
					<p>Учите французский и получайте удовольствие! :)</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="give-me-a-coffee-fail-modal" tabindex="-1" role="dialog" aria-labelledby="giveMeACoffeeCompleteLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 style="text-align: center">Что-то пошло не так!</h4>
				</div>
				<div class="modal-body">
					<p id="give-me-a-coffee-fail-message"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
				</div>
			</div>
		</div>
	</div>
	{% if self.mail_archive and not user.is_authenticated %}
		<div class="modal fade" id="default-login-required-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body" style="padding-left:25px; padding-right:25px "><p>Чтобы увидеть содержимое, вам надо авторизоваться на сайте.</p></div>
					<div class="modal-footer" style="text-align: center">
						<button class="btn btn-primary" data-dismiss="modal">Закрыть</button>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	{% block payment_modals %}
		<div class="modal fade" id="give-me-a-coffee-payment-success-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						{% if not request.user.saw_message%}<h4>Спасибо за Ваше решение нас поддержать!</h4>{% else %}<h4>Спасибо, что остаётесь с нами!</h4>{% endif %}
					</div>
					<div class="modal-body">
						{% if not user.has_coffee and request.GET.modal_open == 'give-me-a-coffee-payment-success-modal' %}
							<img id="ten-seconds-loading-img" style="width:100%;" src="{% static 'images/loading_icon.gif' %}">
							<div class="ten-s-success" id="ten-seconds-success-message" style="display: none;">
								{% if not request.user.saw_message%}
									<p>Спасибо за Ваше решение нас поддержать! Добровольное пожертвование — это поступок, и мы это по-настоящему ценим.</p>
									<p>Вы угощаете нас стаканчиком кофе за этот урок.</p>
									<p>Все так?</p>
								{% else %}
									<p>Вы не пожалеете. Мы продолжим наш каждодневный труд над проектом, чтбы позволить вам получить максимум знаний, быстрее выучить французский — и получать от этого удовольствие. :)</p>
								{% endif %}
							</div>
							<div class="ten-s-fail" id="ten-seconds-failure-message" style="display: none;">
								<p style="color: red">Сервис по приему платежей до сих пор не прислал нам подтверждение о платеже.</p>
								<p>Обычно он это делает в течение секунды. Мы подождали еще десять -- тишина. :(</p>
								<p><b>Ваш платеж в любом случае не пропадет</b> -- просто мы о нем пока еще не получили уведомления. Попробуйте нажать здесь «Закрыть», затем перегрузить страницу и попробовать снова -- все должно получиться.
								</p>
								<p>Это будет чем-то из ряда вон, но если, паче чаяния, ничего не получится, пожалуйста, свяжитесь со мной -- мои контакты есть в разделе <a href="/contact/" target="_blank">Об авторах&nbsp;<i
										style="font-size: 10px" class="fas fa-external-link-alt"></i></a>.</p>
							</div>
							<script>
								function showWaitFailureMessage() {
									$('#ten-seconds-loading-img').hide();
									$('.ten-s-fail').each(function () {
										$(this).show()
									})
								}

								function showWaitSuccessMessage() {
									$('#ten-seconds-loading-img').hide();
									$('.ten-s-success').each(function () {
										$(this).show()
									})
								}

								function tenSecondsCheck() {
									window.dataLayer = window.dataLayer || [];
									dataLayer.push({'event': 'paymentWONotificationWHope'});
									let timesRun = 0;
									let success;
									let checkEverySec = setInterval(function () {
										if (timesRun === 5) {
											dataLayer.push({'event': 'paymentWONotification'});
											clearInterval(checkEverySec);
											showWaitFailureMessage()
										}
										$.ajax({
											type: "POST",
											url: "{% url 'get_amount' %}",
											data: {'csrfmiddlewaretoken': "{{ csrf_token }}"},
											datatype: "json",
											success: function (response) {
												if (response.coffee_amount > 0) {
													clearInterval(checkEverySec);
													showWaitSuccessMessage();
												}
											}
										});
										timesRun += 1;
									}, 2000)
								}

								$(document).ready(tenSecondsCheck())
							</script>
						{% else %}
							<p>Добровольное пожертвование — это поступок, и мы это по-настоящему ценим.</p>
							<p>Вы угощаете нас стаканчиком кофе за этот урок.</p>
							<p>Всё так?</p>
						{% endif %}
					</div>
					<div class="modal-footer" style="text-align: center">
						{% if not request.user.saw_message %}<button type="button" class="btn btn-primary ten-s-success coffee-proceed" onclick="giveMeCoffee()" id="give-me-a-coffee-after-payment-proceed" data-dismiss="modal"{% if not user.has_coffee %}
						        style="display: none"{% endif %}>OUI !
						</button>{% endif %}
						<button type="button" class="btn btn-primary ten-s-fail" id="ten-seconds-failure-dismiss-button" data-dismiss="modal" style="display: none">Закрыть</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="give-me-a-coffee-payment-fail-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4>Ошибка</h4>
					</div>
					<div class="modal-body">
						<p>Что-то пошло не так.</p>
						<p>:(</p>
					</div>
					<div class="modal-footer">
						<a href="{% url 'payments:payments' %}" type="button" class="btn btn-primary">Повторить</a>
						<button type="button" class="btn btn-default" data-dismiss="modal">В другой раз</button>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	{% if self.need_payment %}
		<div class="modal fade" id="listen-login-required-modal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
						<div class="modal-body">
							<p>Доступ к материалам урока могут получить только зарегистрированные пользователи. Пожалуйста, войдите на сайт под своим именем.</p>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default" {# style="float: left" #} data-dismiss="modal">Закрыть</button>
							<a href="{% url 'account_login' %}?next={{ request.path }}"><button class="btn btn-primary button-small" href="{% url 'account_login' %}">Войти</button></a>
						</div>
					</div>
				</div>
			</div>
	{% endif %}
	{% if user.must_pay and self.need_payment or request.GET.test %}
		{% if request.user.is_authenticated %}
			<div class="modal fade" id="lesson-not-activated-simple-modal" tabindex="-1" role="dialog" aria-labelledby="lesson-not-activated-simple-modal-label">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">Пожалуйста, активируйте урок, чтобы получить доступ ко всем его материалам.</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
						</div>
					</div>
				</div>
			</div>
			{% comment %}See the message modal window{% endcomment %}
			<div class="modal fade" id="lesson-not-activated-details-continue-modal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						{% if request.user.has_payed %}
							<div class="modal-header" style="text-align: center;"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h3>Пожалуйста, прочтите это!</h3></div>
							<div class=" modal-body"><p>Это то, чего вы ожидали от нас меньше всего, — и то, чего мы сами не хотели делать до
								последнего.</p>

								<p> Сегодня сто<em>и</em>т вопрос выживания всего проекта. Мы все перепробовали. И у нас не осталось другого выхода —
									нам приходится сделать часть уроков платными. Увы, таких, как вы — тех, кто помогал проекту добровольно, — оказалось очень немного. Нам не выжить.

									Мы сделали цену урока символической — она меньше стоимости одной поездки в автобусе
									(если взять билетов пачку). Чашечки кофе тут тоже принимаются. Если вы раньше просто переводили мне деньги и
									сообщили свой e-mail, мы сконвертировали их в уроки — проверьте, они должны уже быть на вашем балансе.</p>

								<p>У нас есть специальные предложения для студентов и пенсионеров — все детали мы опишем в письме, которое автоматически
									будет направлено вам на e-mail.</p>

								<details>
									<summary> Пожалуйста, прочтите мое обращение ниже под спойлером.</summary>
									<p><br>Большинство людей склонны не платить в тех случаях, когда этого можно избежать. Добровольные пожертвования,
										как оказалось, делают единицы. Вы — один из этих немногих. Вы поддерживали нас тогда, когда нам было трудно и
										когда большинство оставалось равнодушным.</p>

									<p>Платные уроки — это то, чего мы старались избежать всеми силами, но обстоятельства вынуждают нас сделать выбор: или так, или
										закрыть проект. Я хочу хотыбы попытаться дать ему шанс не сгинуть.</p>

									<p>Ваше добровольное пожертваоавание в прошлом ставит вас из ряда вон — вы выручили меня, когда я больше всего
										нуждался в помощи. Пусть это немного и символично, но я хотел бы хоть чем-то вас отметить. </p>
								</details>

							</div>
						{% else %}
							<div class="modal-header" style="text-align: center"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h3>Пожалуйста, прочтите это!</h3></div>
							<div class="modal-body"><p>Это то, чего вы ожидали от нас меньше всего, — и то, чего мы сами не хотели делать до
								последнего.</p>
								<p> Сегодня сто<em>и</em>т вопрос выживания всего проекта. Мы все перепробовали. И у нас не осталось другого выхода —
									нам приходится сделать часть уроков платными. Их цена символическая — меньше стоимости одной поездки в автобусе
									(для тех, кто возьмет билетов пачку).</p>
								<p>Чтобы это не застало вас врасплох, мы пустим в минус и позволим несколько раз прокатиться «зайцем в долг».</p>
								<p>У нас есть специальные предложения для студентов, пенсионеров и людей, как и мы, испытывающих большие затруднения
									в средствах — все детали мы опишем в письме, которое автоматически будет направлено вам на e-mail.</p>
								<details>
									<summary> Пожалуйста, прочтите мое обращение ниже под спойлером.</summary>
									<p><br>Люди охотно платят, когда плата мотивирована и разумна (сотовая связь, интренет, общественный транспорт
										и т.д.), и предсказуемо воздерживаются от платежей, когда их можно избежать — это совершенно
										рациональное поведение; полагаю, я сам поступаю так же.</p>
									<p>
										Мы поняли, что штучный продукт с уникальным контентом — даже когда он востребован и помогает здорово
										экономить — никогда не окупится, если расчитывать только на самоорганизацию пользователей и если не
										организовать сбор средств.</p>
									<p>
										Я искренне верю в то, что вы цените то, что мы делаем, и не считаете наши старания и наш труд не стоящими
										вознаграждения.</p>
									<p>Пожалуйста, поддержите нас и оставайтесь с нами!</p>
								</details>
							</div>
						{% endif %}
						<div class="modal-footer">
							<button data-dismiss="modal" onclick="activateLesson('saw')" id="lesson-not-activated-continue-button" class="btn btn-default">Продолжить</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="lesson-not-activated-details-activate-modal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						{% if request.user.has_payed %}
							<div class="modal-header" style="text-align: center;"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h3>Пожалуйста, прочтите это!</h3></div>
							<div class=" modal-body"><p>Это то, чего вы ожидали от нас меньше всего, — и то, чего мы сами не хотели делать до
								последнего.</p>

								<p> Сегодня сто<em>и</em>т вопрос выживания всего проекта. Мы все перепробовали. И у нас не осталось другого выхода —
									нам приходится сделать часть уроков платными. Увы, таких, как вы — тех, кто помогал проекту добровольно, — оказалось очень немного. Нам не выжить.

									Мы сделали цену урока символической — она меньше стоимости одной поездки в автобусе
									(если взять билетов пачку). Чашечки кофе тут тоже принимаются. Если вы раньше просто переводили мне деньги и
									сообщили свой e-mail, мы сконвертировали их в уроки — проверьте, они должны уже быть на вашем балансе.</p>

								<p>У нас есть специальные предложения для студентов и пенсионеров — все детали мы опишем в письме, которое автоматически
									будет направлено вам на e-mail.</p>

								<details>
									<summary> Пожалуйста, прочтите мое обращение ниже под спойлером.</summary>
									<p><br>Большинство людей склонны не платить в тех случаях, когда этого можно избежать. Добровольные пожертвования,
										как оказалось, делают единицы. Вы — один из этих немногих. Вы поддерживали нас тогда, когда нам было трудно и
										когда большинство оставалось равнодушным.</p>

									<p>Платные уроки — это то, чего мы старались избежать всеми силами, но обстоятельства вынуждают нас сделать выбор: или так, или
										закрыть проект. Я хочу хотыбы попытаться дать ему шанс не сгинуть.</p>

									<p>Ваше добровольное пожертваоавание в прошлом ставит вас из ряда вон — вы выручили меня, когда я больше всего
										нуждался в помощи. Пусть это немного и символично, но я хотел бы хоть чем-то вас отметить. </p>
								</details>

							</div>
						{% else %}
							<div class="modal-header" style="text-align: center"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h3>Пожалуйста, прочтите это!</h3></div>
							<div class="modal-body"><p>Это то, чего вы ожидали от нас меньше всего, — и то, чего мы сами не хотели делать до
								последнего.</p>
								<p> Сегодня сто<em>и</em>т вопрос выживания всего проекта. Мы все перепробовали. И у нас не осталось другого выхода —
									нам приходится сделать часть уроков платными. Их цена символическая — меньше стоимости одной поездки в автобусе
									(для тех, кто возьмет билетов пачку).</p>
								<p>Чтобы это не застало вас врасплох, мы пустим в минус и позволим несколько раз прокатиться «зайцем в долг».</p>
								<p>У нас есть специальные предложения для студентов, пенсионеров и людей, как и мы, испытывающих большие затруднения
									в средствах — все детали мы опишем в письме, которое автоматически будет направлено вам на e-mail.</p>
								<details>
									<summary> Пожалуйста, прочтите мое обращение ниже под спойлером.</summary>
									<p><br>Люди охотно платят, когда плата мотивирована и разумна (сотовая связь, интренет, общественный транспорт
										и т.д.), и предсказуемо воздерживаются от платежей, когда их можно избежать — это совершенно
										рациональное поведение; полагаю, я сам поступаю так же.</p>
									<p>
										Мы поняли, что штучный продукт с уникальным контентом — даже когда он востребован и помогает здорово
										экономить — никогда не окупится, если расчитывать только на самоорганизацию пользователей и если не
										организовать сбор средств.</p>
									<p>
										Я искренне верю в то, что вы цените то, что мы делаем, и не считаете наши старания и наш труд не стоящими
										вознаграждения.</p>
									<p>Пожалуйста, поддержите нас и оставайтесь с нами!</p>
								</details>
							</div>
						{% endif %}
						<div class="modal-footer">
							<button data-dismiss="modal" onclick="activateLesson('saw');activateLesson('proceed')" id="lesson-not-activated-activate-button" class="btn btn-default">Активировать</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="lesson-activated-modal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button class="close success-message fail-message unsofficiant-cups login-need already-activated" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="waiting-message" style="display: none;">Урок активируется</h4>
							<h4 class="success-message" style="display: none;">Урок активирован</h4>
							<h4 class="fail-message unsofficiant-cups login-need" style="display: none;">Упс!</h4>
							<h4 class="fail-message already-activated" style="display: none;">Хорошая новость!</h4>
						</div>
						<div class="modal-body">
							<div id="activated-message-waiting" class="waiting-message" style="display: none">
								<p>Пожалуйста, подождите, это займёт несколько секунд.</p>
								<img style="width:100%;" src="{% static 'images/loading_icon.gif' %}"></div>
							<div id="activated-message-success" class="success-message" style="display: none"><p>У вас в запасе уроков: <span id="activated-message-ticket-count">ХХХ</span>.<span class="unsofficiant-cups-credit" style="display: none"> Вы исчерпали кредит в 3 урока.</span></p></div>
							<div class="fail-message unsofficiant-cups" style="display: none"><p>А пуговки-то нету у левого кармана! (с) Билетики закончились еще в прошлый раз.<span class="unsofficiant-cups-credit" style="display: none">Вы исчерпали кредит в 3 урока.</span> Пора пополнить запас.</p></div>
							<div class="fail-message already-activated" style="display: none"><p>Вы уже активировали этот урок. Возможно, в другом окне или в другой жизни.</p></div>
							<div class="fail-message login-need" style="display: none"><p>Похоже, Вы вышли из своего аккаунта в другом окне, то есть завершили сессию, а в этом окне всё еще видите кнопку «Активировать». Выхода
								два: залогиниться по-новой и активировать урок или перезагрузить страницу — и кнопка исчезнет.</p></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default success-message" id="activated-dismiss-button" onclick="$('#lesson-activated-modal').modal('hide')">Закрыть</button>
							<a type="button" class="btn btn-primary fail-message unsofficiant-cups" id="activated-unsofficiant-cups-button" href="{% url 'payments:payments' %}?next={{ request.path }}">Пополнить запас</a>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			{% comment %}Need login modal window{% endcomment %}
		{% endif %}
	{% endif %}
{% endblock %}
