{% extends "base.html" %}
{% load static site_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 col-sm-3 col-md-2 sidebar" id="sidebar">
                {% if self.get_children %}
                    {% sidebar_menu parent=self %}
                {% else %}
                    {% sidebar_menu parent=self.get_parent calling_page=self %}
                {% endif %}
            </div>
            <div class="col-1 sidebar-collapse">
                <button class="sidebar-collapse-button" type="button" data-toggle="toggle"
                        data-target="#sidebar" aria-controls="sidebar" aria-expanded="false"
                        aria-label="Toggle sidebar">
                    <div class="arrow-icon">
                </button>
            </div>
            <div class="col-11 col-sm-7 offset-sm-3 g-col-md-8 offset-md-2 main">
                {% breadcrumb calling_page=self %}
                {{ page.body | safe }}
            </div>
        </div>
    </div>
{% endblock %}
