{% extends "base.html" %}
{% load static site_tags wagtailcore_tags forum_tags %}

{% block body_class %}template-homepage{% endblock %}
{% block description %}{% if self.search_description %}{{ self.search_description }}{% endif %}{% endblock %}
{% block extra_js %}
    <script type="text/javascript"
            src="{% static 'components/js/bootstrap-treeview.min.js' %}"></script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'components/css/bootstrap-treeview.css' %}">
{% endblock %}

{% block meta %}
    <meta name="nav-root-id" content="{{ self.get_nav_root.id }}">
    <meta name="page-id" content="{{ self.id }}">
		{% if not self.show_in_sitemap %}<meta name=”robots” content=”noindex” />{% endif %}
{% endblock %}

{% block extra_head %}
    {% advert_head page %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row main_row">
            <div class="sidebar-wrapper col-md-3 _no-padding">
                <div id="sidebar"></div>
            </div>
            <button class="sidebar-collapse-button" type="button" data-toggle="toggle"
                    data-target=".sidebar-wrapper" aria-controls="sidebar" aria-expanded="false"
                    aria-label="Toggle sidebar">
                <i class="arrow-icon"></i>
            </button>
            <div class="col-12 col-md-9 col-xl-6 col-xlg-6 main">
            {% if self.has_dictionary_words %}
                <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="#body">
                        Body
                    </a>
                    <a class="nav-link" href="#flash-cards">
                        Flash Cards
                    </a>
                </li>

                </ul>
            {% endif %}
                {% breadcrumb calling_page=self %}
                <h1>{{ page.title }}</h1>

                <div class="tab-pane active fade show" role="tabpanel" id="body">
                    {% for block in page.body %}{% include_block block %}
                    {% endfor %}{% page_advert_body 'body_bottom' page.page_type %}
                </div>



            {% if self.has_dictionary_words %}
                <div class="tab-pane fade" role="tabpanel" id="flash-cards">
                    {% include 'dictionary/dictionary_tab.html' with page=self hide_info=request.COOKIES.hide_flash_cards_info hide_my_woeds_alert_auth=request.COOKIES.hide_my_words_alert_auth hide_my_words_alert_not_auth=request.COOKIES.hide_my_words_alert_not_auth user=request.user request=request has_words_or_lesson=None %}
                </div>
            {% endif %}
            </div>
            <div class="d-none d-xl-flex col-xl-3 sidebar-right">
		        <div class="sidebar-last-topics block">
			        <h6>Последние обновления на&nbsp;форуме</h6>
			        {% last_topics 10 %}
		        </div>
		        <div class="sidebar-advertisements">
			        {% include_advertisements page_type=self.page_type placement='sidebar' in_house=True %}
		        </div>
	        </div>
        </div>
    </div>
{% endblock %}
