.idea
db.sqlite3
.env
Procfile.local
venv
*.pyc
/temp.html
/temp2.html
/avatar.jpg
/.log
/package-lock.json
/temp1.html
/html_files/
*/__pycache__
src
scripts

media
node_modules/

forum/dat
config.txt
