.idea
db.sqlite3
.env
Procfile.local
venv
*.pyc
staticfiles
ggroups2pybbm/*.dat
/le_francais/settings/production.py
/forum/avatars/
/forum/all_posts.txt
/forum/posts_ids.txt
/forum/out-of-forum_emails_list.txt
/forum/unique_nicknames.csv
/forum/Forum_users_resolved—new_approach_fixed.csv
/forum/oldforum1.dat
/src/
/temp.html
/temp2.html
/avatar.jpg
/npm-debug.log
/package-lock.json
/narodny_konspekt.csv
/temp1.html
/html_files/
home/locale/

media/
node_modules/
/old_site/
custom_user/migrations/0003_auto_20170914_1415.py
custom_user/migrations/0004_auto_20170917_1645.py
custom_user/migrations/0005_auto_20170918_1754.py
custom_user/migrations/0006_auto_20170918_1756.py
custom_user/migrations/0007_auto_20170918_1757.py
home/management/commands/_private.py
home/management/commands/add_redirects.py
home/management/commands/add_titles.py
home/management/commands/create_lesson_numbers.py
home/management/commands/cut_header.py
home/management/commands/find_urls.py
home/management/commands/fix_path.py
home/management/commands/move_pages.py
home/management/commands/save_pages.py
home/migrations/0003_indexreviewsreferences.py
home/static/components/bootstrap-treeview/
home/static/components/bootstrap/
home/static/components/jquery/
home/static/css/css_adapter.py
/media/
