pytz
dj-database-url==0.4.1
wagtail==2.1
dj-email-url
bs4==0.0.1
xmltodict==0.10.2
django >= 1.11.27, < 2.0.0
django-robots
gunicorn==19.6.0
psycopg2==2.7.3.2
python-dotenv
whitenoise
sorl-thumbnail==12.4a1
bbcode==1.0.24
google-api-python-client==1.6.2
oauth2client==4.0.0
django-allauth==0.37.0
social-auth-core
social-auth-app-django
mutagen
pysftp
markdown==2.6.11
urllib3
pymdown-extensions==5.0.0
django-mailer==1.2.6
django-comments-xtd
django-user-sessions
django-cron
django-timezone-field>=3.1, <4.0
django-braces
APScheduler==3.0.0
regex

django-user-agents
django-annoying
django-js-reverse
django-cors-headers

libsass
django-compressor
django-sass-processor

django-storages
boto3
google-cloud-texttospeech
eyed3
django-bulk-update
django-autocomplete-light==3.2.10
django-simple-captcha
django-bootstrap-form
django-postman==3.5.1
django-crispy-forms
django-registration
django-htmlmin
pydub
brotlipy
django-inline-svg
Pillow
django-npm

-e git+https://github.com/hovel/django-pure-pagination.git@4e5febe5f6df7fda8488b77fd827b8547d436f26#egg=django_pure_pagination
-e git+https://github.com/5CORNERS/pybbm.git#egg=pybbm
-e git+https://github.com/AntonDumov/django-recaptcha3.git#egg=django-recaptcha3

git+git://github.com/zostera/django-bootstrap4.git@d3e77d458c00ef97facd35997deaea7b8e311d9e

pymorphy2
pymorphy2-dicts
DAWG-Python
