dj-database-url==0.4.1
wagtail==2.1
dj-email-url
bs4==0.0.1
xmltodict==0.10.2
Django==1.11
django-robots
gunicorn==19.6.0
psycopg2==2.7.3.2
python-dotenv
whitenoise==3.3.0
sorl-thumbnail==12.4a1
bbcode==1.0.24
google-api-python-client==1.6.2
oauth2client==4.0.0
django-allauth
social-auth-core
social-auth-app-django
markdown
urllib3
pymdown-extensions
django-mailer
django-comments-xtd
django-mobile
django-user-sessions
django-cron
django-guardian

APScheduler==3.0.0

django-storages
boto3

django-simple-captcha
django-bootstrap-form
django-postman==3.5.1
django-crispy-forms
django-registration
django-htmlmin
brotlipy

Pillow

-e git+https://github.com/hovel/django-pure-pagination.git@4e5febe5f6df7fda8488b77fd827b8547d436f26#egg=django_pure_pagination
-e git+https://github.com/5CORNERS/pybbm.git#egg=pybbm