{% extends 'base.html' %}{% load humanize %}{% load static le_francais_donations %}

{% block title_suffix %} — Поддержите наш и ваш проект{% endblock %}
{% block content %}
    <div class="container support-page-container mt-4">
        <div class="row">
            <div class="col text-center">
                <h1 class="h1">
                    Поддержите наш и ваш проект&nbsp;&nbsp;&nbsp;</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <p>Ковид, а затем и события последнего времени
                    привели, с одной стороны, к росту наших расходов
                    на техническое содержание проекта, а с другой — к
                    многократному падению наших доходов. Проект
                    оказался буквально на пороге рентабельности.
                </p>
                <p>Пожалуйста, поддержите нас, чтобы мы могли
                    продолжать развивать le-francais.ru!
                </p>
                <p>Даже небольшой взнос нам поможет, а регулярные
                    платежи сделают нашу работу чуть более
                    предсказуемой.
                </p>

            </div>
        </div>
        <div class="mt-3">
            {% include_donation_form show_target=False default_target=3 %}
        </div>
        <div class="row">
            <div class="col">
                <br>
                <p>Если вы можете совершить пожертвование в
                    иностранной валюте, у нас есть мультивалютный
                    счет, на который можно совершать банковские
                    переводы. <b>Поступления в валюте для нас особенно
                        важны</b> (<span data-toggle="tooltip"
                                         title="Это для нас единственный источник средств для оплаты серверов, лицензий и многих других платных сервисов, которые используются в проекте и которые в большей своей части находятся за рубежом."
                                         class="underline"
                                         data-boundary="viewport"
                                         tabindex="0">почему?</span>).
                </p>
                <p>Реквизиты мультивалютного счета и список
                    поддерживаемых валют можно получить <a
                            href="/support/bank-transfer/"
                            target="_self"
                            title="Реквизиты мультивалютного счета">на
                        этой странице</a>. Она видна только
                    зарегистрированным пользователям.
                </p>

            </div>
        </div>
{#        <div class="row">#}
{#            <div class="col">#}
{#                Собрано на оборудование уже <b#}
{#                    style="font-size: 22px">{% acquired 3|intcomma %}#}
{#                ₽</b> из 42 990 ₽#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'donations/style.css' %}">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript"
            src="{% static 'donations/script.js' %}"></script>
{% endblock %}
