.dropdown-menu.notify-drop {
    left: -219px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .3);
}

.dropdown-menu.notify-drop {
    min-width: 320px;
    background-color: #fff;
    min-height: 360px;
    max-height: 360px;
}

.dropdown-menu.notify-drop:before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    bottom: 100%;
    left: 232px;
    border-width: 6px;
    margin: 0 -6px;
    border-bottom-color: #fafbfc;
}

.dropdown-menu.notify-drop .drop-content {
    min-height: 280px;
    max-height: 360px;
    overflow-y: scroll;
}

@media (min-height: 640px) {
        .dropdown-menu.notify-drop .drop-content {
            min-height: 280px;
            max-height: 560px;
    }
    .dropdown-menu.notify-drop {
        max-height: 560px;
}
}

@media (min-height: 720px) {
        .dropdown-menu.notify-drop .drop-content {
            min-height: 280px;
            max-height: 660px;
    }
    .dropdown-menu.notify-drop {
        max-height: 660px;
}
}

@media (min-width: 360px) {
    .dropdown-menu.notify-drop {
        left: -219px;
    }
}

@media (min-width: 576px) {
    .dropdown-menu.notify-drop {
        min-width: 410px;
        left: -315px;
    }

    .dropdown-menu.notify-drop:before {
        left: 328px;
    }
}

@media (min-width: 768px) {
    .dropdown-menu.notify-drop {
        min-width: 360px;
        left: -237px;
    }

    .dropdown-menu.notify-drop:before {
        left: 250px;
    }
}

@media (min-width: 992px) {
    .dropdown-menu.notify-drop {
        min-width: 360px;
        left: -304px;
    }

    .dropdown-menu.notify-drop:before {
        left: 317px;
    }
}

@media (min-width: 1200px) {
    .dropdown-menu.notify-drop {
        min-width: 360px;
        left: -290px;
    }

    .dropdown-menu.notify-drop:before {
        left: 304px;
    }
}

.dropdown-menu.notify-drop .notify {
    cursor: pointer;
}

.dropdown-menu.notify-drop .notify-drop-title {
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 15px 10px 15px;
    margin-bottom: 10px;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.dropdown-menu.notify-drop .drop-content > li {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0px 5px 0px;
    background-color: #fff;
}

.dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
    background-color: #fafafa;
}

.dropdown-menu.notify-drop .drop-content > li.not-visited {
    background-color: #bfd8ed;
}

.dropdown-menu.notify-drop .drop-content > li.not-visited:hover {
    background-color: #a0c1dc;
}

.dropdown-menu.notify-drop .drop-content > li:after {
    content: "";
    clear: both;
    display: block;
}

.dropdown-menu.notify-drop .drop-content > li:hover {
    background-color: #fcfcfc;
}

.dropdown-menu.notify-drop .drop-content > li:last-child {
    border-bottom: none;
}

.dropdown-menu.notify-drop .drop-content > li .notify-img {
    float: left;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0px 0px 8px 0px;
}

.dropdown-menu.notify-drop .allRead {
    margin-right: 7px;
}

.dropdown-menu.notify-drop .rIcon {
    float: right;
    color: #999;
}

.dropdown-menu.notify-drop .rIcon:hover {
    color: #333;
}

.dropdown-menu.notify-drop .drop-content > li a {
    font-size: 12px;
    font-weight: normal;
    color: #003b7a;
}

.dropdown-menu.notify-drop .drop-content > li {
    font-size: 12px;
}

.dropdown-menu.notify-drop .drop-content > li hr {
    margin: 5px 0;
    width: 70%;
    border-color: #e2e2e2;
}

.dropdown-menu.notify-drop .drop-content .pd-l0 {
    padding-left: 0;
}

.dropdown-menu.notify-drop .drop-content > li p {
    font-size: 12px;
    color: #666;
    font-weight: normal;
    margin: 3px 0;
}

.dropdown-menu.notify-drop .drop-content > li p.time {
    font-size: 10px;
    font-weight: 600;
    top: -6px;
    margin: 8px 0px 0px 0px;
    padding: 0px 3px;
    border: 1px solid #e2e2e2;
    position: relative;
    background-image: linear-gradient(#fff, #f2f2f2);
    display: inline-block;
    border-radius: 2px;
    color: #6894b9;
}

.dropdown-menu.notify-drop .drop-content > li p.time:hover {
    background-image: linear-gradient(#fff, #fff);
}

.dropdown-menu.notify-drop .notify-drop-footer {
    border-top: 1px solid #e2e2e2;
    bottom: 0;
    position: relative;
    padding: 8px 15px;
}

.dropdown-menu.notify-drop .notify-drop-footer a {
    color: #777;
    text-decoration: none;
}

.dropdown-menu.notify-drop .notify-drop-footer a:hover {
    color: #333;
}

.notify-badge {
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), -2px 3px 3px 1px rgba(0, 0, 0, 0.15);
    display: inline-block;
    font: 700 12px/18px Roboto, Arial, Helvetica, sans-serif;
    min-height: 18px;
    min-width: 18px;
    left: 17px;
    position: absolute;
    text-align: center;
    top: 6px;
    z-index: 1100;
    background-color: #FAA916;
    color: #000000;
}

.notify-icon {
    vertical-align: middle;
    font-size: 16px;
}
