{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top: 50px">
	<div class="row">
		<div class="col-xs-12">
			<form class="form-inline" method="post" action="{% url 'custom_user:admin_commands' %}">{% csrf_token %}
				<div class="form-group">
					<select name="action" class="form-control">
						<option value="add_cup">Добавить 1 чашку</option>
						<option value="add_minus_cup">Убрать 1 чашку</option>
						<option value="zero">Обнулить(не видел сообщения, убрать все чашки и активированные уроки)</option>
						<option value="switch_low_price">Переключить статус пенсионера/студента</option>
						<option value="switch_must_pay">Переключить статус должен/не должен платить за уроки</option>
					</select>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
		<div class="col-xs-12">
			cups_amount={{ request.user.cups_amount }}
		</div>
		<div class="col-xs-12">
			credit_cups_amount={{ request.user.cup_credit }}
		</div>
		<div class="col-xs-12">
			saw_message={{ request.user.saw_message }}
		</div>
		<div class="col-xs-12">
			low_price={{ request.user.low_price }}
		</div>
		<div class="col-xs-12">
			must_pay={{ request.user.must_pay }}
		</div>
	</div>
	<div class="row" style="margin-top: 1rem">
		<div class="col-xs-12">
			Активированные уроки:
		</div>
		{% for lesson in request.user.payed_lessons.all %}
			<div class="col-xs-12">
				<a href="{{ lesson.url }}">{{ lesson.slug }}</a>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}