{% extends "base.html" %}
{% load i18n %}{% load postman_tags %}
{% block title %}{% trans "Messaging" %}{% endblock %}
{% block extra_head %}
    {{ block.super }}
    <link type="text/css" media="all" rel="stylesheet" href="{% load static %}{% static 'postman/css/postman.css' %}" />
{% endblock %}

{% block main %}
    {% block postman_menu %}
    <div id="postman_menu" class="btn-group">{% postman_unread as unread_count %}
     <a class="btn btn-default" href="{% url 'postman:inbox' %}">{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a>
     <a class="btn btn-default" href="{% url 'postman:sent' %}">{% trans "Sent Messages" %}</a>
     <a class="btn btn-default" href="{% url 'postman:write' %}">{% trans "Write" %}</a>
     <a class="btn btn-default" href="{% url 'postman:archives' %}">{% trans "Archives" %}</a>
     <a class="btn btn-default" href="{% url 'postman:trash' %}">{% trans "Trash" %}</a>
    </div>
    {% endblock %}

{% endblock %}
