{% extends "./base.html" %}
{% load i18n postman_tags pybb_tags static %}

{% block extra_css %}
    {{ form.media.css }}
{% endblock %}

{% block extra_js %}
    {{ form.media.js }}
	<script async
	        type="text/javascript"
	        src="{% static 'pybb/js/pybbjs.js' %}"></script>
	<script async src="//extraimage.net/sdk/pup.js" data-url="https://extraimage.net/upload" data-auto-insert="markdown-embed"></script>
{% endblock %}

{% block postman_content %}
<div id="postman">
<h1>{% if pm_messages|length > 1 %}{% trans "Conversation" %}{% else %}{% trans "Message" %}{% endif %}</h1>

{% pybb_get_profile request.user as request_user_profile %}

{% for message in pm_messages %}
    {% pybb_get_profile message.sender as sender_profile %}
    <table class="table table-bordered post post-row">
        <thead>
            <tr>
                <td class="post-author">
                    <a href="{% url 'pybb:user' message.sender.username %}">
                        <span class="post-username">{{ message.sender.username }}</span>
                    </a>
                </td>
                <td class="post-date">
                    <div class="post-control">
                        <a href="#" title="{% trans 'quote selected' %}" class="quote-selected-link"><i class="glyphicon glyphicon-hand-down"></i></a>
                    </div>
                    {{ message.subject }}
                    {% if request_user_profile.date_show_type == 1 %}{{ message.sent_at }}{% else %}{{ message.sent_at|timesince }} {% trans "ago" %}{% endif %}
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="post-info">
                    {% include "pybb/avatar.html" with profile=sender_profile %}
                    <div>
                        {% trans "Member since" %}: {{ message.sender.date_joined|date:'d E Y' }}
                    </div>
                    {% if not message.sender %}
                        <div class="badge badge-warning">{% trans 'blocked' %}</div>
                    {% endif %}
                </td>
                <td class="post-content">
                    {{ message.aor_message.body_html|safe|default:message.body|linebreaksbr }}
                </td>
            </tr>
        </tbody>
    </table>

    {% if forloop.last %}
        <form action="" method="post">{% csrf_token %}
            <input type="hidden" {% if pm_messages|length > 1 and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} />

            <a href="{{ next_url }}" class="btn btn-secondary">{% trans "Back" %}</a>
            <span id="pm_buttons">
                <button class="btn btn-danger btn-sm" type="submit" onclick="this.form.action='{% url 'postman:delete' %}?next={{ next_url|urlencode }}'">
                    {% trans "Delete" %}{% if pm_messages|length > 1 and message.thread_id %} {% trans "all thread" %}{% endif %}
                </button>
                {% if not archived %}
                    <button class="btn btn-warning btn-sm" type="submit" onclick="this.form.action='{% url 'postman:archive' %}?next={{ next_url|urlencode }}'">
                        {% trans "Archive" %}{% if pm_messages|length > 1 and message.thread_id %} {% trans "all thread" %}{% endif %}
                    </button>
                {% endif %}
            </span>
        </form>

        {% if reply_to_pk %}<hr />
            <h2>{% trans 'Reply' %}</h2>
            <form action="{% url 'postman:reply' reply_to_pk %}?next={{ next_url|urlencode }}" method="post">{% csrf_token %}
                <div id="pm_reply">{{ form.body }}</div>
                <button type="submit" class="btn btn-primary">{% trans 'Reply' %}</button>
            </form>
        {% endif %}
    {% endif %}
{% endfor %}
</div>
{% endblock %}
