{% extends "django_comments_xtd/base.html" %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{% trans "Comment reply" %}{% endblock %}

{% block header %}
<a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
{% endblock %}

{% block content %}
<h5 class="text-center">{% trans "Reply to comment" %}</h5>
<hr/>
<div class="row">
  <div class="col-lg-offset-1 col-md-offset-1 col-xl-10 col-lg-10">
    <div class="media">
      <div class="media-left">
        {% if comment.user_url %}
            <a href="{{ comment.user_url }}">
                {% include "pybb/avatar.html" with profile=comment.user.pybb_profile PYBB_AVATAR_WIDTH=48 PYBB_AVATAR_HEIGHT=48 %}
            </a>
        {% else %}
            {% include "pybb/avatar.html" with profile=comment.user.pybb_profile PYBB_AVATAR_WIDTH=48 PYBB_AVATAR_HEIGHT=48 %}
        {% endif %}
      </div>
      <div class="media-body">
        <h6 class="media-heading">
          {{ comment.submit_date|date:"N j, Y, P" }}&nbsp;-&nbsp;
          {% if comment.user_url %}
          <a href="{{ comment.user_url }}" target="_new">{% endif %}
          {{ comment.user }}{% if comment.user_url %}</a>{% endif %}
        </h6>
        <p>{{ comment.comment }}</p>
      </div>
    </div>
    <div class="visible-lg-block visible-md-block">
      <hr/>
    </div>
  </div>
</div>
<div class="card card-body card card-body-lg">
  {% include "comments/form.html" %}
</div>
{% endblock %}
