{% extends 'pybb/base.html' %}
{% load pybb_tags i18n %}

{% block title %}{{ target.username }} {% trans "posts" %}{% endblock %}


{% block breadcrumb %}
    {% with extra_crumb=_("posts") %}
        {% include "pybb/breadcrumb.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="posts">
        {% for post in object_list %}
            {% ifchanged post.topic.forum %}
                <h1>{{ post.topic.forum.name }}</h1>
            {% endifchanged %}
            {% ifchanged post.topic %}
                <h2>{{ post.topic.name }}</h2>
            {% endifchanged %}
            {% include "pybb/post_template.html" %}
        {% endfor %}
    </div>
    <div>&nbsp;</div>
    {% with _('Posts') as label %}
        {% include "pybb/pagination.html" %}
    {% endwith %}

{% endblock %}
