{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-12">
                <form action="{% url 'forum:statistics' %}" method="post">
                    {% csrf_token %} {{ form }} <input type="submit"
                                                       value="Submit"/>
                </form>
            </div>
        </div>

        {% if users_count %}
            <div class="row mt-2">
                <div class="col-12">
                    Уникальных пользователей: {{ users_count }}
                </div>
                <div class="col-12">
                    Постов: {{ posts_count }}
                </div>
            </div>
        {% endif %}

    {% if posts_statistics_by_weeks %}
        <table class="table">
            <tr>
                <th>
                    Range Start
                </th>
                <th>
                    Range End
                </th>
                <th>
                    Users Count
                </th>
                <th>
                    Posts Count
                </th>
            </tr>
            {% for x in posts_statistics_by_weeks %}
                <tr>
                    <td>{{ x.range.0|date:"d-m-Y" }}</td>
                    <td>{{ x.range.1|date:"d-m-Y" }}</td>
                    <td>{{ x.users_count }}</td>
                    <td>{{ x.posts_count }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    </div>


{% endblock %}
