{% extends 'dictionary/messages/base.html' %}
{% load site_tags %}

{% block titile %}У Вас накопилось много слов на повторение. Рассказываем, как с этим справиться и почему это нужно
    сделать.{% endblock %}
{% block body %}
    <p>Добрый день! Мы заметили, что у Вас в карточках накопилось {% message repetitions_count 'слово' 'слова' 'слов' %},
        которые Вы давно не повторяли. Метод интервальных повторений, который реализован в наших карточках, дает
        впечатляющий результат, но чтобы он сработал, нужно с заданной периодичностью возвращаться к пройденным словам.
        Что сделать — так устроена наша память!</p>
    <p>Мы рассчитываем интервал для повторений на основе результатов Ваших самопроверок, и чем строже Вы соблюдаете это
        расписание, тем надежнее будет результат. Всего 10-15 минут в день позволят набирать вокабуляр без
        дополнительных усилий и с хорошим темпом. Не филоньте! :)</p>
    <p>Тот объем слов, который накопился, карточкам будет сложно загрузить в один присест. Чтобы с этой проблемой
        справиться, мы предусмотрели лайфхак: в <a
                href="{% url 'dictionary:my_words' %}?lesson_pk=88888888">приложении «Мои слова»</a> в перечне уроков
        первым пунктом идут Слова на
        повторение. После получения всего списка слов можно делать из него выборки меньшего размера и разбить повторение
        слов на несколько сеансов — и таким образом переломить весь пучок по прутику. :)</p>
    <p>Учите французский эффективно и получайте удовольствие!</p>
    <p>Команда le-francais.ru</p>
{% endblock %}