{% extends 'dictionary/messages/base.html' %}
{% block title %}У Вас накопилось прилично слов на повторение. Рассказываем, как это разрулить.{% endblock %}
{% block body %}
    <p>Добрый день! Мы заметили, что у Вас накопилось {% message repetitions_count 'слово' 'слова' 'слов' %} для
        повторения. Такое количество слов карточкам будет
        сложно их разом загрузить. Чтобы с этой проблемой справиться, мы предусмотрели лайфхак: в <a
                href="{% url 'dictionary:my_words' %}?lesson_pk=88888888">приложении «Мои
            слова»</a>
        в перечне уроков первым пунктом идут Слова на повторение. После получения списка слов можно делать из него
        выборки меньшего размера и разбить повторение слов на несколько сеансов — и таким образом переломить весь пучок
        по прутику. :)</p>
    <p>В наших карточках реализован метод интервальных повторений. Мы рассчитываем эти интервалы на основе результатов
        Ваших самопроверок — чем строже Вы соблюдаете это расписание, тем надежнее результат. Всего 10-15 минут в день
        позволят набирать вокабуляр без дополнительных усилий и в хорошем темпе.</p>
    <p>Учите французский эффективно и получайте удовольствие!</p>
    <p>Команда le-francais.ru</p>
{% endblock %}