.signal {
  display: block;
  content: ' ';
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
  background-repeat: no-repeat;
}

.signal-null {
  background-image: url('../img/signal-bars-null.svg');
}

.signal-0 {
  background-image: url('../img/signal-bars-0.svg');
}

.signal-1 {
  background-image: url('../img/signal-bars-1.svg');
}

.signal-2 {
  background-image: url('../img/signal-bars-2.svg');
}

.signal-3 {
  background-image: url('../img/signal-bars-3.svg');
}

.signal-4 {
  background-image: url('../img/signal-bars-4.svg');
}

.signal-5 {
  background-image: url('../img/signal-bars-5.svg');
}

.deleted {
  text-decoration: line-through;
}

.footable-filtering {
  display: none;
}

.funnel-filter-button {
  display: inline-block;
  content: ' ';
  background-size: 24px 15px;
  height: 17px;
  width: 16px;
  background-image: url(../img/filter-0.svg);
  background-repeat: no-repeat;
}

.lamp-icon {
  display: block;
  content: ' ';
  background-size: 24px 26px;
  height: 26px;
  width: 22px;
  background-image: url(../img/lamp.svg);
  background-repeat: no-repeat;
}

.cell-stars {
  font-size: 0.8rem;
}
