.signal{
  display: block;
  content: ' ';
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
}

.signal-null {
  background-image: url('../img/signal-bars-null.svg');
}

.signal-0 {
  background-image: url('../img/signal-bars-0.svg');
}

.signal-1 {
  background-image: url('../img/signal-bars-1.svg');
}

.signal-2 {
  background-image: url('../img/signal-bars-2.svg');
}

.signal-3 {
  background-image: url('../img/signal-bars-3.svg');
}

.signal-4 {
  background-image: url('../img/signal-bars-4.svg');
}

.signal-5 {
  background-image: url('../img/signal-bars-5.svg');
}
