{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<div class="popover-title"><h2>Регистрация</h2></div>
				<form role="form" class="form-horizontal" method="post" action="{% url 'registration_register' %}">
					{% csrf_token %}
					<div class="form-group">
						<p>
						<div class="input-group">
							<input class="form" id="{{ form.email.id_for_label }}" maxlength="100"
							       name="{{ form.email.html_name }}" placeholder="Email" type="email"
							       required="required">
							{{ field.errors }}
						</div>
						</p>
						<p>
						<div class="input-group">
							<input class="form" id="{{ form.username.id_for_label }}" maxlength="50"
							       name="{{ form.username.html_name }}" placeholder="Nickname" type="text"
							       required="required">
							{{ field.errors }}
						</div>
						</p>
						<p>
						<div class="input-group"><input class="form" id="{{ form.password1.id_for_label }}"
						                                maxlength="255" name="{{ form.password1.html_name }}"
						                                placeholder="Password" type="password" required="required">
							{{ field.errors }}
						</div>
						</p>
						<p>
						<div class="input-group"><input class="form" id="{{ form.password2.id_for_label }}"
						                                maxlength="255" name="{{ form.password2.html_name }}"
						                                placeholder="Confirm password" required="required">
							{{ field.errors }}
						</div>
						</p>
					</div>

					<input type="submit" value="{% trans 'Submit' %}"/>
				</form>
			</div>
			<div class="col-xs-4"></div>
		</div>
	</div>{% endblock %}
