{% extends 'mass_mailer/base.html' %}
{% block titile %}{{ subject }}{% endblock %}
{% block body %}
    <p>Добрый день, {{ username }} Это Илья Думов, le-francais.ru.</p>
    <p>Как видите, я отправляю письма не редко, а исключительно редко — раз в несколько месяцев. И заметьте: по
        достойным
        поводам. Есть такой и на этот раз.</p>
    <p>Мы запустили на сайте <a href="https://www.le-francais.ru/conjugaison/" rel="nofollow" target="_blank"
                                title="Новая версия спрягателя">новую версию спрягателя глаголов</a> — уже третью по
        счету.
        Помимо наших старых фишек типа поиска по всем формам спряжения с разруливанием опечаток, понимания неправильной
        раскладки клавиатуры и правильной подстветки окончаний, в этот раз <strong>мы добавили спряжение в отрицательной
            и
            вопросительной формах, а также в пассивном залоге</strong> — и все это в любых сочетаниях с уже имеющимися —
        общим числом 24 комбинации.</p>
    <p>И что важно: все эти формы спряжения — а у нас в итоге получился справочник на 168,000+ страниц — теперь <em>полностью
        озвучены</em>. В Рунете нам теперь нет равных!</p>
    <hr>
    <p>Еще хочу написать <strong>о Наталье Николаевне</strong>, Вашем преподавателе французского.</p>
    <p>Напрямую она не участвует в этом проекте, но это она в записях приносит вам знания и делает это потрясающе
        интересно
        и завораживающе. Если Вам по-настоящему нравятся ее уроки, у Вас есть теперь возможность лично выразить ей свою
        благодарность и восхищение в виде персонального короткого сообщения, подкрепленного небольшим пожертвованием — в
        том
        в объеме, который Вы сочтете возможным. Это сообщение можно оставить в своем комментарии к пожеотвованию, где Вы
        сможете написать слова благодарности. Такие переводы и теплые слова задают настроение на целый день, поверьте!.
        Подарите сегодня вашему преподавателю хорошее настроение! :) Вот номер личной карточки Наташи в Сбербанке,
        которую я
        попросил ее завести специально для Ваших пожеотвований: 5336 6902 3807 0538. Вы понимаете, я не для себя об этом
        пишу — я даже не узнаю, что там промеж вас произойдет. :)</p>
    <p>А еще Наташа преподает по Скайпу (finalement!:). Так что теперь есть возможность заниматься с ней лично. Ей можно
        написать на nplastinina@yandex.ru — сказать добрый слова и договориться о занятиях.</p>
    <hr>
    <p>И напоследок — наши <strong>карточки с глаголами</strong>, которые уже появились у многих уроков под вкладкой
        “Глаголы” (из-за одних карточек тревожить бы не стал, но тут уж, чтобы два раза не вставать:).</p>
    <p>Это не то же самое, что карточки со словами — здесь нет интервальных повторений, — но отчасти они схожи. Я сам
        когда-то учил спряжение глаголов таким способом, поэтому в глагольных карточках мы воплотили этот успешный опыт.
        Как
        именно это работает, я описал в небольшой статье <a
                href="https://www.le-francais.ru/lecons/bibliotheque/comment-apprendre-la-conjugaison-fran%C3%A7aise/"
                rel="nofollow" target="_blank" title="Как быстро запомнить спряжение глаголов">Как быстро запомнить
            спряжение глаголов</a>. Об одном сожалею: что о ту пору, когда я учил спряжения «продвинутых» времен
        глаголов, у
        меня не было таких карточек. Не потому, что не мог, — мог! А потому что поленился. Вам-то теперь хорошо-о-о! :)
    </p>
    <hr>
    <p>Вы помните, да? я начинал с нашего спрягателя. Он без дураков лучший на сегодня. C’est vraiment ça ! Я буду
        признателен Вам, если Вы поможете нам рассказать о нем всем любителям французского. У нас и баннер есть для
        этого
        случая:</p>
    <p><img alt="Лучший спрягатель французских глаголов в Рунете"
            src="https://files.le-francais.ru/images/mail/we-are-the-best.jpg"
            title="Лучший спрягатель французских глаголов в Рунете"></p>
{% endblock %}
{% block unsubscribe_url %}{{ unsubscribe_url }}{% endblock %}
