{% extends 'mass_mailer/base.html' %}
{% load mass_mailer_tags %}
{% block body %}
<p>Добрый день! Это Илья Думов, автор le-francais.ru. Мы с Вами заочно знакомы — Вы занимаетесь на моем сайте. Я заметил, что Вы
    {{ last_payment.date|date:'d-m-Y' }} приобрели
        {% message last_payment.cups_count 'чашечку' 'чашечки' 'чашечек' %} и до сих пор {% if last_payment.cups_count > 1 %}их{% else %}eё{% endif %} не расходуете.
</p>

<p>Дело в том, что на страничках уроков рядом с плеером есть кнопочка
    «Поблагодарить». Когда Вы на нее нажимаете, расходуется одна чашечка, а в
    ответ мы предлагаем всякие полезные полезности: на самых младших уроках это
    только удаление рекламы на страничке (по правилам мы не можем ее скрыть без
    перезагрузки, поэтому этот эффект проявится при следующем заходе на
    страничку), а далее Вам откроются многие полезные дополнительные материалы,
    доступ к которым мы предоставляем только тем, кто нас поддерживает. Поэтому
    тратьте чашечки, не лишайте себя всяких бонусов! :)</p>

<p>Спасибо Вам за нашу поддержку!<br>
    Учите французский и получайте удовольствие!</p>

<p>P.S. Если у Вас возникнут вопросы по поводу этого сообщения, не стесняйтесь
    задавать их <a href="https://www.le-francais.ru/forum/topic/3139/">в этой ветке форума</a>.</p>

<p>С уважением,<br>
    Илья Думов<br>
    Le-francais.ru</p>
{% endblock %}
