{% extends 'mass_mailer/base.html' %}
{% block title %}{{ subject }}{% endblock %}
{% block body %}
    {% if username %}
        <p>Здравствуйте, {{ username }}!</p>
    {% else %}
        <p>Добрый день!</p>
    {% endif %}
    <p>Это Илья Думов, автор сайта <a href="https://www.le-francais.ru"
                                      title="Французский язык как удовольствие">le-francais.ru</a>. Мы с Вами заочно
        знакомы — Вы когда-то учили на моем сайте французский язык и писали на форуме — оттуда я Вас и знаю. :) </p>
    <p>Я давно собирался Вам написать. Вам и всем тем, кто когда-то учился на сайте. Дело в том, что три с небольшим
        года назад я сделал проект le-francais.ru главным делом в своей жизни. Год спустя я запустил новую версию сайта
        и форума и тогда же хотел поделиться этой новостью со всеми моими старыми подписчиками (в как еще наполнить
        жизнью обновленный проект!), но подошел к этому вопросу с такой осторожностью, что кажется, переборщил. :)</p>
    <p><strong>Я чувствовал себя Робинзоном Крузо, у которого сохранилась одна единственная спичка</strong>, которую
        можно использовать только один раз, и этот раз должен быть обставлен так, чтобы ни в коем случае не случилось
        осечки — уж если и беспокоить людей, то по достойному поводу. Вот и результат: я так и не сделал этого до
        сегодняшнего дня! За два с лишним года!</p>
    <p>Я идиот, что говорить! И написать Вам сегодня меня побудил уже другой повод. Тут уж некуда отступать. Что ж,
        придется убивать сразу двух зайцев. :) Не сочтите за труд дочитать это письмо до конца, здесь будет
        действительно полезная для Вас информация.</p>
    <h3>Итак, заяц первый.</h3>
    <p>Вы удивитесь, узнав, что я «перепер вашу бургундскую полечку на родной язык» (с) — мы перетащили все содержимое
        старого форума из Google Groups на наш новый сайт. Это была исключительно хитроумная операция, потому что мы
        перетянули не только все сообщения, но и (внимание!) всех пользователей с их именами и (sic!) даже
        аватарками(!!).</p>
    <p>Да, да! На нашем сайте Вы УЖЕ есть как пользователь, <strong>Вы можете зайти под своим именем, увидеть все свои
        старые сообщения и даже их редактировать.</strong> Это же фантастика! Я очень горжусь этим нашим успехом, потому
        что это была действительно нетривиальная задача, на ее решение мы ухлопали несколько месяцев.</p>
    <p>Согласитесь, это был достойный повод Вам написать! Ужасно корю себя, что не сделал этого раньше. Но лучше поздно,
        чем никогда. </p>
    <p>Итак, дуйте на <a href="https://www.le-francais.ru" rel="nofollow" target="_blank"
                         title="Французский язык как удовольствие">le-francais.ru</a>, нажимайте там в верхнем меню
        «Войти» и прочитайте там маленькое вступление — оно адресовано именно тем, кто прежде писал на старом форуме. В
        двух словах: <em>входить надо через красную кнопочку «Google»</em> — и тогда Вы попадете прямо в свой аккаунт,
        который уже два года ждет Вас. :) <a href="https://www.le-francais.ru/accounts/login/?next=/"
                                             title="Войти в свой аккаунт — через красную кнопочку Google!">Пробуйте
            скорей! :)</a></p>
    <h3>А теперь заяц второй.</h3>
    <p>Я запустил краудфандинг-проект на Планете.ру. Еще в декабре. Мы собирали средства на создание корпуса
        интерактивных упражнений ко всем урокам на сайте (их там нынче 300+). Это отдельная история — как запускаются
        такие проекты. Могу похвастать: я за месяц, с нуля, целиком и полностью своими руками снял и смонтировал
        четырехминутный ролик к этому проекту — со всякими даже модными эффектами. Это рассказ о моем детище. Ужасно
        горжусь своим роликом! :) <a href="https://planeta.ru/campaigns/le-francais-ru"
                                     title="Мой проект на planeta.ru">Сходите туда</a> уже ради того только, чтобы
        посмотреть плод моих усилий, не пожалеете! :)</p>
    <p>Кстати, упражнения эти для нас делает Наташа — та самая Наташа, Наталья Николаевна, гениальный преподаватель
        французского, чей голос Вы слышали в моих записях уроков. </p>
    <p>На сегодня мы собрали 95% от заложенной суммы. Все эти средства целиком пойдут Наташе — для себя я не заложил там
        ни копейки. И правильно сделал — до окончания проекта осталась чуть больше недели, а мы не собрали еще даже
        этого минимума.</p>
    <p>И вот моя просьба: помогите нам добрать этот остаток. Нужно совсем немного небольших вкладов, чтобы закрыть
        проект в плюсе (и сократить комиссию платформы вдвое!). А если нам удастся собрать немножко больше, значит и мой
        труд не останется без вознаграждения, и возможно, мы сможем для сайта запустить еще какой-нибудь полезный
        проект. Вот <a href="https://www.le-francais.ru/forum/topic/3127/"
                       title="Ветка на форуме о нашем краудфандинг-проекте">ветка форума, посвященная нашему
            краудфандингу</a> — к концу срока она даже как-то оживилась. :)</p>
    <p>А вообще на сайте СТОЛЬКО всего нового, что я даже заикаться тут об этом не буду — просто <a
            href="https://www.le-francais.ru/forum/forum/31/"
            title="Обо всех новых фишках на сайте">пробегитесь глазами по заголовкам новостей</a> — Вам понравится! :)
    </p>
    <p>Извините за столь длинное письмо! Я не умею писать короткие тексты, да и информации надо было сообщить немало. Я
        очень признателен Вам за Ваше время и внимание и буду вдвойне признателен, если Вы заглянете к нам на огонек на
        сайт и посмотрите мой ролик, а может быть даже и поучаствуете в краудфандинге.</p>
    <p>Bonne journée !</p>
    <p>Cordialement<br>
        Илья Думов<br>
        www.le-francais.ru<br>
        Учите французский и получайте удовольствие!</p>
{% endblock %}
{% block unsubscribe %}Если Вы не хотите получать от меня письма, пожалуйста, перейдите <a href="{{ unsubscribe_url }}">по этой ссылке</a>. Хотя, как видите, я не опасен ;){% endblock %}