{% extends 'mass_mailer/base.html' %}
{% load mass_mailer_tags %}
{% block titile %}Непотраченные чашечки{% endblock %}
{% block body %}
<p>Добрый день! Это Илья Думов, автор le-francais.ru. Мы с Вами заочно
знакомы — Вы учите французский на моем сайте. Я вижу, что
Вы нас поддержали — {{ last_payment.date|date:'d.m.Y' }} Вы приобрели {% message last_payment.cups_count 'чашечку' 'чашечки' 'чашечек' %}. Спасибо Вам большое за поддержку!
Тем, кто нам помогает, мы в ответ предлагаем разные полезные полезности. Но увы, Вы не пользуетесь этими возможностями. Поэтому я Вам и пишу.</p>

<p>Дело в том, что на страничках уроков рядом с плеером есть кнопочка
«Поблагодарить». Когда Вы на нее нажимаете, расходуется одна чашечка, а
в ответ мы удаляем рекламу из текстов на страничке (по правилам мы не
можем ее скрыть без перезагрузки, поэтому этот эффект проявляется при
следующем заходе на страничку), а начиная с десятых
уроков открываем очень полезные дополнительные материалы,
доступ к которым мы предоставляем только тем, кто нас поддерживает.
Поэтому тратьте чашечки, не лишайте себя этих бонусов! :)</p>

<p>Еще раз спасибо Вам за Вашу поддержку!<br>
    Учите французский и получайте удовольствие! :)</p>

<p>P.S. Если у Вас возникнут вопросы по поводу этого сообщения, не
стесняйтесь задавать их <a
        href="https://www.le-francais.ru/forum/topic/3139/">в этой
    ветке форума</a>.</p>

<p>С уважением,<br>
    Илья Думов<br>
    Le-francais.ru
</p>
{% endblock %}
{% block unsubscribe_url %}{{ unsubscribe_url }}{% endblock %}
