{% block image_div %}
    <div class="col-2">
        <div class="notify-img">
            {% block img %}
                <img src="{{ self.image.url }}" height="10px" alt="">
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block data_div %}
    <div class="col-10">
        <div class="notify-text">{% block text %}{{ self.html|safe }}{% endblock %}</div>
        <p class="time">{% block time %}{{ self.datetime_creation|timesince }} назад{% endblock %}</p>
    </div>
{% endblock %}
