{% load user_agents ads %}

{% if block.value.disable == False %}
    {% if gpt_disabled %}
        {% include_ad ad_unit_name=block.value.advertisement.name ad_unit_placement_codes='inline_block' utm_source=utm_source sizes_str='[[["v", [0, 0]],[[125,125][180,150][200,200][250,250][300,250][336,280][468,60][728,90]]]]'%}
    {% else %}
        {% if request|is_pc %}
            <div class="inline-ads">
        {% else %}
            <div class="inline-ads inline-ads-mobile">
        {% endif %}
    {{ block.value.advertisement.body | safe }}</div>
    {% endif %}
{% endif %}
