{% extends 'mass_mailer/base.html' %}
{% block titile %}{{ subject }}{% endblock %}
{% block body %}
    {% if next_after_payment_activation %}
        <p>Добрый день!</p>
        <p>Это Илья Думов, Le-francais.ru. Я вижу, что Вы приобрели чашечку
            кофе и поблагодарили нас
            за {{ next_after_payment_activation.lesson.lesson_number }}-й урок.
            Спасибо Вам за этот квант помощи! Мы очень это ценим, потому что
            лишь небольшой процент тех, кто учится на сайте, нас поддерживает.
            И тем, кто нам помогает, мы в ответ предлагаем разные плюшки.</p>
        <p>Когда Вы нажимаете на кнопочку «Поблагодарить» на страничке урока,
            расходуется чашечка, а в ответ мы удаляем рекламу из текстов на ней
            (по правилам мы не можем ее скрыть без перезагрузки, поэтому этот
            эффект проявляется при следующем заходе на страничку), а на
            некоторых уроках открываем очень полезные дополнительные материалы,
            доступ к которым мы предоставляем только тем, кто нас
            поддерживает.</p>
        <p>Мы рассчитываем, что Вас и дальше будут радовать наши уроки.
            Покупайте виртуальные чашечки, благодарите за уроки и получайте
            полезные бонусы! :) А кто возьмет билетов пачку, тот, как известно,
            сэкономит. :)</p>
        <p>Еще раз спасибо за поддержку! Учите французский и получайте
            удовольствие! :)</p>
        <p>Cordialement<br>ILYA DUMOV<br>le-francais.ru</p>
    {% else %}
        <p>Добрый день!</p>
        <p>Это Илья Думов, Le-francais.ru. Я вижу, что Вы приобрели на сайте
            чашечку кофе. Спасибо Вам за этот квант помощи! Мы очень это ценим,
            потому что лишь небольшой процент тех, кто учится на сайте, нас
            поддерживает. И тем, кто нам помогает, мы в ответ предлагаем разные
            плюшки.</p>
        <p>Дело в том, что на страничках уроков рядом с плеером есть кнопочка
            «Поблагодарить». Когда Вы на нее нажимаете, расходуется одна
            чашечка, а в ответ мы удаляем рекламу из текстов на ней (по
            правилам мы не можем ее скрыть без перезагрузки, поэтому этот
            эффект проявляется при следующем заходе на страничку), а на
            некоторых уроках открываем очень полезные дополнительные материалы,
            доступ к которым мы предоставляем только тем, кто нас
            поддерживает.</p>
        <p>Я надеюсь, что Вас и дальше будут радовать наши уроки. Покупайте
            виртуальные чашечки, благодарите за уроки и получайте полезные
            бонусы! А кто возьмет билетов пачку, тот, как известно, сэкономит.
            :)</p>
        <p>Еще раз спасибо за поддержку! Учите французский и получайте
            удовольствие! :)</p>
        <p>Cordialement<br>ILYA DUMOV<br>le-francais.ru</p>
    {% endif %}
{% endblock %}
{% block unsubscribe_url %}{{ unsubscribe_url }}{% endblock %}
