{% extends 'base.html' %}
{% load ads %}
{% block content %}
    {% include_ad ad_unit_name='test_ad_unit0' ad_unit_placement_codes='test_placement' sizes_str='540px, 728px, 100%' utm_source='test' %}
{#    {% include_ad ad_unit_name='test_ad_unit1' ad_unit_placement_codes='test_placement' sizes_str='540px, 728px, 100%' utm_source='test' %}#}
{#    {% include_ad ad_unit_name='test_ad_unit2' ad_unit_placement_codes='test_placement' sizes_str='540px, 728px, 100%' utm_source='test' %}#}
{#    {% include_ad ad_unit_name='test_ad_unit3' ad_unit_placement_codes='test_placement' sizes_str='540px, 728px, 100%' utm_source='test' %}#}
{#    {% include_ad ad_unit_name='test_ad_unit4' ad_unit_placement_codes='test_placement' sizes_str='540px, 728px, 100%' utm_source='test' %}#}
{#    {% include_ad ad_unit_name='test_ad_unit5' ad_unit_placement_codes='test_placement' sizes_str='540px, 728px, 100%' utm_source='test' %}#}
{% endblock %}
