{% load wagtailcore_tags ads %}
{% if gpt_disabled %}
    {% include_ad snippet.code snippet.placement snippet.sizes_json utm_source adsense=True adsense_page_type=snippet.page_type adsense_placement=snippet.placement wo_script=False %}
{% else %}
    {% for block in body %}
        {% include_block block %}
    {% endfor %}
    {% if placement == 'sidebar' %}
        <script>
            h = $('body > div._content > div > div > div.hidden-xs.hidden-sm.hidden-md.col-xl-3.sidebar-right').height();
            if (h < 1200) {
                $('body > div._content > div > div > div.hidden-xs.hidden-sm.hidden-md.col-xl-3.sidebar-right > div.advert_bottom').hide()
            }
        </script>
    {% endif %}
{% endif %}
