{% load i18n %}
<footer class="footer">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="row text-left">
                <ul class="hr">
                    <li>
                        <a href="/contact">Об авторах</a>
                    </li>
                    <li class="{% if calling_page.url == menuitem.url %}{% endif %}">
					    <a href="/changements">Что происходит?</a>
				    </li>
                    <li>
                        <a href="/qui-est-la">Кто&nbsp;здесь?!&nbsp;&#169;</a>
                    </li>
                    <li>
                        <a href="/bourse-de-l-emploi">Биржа&nbsp;труда</a>
                    </li>
                    <li>
                        <a href="/terms_of_use">Условия использования</a></li>
                    <li><a href="//vk.com/le_francais_ru" class="btn btn-social-icon btn-sm btn-vk"
                           target="_blank"><span
                            class="fa fa-vk"></span></a>
                    </li>
                    <li><a href="//www.facebook.com/groups/lefrancais.ru/"
                           class="btn btn-social-icon btn-sm btn-facebook" target="_blank">
                        <span class="fa fa-facebook"></span></a>
                    </li>
                    <li>
                        <a href="//plus.google.com/+Le-francaisRu" class="btn btn-social-icon btn-sm btn-google"
                           target="_blank">
                            <span class="fa fa-google-plus"></span>
                        </a>
                    </li>
                    <li>
                        <a href="//twitter.com/le_francais_ru" class="btn btn-social-icon btn-sm btn-twitter"
                           target="_blank">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
</footer>