{% load site_tags %}
{% if not hide %}
<script id="script-{{ id }}">
    debugger;
	let ad_elements_{{ id }} = [
		{% for ad in ads %}
			$("<div style='margin-bottom: 10px' id='{{ ids|index:forloop.counter0 }}' class='__{{ ad.placement }}'</div>"),
		{% endfor %}
	];
	let parent_container_{{ id }} = $('#script-{{ id }}').parent();
    {% if sidebar %}
	let last_{{ id }} = ad_elements_{{ id }}.pop();
	let n_{{ id }} = ~~(parent_container_{{ id }}.height()/1000);
	parent_container_{{ id }}.append(ad_elements_{{ id }}[0]);
	var i;
	for (i = 1; i < n_{{ id }} && i < ad_elements_{{ id }}.length; i++){
		parent_container_{{ id }}.append(ad_elements_{{ id }}[i]);
	}
	if (i < n_{{ id }}) {
		parent_container_{{ id }}.append(last_{{ id }})
	}
    {% else %}
        for (i=0; i < ad_elements_{{ id }}.length; i++){
            parent_container_{{ id }}.append(ad_elements_{{ id }}[i])
        }
    {% endif %}
</script>
<script>
	var gptadslots = [];
	var googletag = googletag || {cmd: []};
	googletag.cmd.push(function () {
	{% for mapping in mappings %}
		{% if mapping %}var {{ mapping.name }} = {{ mapping.script }};{% endif %}
	{% endfor %}
	{% for ad in ads %}
		gptadslots.push(googletag.defineSlot('/21671132665/{{ ad.adunit_code }}', {{ ad.adunit_sizes }}, '{{ ids|index:forloop.counter0 }}')
			{% if ad.size_mapping %}.defineSizeMapping({{ ad.size_mapping.name }}){% endif %}
			.addService(googletag.pubads()));
	{% endfor %}
		googletag.pubads().enableLazyLoad({
			fetchMarginPercent: 500,
			renderMarginPercent: 200,
			mobileScaling: 2.0
		});
		googletag.enableServices();
	});

	let adunits_{{ id }} = document.querySelectorAll('div[id^="{{ id }}-"]');
	for (let i = 0; i < adunits_{{ id }}.length; i++) {
		googletag.cmd.push(function () {
			googletag.display(adunits_{{ id }}[i].getAttribute('id'));
		});
	}

</script>
{% endif %}
