{% load site_tags %}
{% if not hide %}
<script id="script-{{ id }}">

    let script_{{ id }} = function () {
        let scriptID = '{{ id }}';
        let isSidebar
        {% if is_sidebar %}
        isSidebar = true;
        {% else %}
        isSidebar = false;
        {% endif %}
        let adElements = [
            {% for ad in ads %}
            $("<div style='margin-bottom: 10px' id='{{ ids|index:forloop.counter0 }}' class='__{{ ad.placement }}'</div>"),
            {% endfor %}
        ];
        let parentContainer = $(`#script-${scriptID}`).parent();
        if (isSidebar) {
            let last = adElements.pop();
            let maxNumber = ~~(parentContainer.height() / 1000);
            parentContainer.append(adElements[0]);
            let i;
            for (i = 1; i < maxNumber && i < adElements.length;i++) {
                parentContainer.append(adElements[i]);
            }
            if (i < maxNumber) {
                parentContainer.append(last)
            }
        } else {
            for (const adElement of adElements) {
                parentContainer.append(adElement)
            }
        }

        let gptadslots = [];
        let googletag = googletag || {cmd: []};
        googletag.cmd.push(function () {
        {% for mapping in mappings %}
            {% if mapping %}let {{ mapping.name }} = {{ mapping.script }};{% endif %}
        {% endfor %}
        {% for ad in ads %}
            gptadslots.push(googletag.defineSlot('/22823653324/{{ ad.adunit_code }}', {{ ad.adunit_sizes }}, '{{ ids|index:forloop.counter0 }}')
                {% if ad.size_mapping %}.defineSizeMapping({{ ad.size_mapping.name }}){% endif %}
                .addService(googletag.pubads()));
        {% endfor %}
            googletag.pubads().enableLazyLoad({
                fetchMarginPercent: 500,
                renderMarginPercent: 200,
                mobileScaling: 2.0
            });
            googletag.enableServices();
        });

        let adUnits = document.querySelectorAll('div[id^="{{ id }}-"]');
        for (let i = 0; i < adUnits.length; i++) {
            googletag.cmd.push(function () {
                googletag.display(adUnits[i].getAttribute('id'));
            });
        }
    }
    script_{{ id }}()

</script>
{% endif %}
