{% load static %}
<div class="coffee-card card-select{% if n == 0 %} coffee-card-disabled{% endif %}"
     data-cardSelect>
    <div class="card-container">
        <div class="card-header">{{ card.title | safe }}</div>
        {% if n == 0 %}
            <div class="card-description"
                 style="padding-left: 12px">
                <div class="card-description-text">
                    {% if card.price1 %}
                        {{ card.price1 | safe }}{% endif %}</div>
            </div>
        {% else %}
            <div class="card-price">
                {% if card.price1 %}
                    {{ card.price1 | safe }}{% endif %}</div>
        {% endif %}
        <div class="card-image-container lazy-image-container">
            <img class="card-image" loading="lazy" data-aspect="1"
                 alt="{{ card.title }}"
                 src="{% static card.image %}">
        </div>
        <div class="card-fullprice">
            {% if card.price2 %}{{ card.price2 | safe }}
                ₽{% else %}&nbsp;{% endif %}</div>
        <div class="card-description">
            <div class="card-description-text">
                {% if card.description %}
                    {{ card.description | safe }}{% endif %}</div>
        </div>
    </div>
    <button type="submit" role="button"
            {% if n == 0 %}
            data-toggle="modal"
            data-target="#oneCupDisabledModal"
            {% else %}
            onclick="initPayment({{ card.item_id }})"
            {% endif %}
            class="btn btn-primary btn-block">Беру!
    </button>
</div>
