{% load pybb_tags %}
<div class="avatar">
    <a href="{% url 'pybb:user' profile.user.username %}">
        {% if profile.avatar %}
            {% if 'sorl.thumbnail'|check_app_installed %}
                {% include 'pybb/_sorl_thumbnail_avatar.html' %}
            {% elif 'easy_thumbnails'|check_app_installed %}
                {% include 'pybb/_easy_thumbnail_avatar.html' %}
            {% else %}
                <img src="{{ profile.avatar.url }}" alt="{{ profile.user.username }} avatar" width="{{ PYBB_AVATAR_WIDTH }}" height="{{ PYBB_AVATAR_HEIGHT }}"/>
            {% endif %}
        {% else %}
            <img src="{{ PYBB_DEFAULT_AVATAR_URL }}" alt="default avatar" width="{{ PYBB_AVATAR_WIDTH }}" height="{{ PYBB_AVATAR_HEIGHT }}"/>
        {% endif %}
    </a>
</div>