{% load pybb_tags forum_tags %}
<div class="avatar" >
    {% if profile.avatar %}
        {% if 'sorl.thumbnail'|check_app_installed %}
            {% include 'pybb/_sorl_thumbnail_avatar.html' %}
        {% elif 'easy_thumbnails'|check_app_installed %}
            {% include 'pybb/_easy_thumbnail_avatar.html' %}
        {% else %}
            <img src="{{ profile.avatar.url }}" alt="{{ profile.user.username }} avatar" width="{{ PYBB_AVATAR_WIDTH }}" height="{{ PYBB_AVATAR_HEIGHT }}" style="max-width: {{ PYBB_AVATAR_WIDTH }}px;"/>
        {% endif %}
    {% else %}
        {% avinit_initials profile.user.username PYBB_AVATAR_WIDTH %}
    {% endif %}
    </a>
</div>
