{% extends 'pybb/base.html' %}
{% load i18n %}
{% load forum_tags %}

{% block title %}{{ PYBB_DEFAULT_TITLE }}{% endblock title %}

{% block breadcrumb %}
    {% with extra_crumb=_("Список форумов") %}
        {% include "pybb/breadcrumb.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 block" style="overflow: auto; height: 366px">
                        <h6>{% trans "Последние сообщения" %}</h6>
                        {% last_topics %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 block" style="overflow: auto; height: 366px">
                        <h6>{% trans "Самое обсуждаемое" %}</h6>
                        {% top_topics %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-group top-page-controls">
        <a href="{% url 'pybb:topic_latest' %}"
           class="btn btn-default">
            {% trans "Last updates in topics" %}
        </a>
        {% if user.is_authenticated %}
            <a href="{% url 'pybb:mark_all_as_read' %}"
               class="btn btn-default">
                {% trans "Mark all forums as read" %}
            </a>
        {% endif %}
    </div>
    {% if categories %}
        {% for category in categories %}
            {% include 'pybb/category.html' %}
        {% endfor %}
    {% else %}
        <h2>{% trans "Forum categories are not created" %}</h2>
        <a href="{% url 'admin:pybb_category_add' %}"
           class="btn btn-primary">
            {% trans "Add a category now" %}
        </a>
    {% endif %}
    <div class="btn-group">
        <a href="{% url 'pybb:topic_latest' %}"
           class="btn btn-default">
            {% trans "Last updates in topics" %}
        </a>
        {% if user.is_authenticated %}
            <a href="{% url 'pybb:mark_all_as_read' %}"
               class="btn btn-default">
                {% trans "Mark all forums as read" %}
            </a>
        {% endif %}
    </div>
{% endblock content %}
