{% extends 'pybb/topic.html' %}

{% load i18n static %}

{% block title %}{% trans "Move post to another topic" %}{% endblock title %}

{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'chosen/chosen.css' %}">
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#move_to_topic').chosen({ search_contains: true });
        });
    </script>
{% endblock %}

{% block content %}
    <form action="{% url 'move_post_processing' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" name="move_from_topic" value="{{ topic.id }}" />

        <label class="control-label" for="move_to_topic">
            {% trans 'Choose topic where to move post' %}
        </label>
        <div class="controls">
            <select name="move_to_topic" id="move_to_topic" class="form-control">
                {% for mtt in move_to_topic_list %}
                    {% ifchanged mtt.forum.id %}
                        {% if not forloop.first %}</optgroup>{% endif %}
                        <optgroup label="{{ mtt.forum.name }}">
                    {% endifchanged %}
                            <option value="{{ mtt.id }}" {% if mtt.id == topic.id %}selected{% endif %}>
                                {{ mtt.name }}
                            </option>
                        {% if forloop.last %}</optgroup>{% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="topic">
            <h1>{{ topic.name }}</h1>
            {% with _('Posts') as label %}
                {% include "pybb/pagination.html" %}
            {% endwith %}

            <div class="posts">
                {% if first_post %}{% ifnotequal first_post post_list.0 %}
                    {% with first_post as post %}
                        <li class="first_post">{% include "pybb/post_template.html" %}</li>
                    {% endwith %}
                {% endifnotequal %}{% endif %}
                {% for post in post_list %}
                    {% cycle 'odd' 'even' as rowcolors silent %}
                    {% include "pybb/post_template.html" %}
                {% endfor %}
            </div>

            {% with _('Posts') as label %}
                {% include "pybb/pagination.html" %}
            {% endwith %}
        </div>
        <input class="btn btn-danger" type="submit" value="{% trans 'Move selected posts' %}" />
    </form>
{% endblock %}