{% extends 'pybb/base.html' %}

{% load pybb_tags i18n staticfiles %}

{% block title %}{{ topic }}{% endblock %}

{% block canonical %}<link rel="canonical" href="https://www.le-francais.ru{{ topic.get_absolute_url }}{% if page_obj.number %}?page={{ page_obj.number }}{% endif %}"/>{% endblock %}

{% block extra_style %}
    {{ form.media.css }}
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    {{ form.media.js }}
    <script type="text/javascript" src="{% static 'pybb/js/jquery.formset.min.js' %}"></script>
{% endblock %}

{% block breadcrumb %}
    {% with object=topic %}
        {% include "pybb/breadcrumb.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="controls btn-group top-page-controls">
            {% if user.is_moderator %}
                {% if topic.sticky %}
                    <a class="btn btn-default" href="{% url 'pybb:unstick_topic' topic.id %}">{% trans "Unstick topic" %}</a>
                {% else %}
                    <a class="btn btn-default" href="{% url 'pybb:stick_topic' topic.id %}">{% trans "Stick topic" %}</a>
                {% endif %}

                {% if topic.closed %}
                    <a class="btn btn-default" href="{% url 'pybb:open_topic' topic.id %}">{% trans "Open topic" %}</a>
                {% else %}
                    <a class="btn btn-default" href="{% url 'pybb:close_topic' topic.id %}">{% trans "Close topic" %}</a>
                {% endif %}
                {% if perms.pybb.change_topic and user.is_staff %}
                    <a class="btn btn-default" href="{% url 'admin:pybb_topic_change' topic.id %}">{% trans 'Admin' %}</a>
                {% endif %}
                {% comment %}
                    <a class="btn" href="{% url 'pybb:merge_topics' %}?topic={{ topic.id }}">{% trans 'Merge topics' %}</a>
                {% endcomment %}
            {% endif %}

            {% if user.is_subscribed %}
                <a class="btn btn-default" href="{% url 'pybb:delete_subscription' topic.id %}?from_topic">Больше не получать уведомления о новых постах в этой теме</a>
            {% elif user|pybb_may_subscribe_topic:topic %}
                <a class="btn btn-warning" href="{% url 'pybb:add_subscription' topic.id %}">{% trans "Subscribe" %}</a>
            {% endif %}
        </div>
    {% endif %}
    {% include 'pybb/topic_topic.html' %}
{% endblock %}
