{% load pybb_tags i18n staticfiles site_tags %}
{% block extra_head %}
    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
    </script>

    <script>
      googletag.cmd.push(function() {
        var mapping = googletag.sizeMapping().
            addSize([1040, 0], [728, 90]).
            addSize([527, 0], [468, 60]).
            addSize([395, 0], [336, 280]).
            addSize([359, 0], [300, 250]).
            addSize([309, 0], [250, 250]).
            addSize([259, 0], [200, 200]).
            addSize([239, 0], [180, 150]).
            addSize([184, 0], [125, 125]).build();
        googletag.defineSlot('/21671132665/lf_fr_topic_inl_01', [[728, 90], [250, 250], [336, 280], [180, 150], [200, 200], [300, 250], [468, 60], [125, 125]], 'div-gpt-ad-1520856365174-0').defineSizeMapping(mapping).addService(googletag.pubads());
        googletag.defineSlot('/21671132665/lf_fr_topic_ina_02', [[728, 90], [250, 250], [336, 280], [180, 150], [200, 200], [300, 250], [468, 60], [125, 125]], 'div-gpt-ad-1520856365174-1').defineSizeMapping(mapping).addService(googletag.pubads());
        googletag.defineSlot('/21671132665/lf_fr_topic_ina_03', [[728, 90], [250, 250], [336, 280], [180, 150], [200, 200], [300, 250], [468, 60], [125, 125]], 'div-gpt-ad-1520856365174-2').defineSizeMapping(mapping).addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
      });
    </script>
{% endblock %}

<div class="topic">
    <h1>{{ topic.name }}</h1>
    {% with _('Posts') as label %}
        {% include "pybb/pagination.html" %}
    {% endwith %}

    {% if topic.poll_type != 0 %}
        {% include 'pybb/poll.html' %}
    {% endif %}

    <div class="posts">
        {% if first_post %}{% ifnotequal first_post post_list.0 %}
            {% with first_post as post %}
                <li class="first_post">{% include "pybb/post_template.html" %}</li>
            {% endwith %}
        {% endifnotequal %}{% endif %}
        {% for post in post_list %}
            {% cycle 'odd' 'even' as rowcolors silent %}
            {% include "pybb/post_template.html" %}
{#            {% ifequal post post_list.0 %}{% include "ads/topic_top.html" %}{% endifequal %}#}
{#            {% ifequal post post_list.9 %}{% include "ads/topic_middle.html" %}{% endifequal %}#}
{#            {% ifequal post post_list.19 %}{% include "ads/topic_bottom.html" %}{% endifequal %}#}
            {% forum_advert forloop.counter0 post_list.count %}
        {% endfor %}
    </div>
    <div>&nbsp;</div>
    {% with _('Posts') as label %}
        {% include "pybb/pagination.html" %}
    {% endwith %}

    {% if user.is_authenticated %}
        <div class="controls btn-group">
            {% if user.is_moderator %}
                {% if topic.sticky %}
                    <a class="btn btn-default"
                       href="{% url 'pybb:unstick_topic' topic.id %}">{% trans "Unstick topic" %}</a>
                {% else %}
                    <a class="btn btn-default"
                       href="{% url 'pybb:stick_topic' topic.id %}">{% trans "Stick topic" %}</a>
                {% endif %}

                {% if topic.closed %}
                    <a class="btn btn-default" href="{% url 'pybb:open_topic' topic.id %}">{% trans "Open topic" %}</a>
                {% else %}
                    <a class="btn btn-default"
                       href="{% url 'pybb:close_topic' topic.id %}">{% trans "Close topic" %}</a>
                {% endif %}
                {% if perms.pybb.change_topic and user.is_staff %}
                    <a class="btn btn-default"
                       href="{% url 'admin:pybb_topic_change' topic.id %}">{% trans 'Admin' %}</a>
                {% endif %}
                {% comment %}
                        <a class="btn" href="{% url 'pybb:merge_topics' %}?topic={{ topic.id }}">{% trans 'Merge topics' %}</a>
                    {% endcomment %}
            {% endif %}

            {% if user.is_subscribed %}
                <a class="btn btn-default" href="{% url 'pybb:delete_subscription' topic.id %}?from_topic">Больше не
                    получать уведомления о новых постах в этой теме</a>
            {% elif user|pybb_may_subscribe_topic:topic %}
                <a class="btn btn-warning" href="{% url 'pybb:add_subscription' topic.id %}">Получать уведомления о
                    новых постах в этой теме</a>
            {% endif %}
        </div>
    {% endif %}

    <div id="create_post">{% if user.is_authenticated or PYBB_ENABLE_ANONYMOUS_POST %}
        {% pybb_get_profile user=user as user_profile %}

        {% if not user_profile.is_banned %}
            {% if not topic.closed %}
                {% include "pybb/post_form.html" %}
            {% endif %}
        {% endif %}
    {% else %}
        {% include 'pybb/_need_to_login_message.html' %}
    {% endif %}</div>

    {% if user.is_staff %}
        <div class="subscriber-list">
            {% trans "Subscribers" %}:
            {% for subscriber in topic.subscribers.all %}
                <a href="{% url 'pybb:user' subscriber.username %}">{{ subscriber.username }}</a>,
            {% endfor %}
        </div>
    {% endif %}
</div>
