{% load i18n %}

{% if topic.updated %}
    <a href="{{ topic.last_public_post.get_absolute_url }}">
        {% if request.user.profile.date_show_type == 1 %}
            {{ topic.last_public_post.created }}
        {% else %}
            {{ topic.last_public_post.created|timesince }}
            {% trans "ago" %}
        {% endif %}
    </a><br>
    {% trans "posted by" %}
    {% if topic.last_public_post.user %}
        <a href="{% url 'pybb:user' topic.last_public_post.user.username %}">
            {{ topic.last_post.user.username }}
        </a>
    {% endif %}
{% endif %}
