.title{}
.nav-link{}
.first_row{
    margin-top: 15px;
}

@media (max-width: 768px) {
    .title {
        font-size: 24px;
        margin-bottom: 15px;
        margin-top: 5px;
    }
    .nav-link {
        padding: 5px 10px !important;
    }
}

h4 {
			line-height: 1.42857143;
		}

		.noselect {
			-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none; /* Safari */
			-khtml-user-select: none; /* Konqueror HTML */
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none;
			/* Non-prefixed version, currently
                                       supported by Chrome and Opera */
		}

		.col-fixed-210 {
			height: 40px;
			width: 230px;
			position: absolute;
			padding-left: 15px;
			z-index: 1;
		}

		.col-offset-210 {
			padding-left: 245px;
			z-index: 0;
		}

		.col-fixed-315 {
			height: 40px;
			width: 335px;
			position: absolute;
			padding-left: 15px;
			z-index: 1;
		}

		.col-offset-315 {
			padding-left: 350px;
			z-index: 0;
		}

		.row {
			margin-bottom: 0.5em;
		}

		.tenses i {
			font-style: normal;
			color: #337ab7;
			font-weight: bold;
		}

		.part_0 i {
			font-weight: normal;
		}

		.tenses b {
		color: #F28B1A;
			font-weight: bold
		}

		.tab-content > .active {
			display: inline;
		}
        .ui-autocomplete-loading {
			background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
		}

		.red {
			color: #c80000;
		}

.ui-autocomplete {
	margin-top: 3px;
	padding: 3px 0;
	box-shadow: rgba(32, 33, 36, 0.21) 1px 3px 9px 3px;
	border-radius: 0.3rem;
}
