.title {
}

.nav-link {
}

.first_row {
    margin-top: 15px;
}

@media (max-width: 768px) {
    .title {
        font-size: 24px;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .nav-link {
        padding: 5px 10px !important;
    }
}

h4 {
    line-height: 1.42857143;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                               supported by Chrome and Opera */
}

.col-fixed-210 {
    height: 40px;
    width: 230px;
    position: absolute;
    padding-left: 15px;
    z-index: 1;
}

.col-offset-210 {
    padding-left: 245px;
    z-index: 0;
}

.col-fixed-315 {
    height: 40px;
    width: 335px;
    position: absolute;
    padding-left: 15px;
    z-index: 1;
}

.col-offset-315 {
    padding-left: 350px;
    z-index: 0;
}

.row {
    margin-bottom: 0.5em;
}

.tenses i {
    font-style: normal;
    color: #337ab7;
    font-weight: bold;
}

.part_0 i {
    font-weight: normal;
}

.tenses b {
    color: #F28B1A;
    font-weight: bold
}

.tab-content > .active {
    display: inline;
}

.ui-autocomplete-loading {
    background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.red {
    color: #c80000;
}

.ui-autocomplete-loading {
    background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.row-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-wrap: wrap;
}

.col-flex {
    margin: 0 -1px;
}


.block {
    padding-bottom: 20px;
}

.block > .block-head {
    color: #337ab7;
}

.block > .block-head > h4 {
    font-weight: 700;
}

.block > .block-text {
}

.ui-autocomplete {
    margin-top: 3px;
    /* padding:3px 0; */
    box-shadow: rgba(32, 33, 36, 0.21) 1px 3px 9px 3px;
    border-radius: .3rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-menu-item-wrapper > b {
    color: var(--blue);
}

.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 2px 1em 2px .4em;
}


.starts-with-form > .ui-menu-item-wrapper {
    padding: 0 1em 0 .4em;
}


.ui-state-active {
    border: 0 !important;
    background: #8bb8df !important;
    margin: 0 !important
}

.ui-state-active > b {
    color: var(--white);
}

a.ui-menu-item-wrapper {
    display: block;
    width: 100%;
}

ul.ui-autocomplete > li > a.ui-menu-item-wrapper {
    text-decoration: none !important;

}

ul.ui-autocomplete > li.load-more.hide {
    display: none;
}

ul.ui-autocomplete > li.load-more.action {
    text-align: center;
}

.starts-with-infinitive + .starts-with-form > a, .starts-with-infinitive + .contains > a, .starts-with-infinitive + .levenshtein > a, .starts-with-form + .contains > a, .starts-with-form + .levenshtein > a, .levenshtein + .contains > a, .contains + .levenshtein > a {
    /* margin-top: 5px !important; */
    padding-top: 5px;
    border-top: 1px solid #dee2e6 !important;
}

.autocomplete-item {
    padding-bottom: 5px;
}

.ui-menu-item.verb-autocomplete-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.starts-with-form {
    background-color: rgba(255, 193, 7, 0.4);
}

.starts-with-infinitive {
    /*background-color: rgba(40, 167, 69, 0.08);*/
}

.levenshtein {
    background-color: #007bff21;
    font-style: italic;
}

.levenshtein-typos {
    float: right;
}

.ui-menu-item.verb-autocomplete-item:first-child {
    /* padding-top: 6px; */
}

li.verb-autocomplete-item:first-child > a {
    padding-top: 6px;
}

li.verb-autocomplete-item.starts-with-form:first-child > a {
    padding-top: 2px;
}

li.verb-autocomplete-item:last-child > a {
    padding-bottom: 3px;
}

.last-of-type > a.ui-menu-item-wrapper {
    padding-bottom: 6px;
}

.last-of-type.starts-with-form > a.ui-menu-item-wrapper {
    padding-bottom: 4px;
}

.levenshtein-typos {
    float: right;
    color: #3333336b;
}

.voice-range {
    padding-left: 1em;
    width: 300px;
}

.voice-range label {
    display: block;
    text-align: center;
}

.voice-range input {
    width: 100%;
}

datalist {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

datalist option {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.switchers {
    width: 320px;
}

.verb-switch-right-label {
    margin-left: 50px;
    padding-left: 10px;
}

.verb-switch {
    padding-left: 0;
}

.input-label-container {
    padding-left: 0;
}

.switch-input-label {
    margin-left: 40px;
    padding-left: 0;
}

.switches-container {
    display: flex;
    flex-direction: row;
    width: 300px;
}

.left-labels,
.input-labels,
.righ-labels {
    display: flex;
    flex-direction: column;
}

.input-labels {
    flex-grow: 2;
}

.left-labels,
.right-labels {
    flex-grow: 1;
    width: 8em;
}

.left-label {
    text-align: right;
}

.right-label {
    text-align: left;
}

.switches-name, .voice-range-name {
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    width: 300px;
}

.switches-submit-container {
    margin-top: 0.5rem;
    text-align: right;
    width: 300px;
}

.custom-control-input:checked ~ .custom-control-label.switch-input-label::before {
    background-color: #fff;
}

.verb-switch-container.custom-switch .custom-control-label.switch-input-label::after, .verb-switch-container.custom-switch .custom-control-input:checked ~ .custom-control-label.switch-input-label::after {
    background-color: #337ab7;
}

.card-switches {
    max-width: 342px;
    margin-top: 1rem;
}

@media (max-width: 420px) {
    .switches-name, .voice-range-name {
        text-align: center;
    }

    .card-switches {
        padding: 0.2em;
    }

    .voice-range {
        padding-left: 0;
    }

    .switches-submit-container {
        text-align: center;
        margin-top: 0.5rem;
    }

    .voice-range input {
        width: 98%;
    }

    datalist {
        width: 98%;
    }
}

#settingsButton svg{
    width: 18px;
    height: 18px;
}

.badge-switches {
    letter-spacing: 1px;
}

#switchesRow {
    cursor: pointer;
}
