.advert_top {
    margin-top: 273px;
}

.top-mobile-advert-row {}

.top-mobile-advert-div {
    text-align: center;
    margin: 10px auto;
}

.title {
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .title {
        font-size: 28px;
    }
}

@media (max-width: 1199px) {
    .advert_top {
        margin-top: 359px;
    }
}

.page-reference {
    padding: 20px;
    border: 1px solid black;
}

.caption {
    margin-top: 8px;
    font-weight: bold;
    font-size: 18px;
}

.subcaption {
    margin-top: 15px;
    color: #282b36;
    font-size: 15.6px;
}

@media (max-width: 767px) {
    .title {
        font-size: 28px;
        margin-top: 5px;
        margin-bottom: 9px;
    }

    .caption {
        font-size: 16px;
    }

    .subcaption {
        margin-top: 15px;
        font-size: 14px;
    }
}

.page-references {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 20px;
}

a.page-reference:focus,
a.page-reference:hover {
    text-decoration: none;
}

a.page-reference:focus .page-reference_title,
a.page-reference:hover .page-reference_title {
    text-decoration: underline;
}

.page-reference {
    width: 27%;
    margin-top: 10px;
    margin-right: 6%;
    margin-bottom: 10px;
    min-height: 150px;
}

@media (max-width: 768px) {
    .page-reference {
        width: 44%;
    }
}

@media (max-width: 576px) {
    .page-reference {
        margin: 10px 0;
        width: 100%;
    }

}

.page-reference_text {
    margin-top: 30px;
    color: #666c7d;
    font-size: 14px;
}

.cat-logo {
    position: relative;
    max-width: 120%;
    top: 30px;
    left: 50px;
    margin: -70px;
    z-index: 10;
}

.too_many_letters {
    margin-top: 30px;
    color: #282b36;
    font-size: 14px;
}

.home_comments {
    color: #282b36;
    font-size: 14px;
}

.cat-logo-mini {
    position: relative;
    z-index: 2;
    top: -5px;
    float: right;
    margin-bottom: -47px;
    display: none;
}

@media (max-width: 1199px) {
    .cat-logo {
        top: 120px;
    }

    .too_many_letters {
    }
}

@media (max-width: 991px) {
    .cat-logo {
        top: 85px;
    }

    .too_many_letters {
    }
}

@media (max-width: 576px) {
    .cat-logo-collapse {
        display: none;
    }

    .cat-logo-mini {
        display: inline
    }

    .text_description {
        width: 100%;
    }
}

.page-reviews {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.page-review {
    padding: 3px;
}

a.page-review:focus,
a.page-review:hover {
    text-decoration: none;
}

.page-review {
    width: 27%;
    margin-top: 0px;
    margin-right: 6%;
    margin-bottom: 0px;
    min-height: 70px;
}

@media (max-width: 768px) {
    .page-review {
        margin: 10px 0;
        width: 100%;
    }

}

.page-review_text {
    margin-top: 0px;
    color: #495869;
    font-size: 16px;
}

.page-review_text:hover {
    color: #232937;
}

.page-review_text:before {
    color: #bbb;
    content: "\201C";
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 4em;
    line-height: .1em;
    margin-right: .2em;
    vertical-align: -.4em;
    margin-left: -20px;
}

.page-review_text:after {
    color: #bbb;
    content: "\201D";
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 4em;
    line-height: .1em;
    float: right;
    top: .45em;
    margin-right: -15px;
}

.lyrical_digression_h {
    text-align: center;
    font-size: 18px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    font-style: italic;
}

@media (min-width: 992px) {
    .col-offset-336 {
        padding-right: 300px;
        z-index: 0;
    }

    .col-fixed-336 {
        width: 300px;
        /*position: absolute;*/
        margin-left: -300px;
        z-index: 1;
    }
}

@media (min-width: 1200px) {

    .col-offset-336 {
        padding-right: 336px;
        z-index: 0;
    }

    .col-fixed-336 {
        width: 336px;
        /*position: absolute;*/
        margin-left: -336px;
        z-index: 1;
    }
}

@media (max-width: 992px) {
    .col-fixed-336 {
        padding-right: inherit;
    }
}
