#primary {
	margin: 0px;
	padding:0px;
	color: #444;
   }
#header{
	width:700px;
	margin-bottom:20px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	background-color: #F0F8FC;
	background-image: url(/images/listing-header.gif);
	border-bottom: 1px solid #A5BFCE;
	border-left: 1px solid #A5BFCE;
	border-right: 1px solid #A5BFCE;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#header ul {
    margin:0;
    padding:0px 6px 0px 6px;
    list-style:none;
}
	
#header li {
		line-height: 32px;
    margin:2;
    padding:4px 6px 4px 6px;
	display:inline;
}
#header #current a{
	color: white;
	background-color: #235;
	border-color: #013;
	border-width: 1px 0px 0px 1px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding: 5px;
		opacity:0.7;
}
#header a{
	color: #235;
	text-decoration: none;
	font-weight: bold;
	padding:5px;
}
#header a:hover{
	background-color:#BBDCE8;
	-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
}@charset "utf-8";
/* CSS Document */

