{% extends 'base.html' %}
{% load static %}

{% block extra_head %}{% endblock %}
{% block description %}{% endblock %}
{% block extra_css %}
  <style>
    @media (min-width: 768px) {
      .row.equal {
        display: flex;
        flex-wrap: wrap;
      }
    }

  </style>
  <link rel="stylesheet" href="{% static 'components/card-select/card-select.css' %}">
{% endblock %}
{% block extra_js %}
  <script src="{% static 'components/card-select/card-select.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container zurb">
    <div class="row">
      <div class="col-md-12">
        <p class="h1">Заголовок</p>
        <div class="row equal">
        <form action="https://www.le-francais.ru/payments/" method="post">
          {% csrf_token %}
          <button type="submit" role="button" name="cup_amount" value="5"></button>
        </form>
          {% for card in cards %}
            <div class="col-md-3">
              <div class="card card-select" data-cardSelect>
                <div class="card-divider">{{ card.0 }}</div>
                <img style="align-self: center" src="{% static card.1 %}">
                <div class="card-section">
                  <h5>{{ card.3 }}₽</h5>
                  <p>{{ card.2 }}</p>
                </div>
                <button class="btn btn-primary button" data-cardSelectButton></button>
              </div>
            </div>
          {% endfor %}
        
        </div>
        {% block payment_details %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}