{% extends 'base.html' %}
{% load static site_tags %}

{% block extra_head %}{% endblock %}
{% block description %}{% endblock %}

{% block extra_css %}
    <style>
        .col-xs-5ths,
        .col-sm-5ths,
        .col-md-5ths,
        .col-lg-5ths {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .col-xs-5ths {
            width: 20%;
            float: left;
        }

        @media (min-width: 768px) {
            .col-sm-5ths {
                width: 20%;
                float: left;
            }
        }

        @media (min-width: 992px) {
            .col-md-5ths {
                width: 20%;
                float: left;
            }
        }

        @media (min-width: 1200px) {
            .col-lg-5ths {
                width: 20%;
                float: left;
            }
        }
    </style>
    <style>
        .card-description {
            height: 5em;
        }

        .card {
            margin-bottom: 20px;
            padding: 5px 5px 5px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            background-color: #f6f6f6;
        }

        .card-image-container {
            text-align: center;
        }

        .card-image {
            margin: 5px;
        }

        .card-header {
            font-size: 18px;
            background-color: #438bc9;
            color: #FFFFFF;
            padding: 10px 20px;
        }

        .card-description {
            padding: 5px 8px;
            display: flex;
            align-items: center;
            background-color: #eee;
        }

        .card-price {
            font-size: 20px;
            text-align: center;
            padding: 20px;
            background-color: #eee;
        }

        .card-fullprice {
            font-size: 16px;
            text-align: center;
            padding: 20px;
        }

        .card:hover {
            box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.2)
        }

        .h1 {
            text-align: center;
        }

        .subcaption {
            text-align: center;
            font-size: 22px;
            margin: 0 0 20px;
        }
    </style>
    {#  <link rel="stylesheet" href="{% static 'components/card-select/card-select.css' %}">#}
{% endblock %}
{% block extra_js %}
    <script>
      function submitToWalletOne(cup_amount) {
        $.ajax({
          url: "{% url 'payments' %}",
          type: "POST",
          data: {
            {% if "next" in request.GET %}
              success_url: "{{ request.GET.next }}?modal_open={{ request.GET.success_modal }}&payment_success=true",
              fail_url: "{{ request.GET.next }}?modal_open={{ request.GET.fail_modal }}&payment_fail=true",
            {% endif %}
            cup_amount: cup_amount,
            csrfmiddlewaretoken: "{{ csrf_token }}"
          },
          datatype: "json",
          success: function (response) {
            let form = $("<form/>",
              {action: 'https://wl.walletone.com/checkout/checkout/Index', method: 'POST'}
            );
            for (let i in response.params) {
              form.append(
                $("<input>", {name: response.params[i][0], value: response.params[i][1]})
              )
            }
            $("body").append(form);
            form.submit()
          }
        })
      }
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="h1" style="margin-top: 20px">Запаситесь кофейком!</p>
                <p class="subcaption" style="margin-bottom: 20px">{% comment %}Чтобы чем-то угощать, надо это что-то иметь :){% endcomment %}Чтобы угощать много раз без хлопот.</p>
                <div class="row equal">
                    {% for card in cards %}
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-5ths">
                            <div class="card card-select" data-cardSelect>
                                <div class="card-container">
                                    <div class="card-header">{{ card.title | safe }}</div>
                                    {% if forloop.first %}
                                        <div class="card-description" style="padding-left: 12px">
                                            <div class="card-description-text">
                                                {{ card.price1 | safe }}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="card-price">{{ card.price1 | safe }}</div>
                                    {% endif %}
                                    <div class="card-image-container"><img class="card-image" src="{% static card.image %}"></div>
                                    <div class="card-fullprice">{% if card.price2 %}{{ card.price2 | safe }} ₽{% else %}&nbsp;{% endif %}</div>
                                    <div class="card-description">
                                        <div class="card-description-text">{% if card.description %}{{ card.description | safe }}{% endif %}</div>
                                    </div>
                                </div>
                                <button type="submit" role="button" onclick="submitToWalletOne({{ card.cups_amount }})" class="btn btn-primary btn-block">Беру!</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">Правда, поддержите нас! Без вашей поддержки нам по-настоящему трудно. :(</div>
            </div>
        </div>
    </div>
{% endblock %}
