{% load static le_francais_donations %}{% load wagtailcore_tags %}
<div class="row">
    <div class="col-12">
        <div class="h2">Поддержка проекта</div>
    </div>
    <div class="col-12">
        <p>Наш проект связан с ощутимыми расходами — оплатой
            нескольких серверов, платных сервисов и электричества <a
                    href="#serversMapImageModal" data-toggle="modal"
                    class="servers-map-image-link fas fa-info-circle"
                    data-target="#serversMapImageModal"></a>. а так же
            с оплатой налогов. Чашечки и билетики — увы! — не всегда
            способны покрыть эти расходы. </p>
        <p>Мы осознаем, что их стоимость несоизмеримо мала в сравнении
            с пользой, которую несут наши уроки. Но мы очень не хотим
            ее повышать, чтобы сделать эти уроки доступными всем
            желающим — как это было на протяжении более десяти лет
            существования этого проекта.</p>
        <p>Мы рассчитываем на то, что некоторые пользователи способны
            поддержать этот проект своими пожертвованиями, которые
            позволят ему существовать и развиваться для всех
            остальных. Речь не идет об астрономических суммах. Даже
            небольшой, но регулярный взнос позволил бы нам с большей
            уверенностью смотреть в будущее.</p>
        <p><b>Мы конвертируем наш труд в ваш результат. Пожалуйста,
            поддержите и вы нас!</b></p>
        <p class="mb-4">Форма ниже позволит вам сделать разовый взнос
            или настроить регулярный платеж в пользу тех, <a
                    href="{% slugurl 'who-do-you-think-we-are' %}">кто
                трудится над этим проектом.</a> Делать эти уроки для
            вас — это наша главная и единственная работа.</p>
    </div>
    <div class="col-12">
        {% include_donation_form %}
    </div>
</div>
