{#<div class="row">#}
{#    <div class="col">#}
{#        <h4>Благодарность преподавателю</h4>#}
{##}
{#        <p>Если вы хотите лично выразить свою признательность Наталье#}
{#            Николаевне, преподавателю, чей голос вы слышите в записях#}
{#            первых 220 уроков, вы можете это сделать с помощью#}
{#            перевода и сопроводить его своим комментарием со словами#}
{#            благодарности. Ей будет это вдвойне приятно.</p>#}
{##}
{#        <button class="btn btn-link pl-0 pt-0" id="collapse-button-t-gratitude"#}
{#                data-toggle="collapse" data-target="#tGratitude"#}
{#                aria-expanded="true" aria-controls="tGratitude">Как#}
{#            это сделать?&nbsp;<i#}
{#                    class="arrows fas fa-arrow-down arrow_down"></i>#}
{#        </button>#}
{##}
{#        <div class="collapse" id="tGratitude">Вот номер Наташиной#}
{#            карточки в Сбербанке:&nbsp;5336&nbsp;6902&nbsp;3807&nbsp;0538#}
{#        </div>#}
{#    </div>#}
{#</div>#}
