{% extends 'base.html' %}
{% load static site_tags %}

{% block extra_head %}{% endblock %}
{% block description %}{% endblock %}

{% block extra_css %}
	<style>
		.col-xs-5ths,
		.col-sm-5ths,
		.col-md-5ths,
		.col-lg-5ths {
			position: relative;
			min-height: 1px;
			padding-right: 15px;
			padding-left: 15px;
		}

		@media (max-width: 768px) {
			.col-xs-6 {
				padding-right: 7px;
				padding-left: 7px;
			}
		}

		.col-xs-5ths {
			width: 20%;
			float: left;
		}

		@media (min-width: 768px) {
			.col-sm-5ths {
				width: 20%;
				float: left;
			}
		}

		@media (min-width: 992px) {
			.col-md-5ths {
				width: 20%;
				float: left;
			}
		}

		@media (min-width: 1200px) {
			.col-lg-5ths {
				width: 20%;
				float: left;
			}
		}
	</style>
	<style>
		.card-description {
			height: 5em;
		}

		.card {
			margin-bottom: 20px;
			padding: 5px 5px 5px;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			background-color: #f6f6f6;
		}

		.card-image-container {
			text-align: center;
		}

		.card-image {
			max-height: 300px;
			margin: 5px 0;
		}

		.card-header {
			font-size: 18px;
			background-color: #438bc9;
			color: #FFFFFF;
			padding: 10px 20px;
		}

		.card-description {
			padding: 5px 8px;
			display: flex;
			align-items: center;
			background-color: #eee;
		}

		.card-price {
			font-size: 20px;
			text-align: center;
			padding: 20px;
			background-color: #eee;
		}

		.card-fullprice {
			font-size: 16px;
			text-align: center;
			padding: 20px;
		}

		.card:hover {
			box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.2)
		}

		.h1 {
			text-align: center;
		}

		.subcaption {
			text-align: center;
			font-size: 22px;
			margin: 0 0 20px;
		}
	</style>
	{#  <link rel="stylesheet" href="{% static 'components/card-select/card-select.css' %}">#}
{% endblock %}
{% block extra_js %}
	<script>
		function initPayment(i) {
			$.ajax({
				url: "{% url 'payments:payments' %}",
				type: "POST",
				data: {
					{% if "next" in request.GET %}
						success_url: "{{ request.GET.next }}?modal_open={{ request.GET.success_modal }}&payment_success=true",
						fail_url: "{{ request.GET.next }}?modal_open={{ request.GET.fail_modal }}&payment_fail=true",
					{% else %}
						success_url: "{{ request.path }}?modal_open=success-payment-modal&payment_success=true",
						fail_url: "{{ request.path }}?modal_open=fail-payment-modal&payment_fail=true",
					{% endif %}
					item_id: i,
					csrfmiddlewaretoken: "{{ csrf_token }}"
				},
				datatype: "json",
				success: function (response) {
					window.location.href = response.payment_url
				}
			})
		}
		{% if 'open_modal' in request.GET %}
			$('#{{ request.GET.open_modal }}').modal('show');
		{% endif %}
	</script>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="h1" style="margin-top: 20px">Поддержите наш общий проект и оставайтесь с нами!</p>
				<p class="subcaption" style="margin-bottom: 20px">Приобретите абонемент на активации. Рlus grand est le nombre des leçons, plus vous économisez !</p>
				<div class="row equal">
					{% for card in cards %}
						<div class="col-xs-6 col-sm-6 col-md-4 col-lg-5ths">
							<div class="card card-select" data-cardSelect>
								<div class="card-container">
									<div class="card-image-container"><img class="card-image" src="{% static card.image %}"></div>
								</div>
								<button type="submit" role="button" onclick="initPayment({{ card.item_id }})" class="btn btn-primary btn-block">Беру!</button>
							</div>
						</div>
						{% if forloop.counter == 2 %}
							<div class="clearfix visible-xs-block visible-sm-block"></div>{% endif %}
						{% if forloop.counter == 3 %}
							<div class="clearfix visible-md-block"></div>{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-warning">Пожалуйста, помните: над проектом в режиме полной занятости работает два человека. Это наша работа — помогать вам учить французский. Помогите и вы нам — других
					источников дохода у нас нет.
				</div>
			</div>
		</div>
		<div class="modal fade" id="description" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<p>Чтобы обозначить размер нашей услуги в сравнении с другими, которые мы все привыкли, не задумываясь, оплачивать, мы выбрали простую метафору — <b>проезд в общественном транспорте</b>, который стоит столько же, если не больше. Просто представьте, что вы доехали до занятий на автобусе — это бы не разорило, правда? А ведь в жизни  часто именно так и происходит, а то еще и в оба конца.</p>
						<p>Оставайтесь с нами! :)</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Продолжить</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
{% endblock %}
