{% load static %}
<div class="row row-cols-lg-2">
    <div class="col-12 col-lg-6 order-lg-1">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger"><p><s>Платежи можно
                    совершать <b>из любой страны и в любой валюте</b>
                    — спишется сумма, эквивалентная рублевой по курсу
                    рубля на день платежа.</s>
				</p>
                    <p>VISA и MasterCard не работают в РФ. Если у вас
                        не рублёвая карта, читайте <a
                                href="/forum/post/20687/">этот
                            пост</a> на форуме, чтобы понять, как
                        совершить платёж из других стран картами, выпущенными в других валютах.
                    </p></div>
                <p>Если по каким-то субъективным причинам
                    онлайн-платеж для вас неприемлем, в качестве плана
                    «B» можно воспользоваться переводом с карты на
                    карту или на счет PayPal.</p></div>
        </div>
    </div>
    <div class="col-12 col-lg-6 order-lg-3">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-link"
                        id="collapse-button-one"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne">Как осуществить
                    план «B»&nbsp;<i
                            class="arrows fas fa-arrow-down arrow_down"></i>
                </button>
            </div>
            <div class="col-12">
                <div class="collapse card" id="collapseOne">
                    <div class="card-body">

                        <p><br>Можно сделать перевод на эти карточные
                            номера (VISA и MasterCard соответственно)
                        </p>
                        <ul>
                            <li><i class="fab fa-cc-visa"
                                   style="color:#2c79bb "></i>
                                (Сбербанк) <b>4274-3200-5750-5714</b>
                            </li>
                            <li>
                                <i class="fab fa-cc-mastercard"></i>
                                (Tinkoff Bank)
                                <b>5536-9138-5540-4428</b>
                            </li>
                        </ul>
                        <p>Или на счет в PayPal: <a
                                href="https://paypal.me/lefrancaisru"
                                rel="nofollow" target="_blank"
                                title="PayPal">paypal.me/lefrancaisru</a>
                            (мы заплатим комиссию при выводе средств
                            из PayPal 4.3-5.4 % + $0.30 USD —
                            пожалуйста, учитывайте это при переводе).
                        </p>
                        <p>При всех таких транзакциях, пожалуйста,
                            сообщайте ваш e-mail — иначе мы не сможем
                            вас идентифицировать и сконвертировать ваш
                            перевод в чашечки кофе.</p>
                        <div class="alert alert-warning">
                            <p><b>И пожалуйста, помните:</b> в отличие
                                от онлайн платежа, который совершается
                                мгновенно, этот способ подразумевает
                                ручную правку базы, требует
                                согласованных действий разных людей,
                                усложняет ведение бухгалтерии и
                                приводит к задержкам. </p>
                            <p><b>Пожалуйста, используйте этот способ
                                только в случае <u>крайней</u>
                                необходимости.</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 order-lg-2">
        <div class="row">
            <div class="col-12">
                <p>Каждый раз, когда вы нажимаете на кнопку
                    «Поблагодарить», мы получаем уведомление на почту
                    и телефон и в ту же секунду узнаём о Вашем
                    жесте.</p>
                <div class="alert alert-warning">Пожалуйста, помните:
                    над проектом в режиме полной занятости работает
                    два человека. Это наша работа — помогать вам учить
                    французский. Помогите и вы нам — других источников
                    дохода у нас нет.
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 order-lg-4">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-link"
                        id="collapse-button-two"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="true"
                        aria-controls="collapseTwo">Как это работает&nbsp;<i
                        class="arrows fas fa-arrow-down arrow_down"></i>
                </button>
            </div>
            <div class="col-12">
                <div class="collapse card" id="collapseTwo">
                    <div class="card-body">
                        <p>Мы используем давно прижившуюся метафору
                            «Угостите меня чашечкой кофе!» для
                            поддержки нашего проекта.</p>
                        <img class="mb-4" alt="Кнопка «Поблагодарить»" src="{% static 'images/payments-buy-me-coffe-image.jpg' %}" title="Кнопка «Поблагодарить">
                        <p>Работает это так.</p>
                        <p>На этой странице вы запасаетесь каким-то
                            количеством виртуальных чашечек, а затем
                            «тратите» их на уроках — дарите эдакий
                            маленький квант помощи, как бы угощаете
                            меня чашечкой кофе. На каждой страничке
                            урока под плеером есть кнопочка.</p>
                        <p><img alt="Кнопка «Поблагодарить»"
                                src="{% static 'images/button-buy-me-coffee.png' %}"
                                title="Кнопка «Поблагодарить"></p>
                        <p>Когда Вы на нее нажимаете, «расходуется»
                            одна виртуальная чашечка — и открываются
                            табики со всеми дополнительными
                            материалами (а иногда и появляются новые,
                            которых было не видно); реклама из текста
                            тоже убирается — это происходит после
                            перезагрузки страницы.</p>
                        <p>На каждый такой клик я получаю уведомление
                            на почту и на часы — они вибрируют, и я
                            вижу, кто нас сейчас поблагодарил за урок.
                            :)</p>
                        <p><img alt="Уведомление на часы"
                                src="{% static 'images/watch-notification.png' %}"
                                title="Уведомление на часы"></p>
                        <p>Такие события случаются (увы!) не часто,
                            поэтому я не пропускаю ни одного!</p>
                        <p>Поддерживайте нас! Расходуйте ваши чашечки,
                            учите французский быстрее и с большей
                            эффективностью! И — получайте от процесса
                            удовольствие! :)</p>
                        <p>P.S. Если у Вас возникнут вопросы, не
                            стесняйтесь задавать их <a
                                    href="//www.le-francais.ru/forum/topic/3139/"
                                    target="_blank"
                                    title="Вопросы про чашечки">в этой
                                ветке форума</a>.</p>

                    </div></div>
            </div>
        </div>
    </div>
</div>
