{% extends 'base.html' %}
{% load static site_tags %}
{% load wagtailcore_tags %}
{% block extra_head %}{% endblock %}
{% block description %}{% endblock %}

{% block extra_css %}
	<style>
		.col-5ths,
		.col-md-5ths,
		.col-lg-5ths,
		.col-xl-5ths {
			position: relative;
			min-height: 1px;
			padding-right: 15px;
			padding-left: 15px;
		}
		
		@media (max-width: 768px) {
			.col-6 {
				padding-right: 7px;
				padding-left: 7px;
			}
		}

		.col-5ths {
			width: 20%;
			float: left;
		}

		@media (min-width: 768px) {
			.col-md-5ths {
				width: 20%;
				float: left;
			}
		}

		@media (min-width: 992px) {
			.col-lg-5ths {
				width: 20%;
				float: left;
			}
		}

		@media (min-width: 1200px) {
			.col-xl-5ths {
				width: 20%;
				float: left;
			}
		}
    </style>
	<style>
		.card-description {
			height: 5em;
		}

		.coffee-card {
			margin-bottom: 20px;
			padding: 5px 5px 5px;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			background-color: #f6f6f6;
		}

        .coffee-card-over-disabled {
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
            background-color: #ffffff6b;
            cursor: pointer;
        }

		.card-image-container {
			text-align: center;
		}

		.card-image {
			margin: 5px;
		}

		.card-header {
			font-size: 18px;
			background-color: #438bc9;
			color: #FFFFFF;
			padding: 10px 20px;
		}

		.card-description {
			padding: 5px 8px;
			display: flex;
			align-items: center;
			background-color: #eee;
		}

		.card-price {
			font-size: 20px;
			text-align: center;
			padding: 20px;
			background-color: #eee;
		}

		.card-fullprice {
			font-size: 16px;
			text-align: center;
			padding: 20px;
		}

		.coffee-card:hover {
			box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.2)
		}

		.h1 {
			text-align: center;
		}

		.subcaption {
			text-align: center;
			font-size: 22px;
			margin: 0 0 20px;
		}
	</style>
	{#  <link rel="stylesheet" href="{% static 'components/card-select/card-select.css' %}">#}
{% endblock %}
{% block extra_js %}
	<script>
		function initPayment(i) {
			$.ajax({
				url: "{% url 'payments:payments' %}",
				type: "POST",
				data: {
					{% if "next" in request.GET %}
						success_url: "{{ request.GET.next }}?modal_open={{ request.GET.success_modal }}&payment_success=true",
						fail_url: "{{ request.GET.next }}?modal_open={{ request.GET.fail_modal }}&payment_fail=true",
					{% else %}
						success_url: "{{ request.path }}?modal_open=success-payment-modal&payment_success=true",
						fail_url: "{{ request.path }}?modal_open=fail-payment-modal&payment_fail=true",
					{% endif %}
					item_id: i,
					csrfmiddlewaretoken: "{{ csrf_token }}"
				},
				datatype: "json",
				success: function (response) {
					window.location.href = response.payment_url
				}
			})
		}

        $('#collapse-button-one').click(function (e) {
            $('#collapse-button-one > i').toggleClass('fa-arrow-down').toggleClass('fa-arrow-up');
        });
        $('#collapse-button-two').click(function (e) {
            $('#collapse-button-two > i').toggleClass('fa-arrow-down').toggleClass('fa-arrow-up');
        });

	</script>
{% endblock %}

{% block title %}Запаситесь кофейком!{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">

			<div class="col-lg-12">
				<p class="h1" style="margin-top: 20px; margin-bottom: 20px">Запаситесь кофейком!</p>
				<p class="subcaption">Чтобы угощать много раз — по чашечке за каждый урок.</p>
				{% if not request.user.has_payed %}
					<div class="row" style="margin-bottom: 5px;">
						<div class="col-lg-6">
								<p>Мы использовали простую и понятную метафору — её часто используют проекты, финансируемые за счет пожертвований. Это —
									<b>виртуальная чашечка кофе.</b></p>
							<p>Если вы будете угощать нас за каждый урок такой чашечкой, мы будем чувствовать себя хорошо. А проект будет и дальше развиваться. :) </p>
						</div>
						<div class="col-lg-6">
							<p>Наше благополучие — и ваш успех — зависят о вашей щедрости. <a
									href="{% slugurl 'who-do-you-think-we-are' %}" target="_blank">Почитайте</a>, кто стоит за этим проектом и как этот проект устроен.
							</p>
						</div>
					</div>
				{% endif %}
				{#				<p class="subcaption" style="margin-bottom: 20px">{% comment %}Чтобы чем-то угощать, надо это что-то иметь :){% endcomment %}Чтобы угощать много раз за каждый урок.</p>#}
				<div class="row equal" style="margin-bottom: 10px">
					{% for card in cards %}
						<div class="col-6 col-md-6 col-lg-4 col-xl-5ths">
                            {% if forloop.counter0 == 0 %}
                                <div class="coffee-card-over-disabled" data-toggle="modal" data-target="#oneCupDisabledModal">

                                </div>
                            {% endif %}
							<div class="coffee-card card-select" data-cardSelect>
								<div class="card-container">
									<div class="card-header">{{ card.title | safe }}</div>
									{% if forloop.first %}
										<div class="card-description" style="padding-left: 12px">
											<div class="card-description-text">
												{% if card.price1 %}{{ card.price1 | safe }}{% endif %}</div>
										</div>
									{% else %}
										<div class="card-price">
											{% if card.price1 %}{{ card.price1 | safe }}{% endif %}</div>
									{% endif %}
									<div class="card-image-container"><img class="card-image"
									                                       src="{% static card.image %}">
									</div>
									<div class="card-fullprice">
										{% if card.price2 %}{{ card.price2 | safe }} ₽{% else %}&nbsp;{% endif %}</div>
									<div class="card-description">
										<div class="card-description-text">
											{% if card.description %}{{ card.description | safe }}{% endif %}</div>
									</div>
								</div>
								<button type="submit"
								        role="button"
								        onclick="initPayment({{ card.item_id }})"
								        class="btn btn-primary btn-block">Беру!
								</button>
							</div>
						</div>
						{% if forloop.counter == 2 %}
							<div class="clearfix visible-xs-block visible-sm-block"></div>{% endif %}
						{% if forloop.counter == 3 %}
							<div class="clearfix visible-md-block"></div>{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		{% include 'payments/tinkoff_payments_help.html' %}
        <div class="modal fade" id="oneCupDisabledModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title">Извините, мы вынуждены были ограничить возможность выбора варианта с одной чашечкой.</h5>
                    </div>
                    <div class="modal-body">
                        <p>Мы с трудом набираем средства на покрытие
                            расходов по этому проекту <a tabindex="0"
                                                         data-toggle="popover"
                                                         data-content='Оплата серверов, различные сервисы,
                            электричество, налоги... (<a
                                    href="{% slugurl 'who-do-you-think-we-are' %}" target="_blank">подробнее</a>)'
                                                         data-html="true"
                                                         class="fas fa-info-circle text-primary"
                                                         style="position: relative;top: 1px;"
                                                         data-trigger="click"
                                                         data-placement="auto"
                            ></a>
                            — на вознаграждение за наш труд, увы, мало
                            что остается. :(</p>
                        <p><b>Пожалуйста, поддержите нас, выберите
                            другой набор чашечек.</b> Ведь больше
                            чашечек — больше и бонусов! :)</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-primary">
                            Ок, выберу другой
                        </button>
                        <button type="button" data-dismiss="modal" class="btn btn-link" onclick="initPayment({{ cards.0.item_id }})">
                            Нет, хочу этот
                        </button>
                    </div>
                </div>
            </div>
        </div>
	</div>

{% endblock %}
