<h2>Новичкам</h2>
<p>Глядя на внушительный список времен, в которых спрягаются французские
    глаголы, загрустит любой новичок. Я поспешу таких успокоить: вам показали
    то, что ваша неокрепшая психика не должна была увидеть. :) Мы-то, взрослые,
    знаем, что реальная жизнь несоизмеримо проще: среднестатистический
    современный француз в беглой речи использует <b>всего три времени</b>:
    настоящее, прошедшее (событийное) и будущее. Причем, последнее с легкостью
    заменяется на удивительный по простоте образования глагольный оборот с
    использованием спряжения одного единственного глагола «идти» в настоящем
    времени и инфинитива смыслового глагола.
</p>
<p>Таким образом, все знания сводятся к двум временам, которые надолго позволят
    вам абстрагироваться от всей прочей парадигмы спряжения и излагать
    практически любую вашу мысль без искажения смысла.
</p>
<p>И еще одна хорошая новость: второе из этих двух времен — составное, а это
    значит, что не надо учить шесть форм глагола во всех лицах и числах —
    достаточно знать его причастие, которое у 90% глаголов звучит так же, как
    инфинитив. Это французский язык: снаружи кажется ужасно сложно и запутано, а
    копнешь — все уже упростили до нас.
</p>
