{% load user_agents %}
<div id="regle" class="row regle">
    <div class="col-12">
    <hr>

            <button type="button" class="btn btn-secondary d-lg-none d-md-none d-flex justify-content-between"
                    id="regleShowButton" data-toggle="collapse" style="width: 100%"
                    data-target="#regleContent" aria-expanded="false"
                    aria-controls="regleContent"><span>Особенности спряжения</span><span><i
                    style="align-self: center" id="regleShowButtonArrow"
                    class="{% if request|is_mobile %}fa fa-chevron-down{% else %}fa fa-chevron-up{% endif %}"></i></span></button>
    <div id="regleContent"
         class="collapse{% if request|is_mobile %} hide{% else %} show{% endif %}">
        <p>{{ text | safe }}</p>
    </div>
    <hr>
    </div>
    <script>
        let $regleShowButtonArrow = $('#regleShowButtonArrow');
        let $regleContent = $('#regleContent')
        if ($regleShowButtonArrow.is(':hidden') && $regleContent.is(':hidden')){
            $regleContent.show()
        }
        $regleContent.on('show.bs.collapse hide.bs.collapse', function () {
            $regleShowButtonArrow.toggleClass('fa-chevron-down').toggleClass('fa-chevron-up')
        })
    </script>
</div>
