{% extends 'base.html' %}
{% load static conjugation_tags%}
{% load site_tags %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}


{% block extra_head %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% conjugation_advertisement_head "conjugation_verb" "sidebar"%}
{% endblock %}
{% block extra_css %}
    <style>
        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently
                                             supported by Chrome and Opera */
        }
        .col-fixed-210{
            height: 40px;
            width: 230px;
            position: absolute;
            padding-left: 15px;
            z-index: 1;
        }
        .col-offset-210{
            padding-left: 245px;
            z-index: 0;
        }
        .col-fixed-315{
            height: 40px;
            width: 335px;
            position: absolute;
            padding-left: 15px;
            z-index: 1;
        }
        .col-offset-315{
            padding-left: 350px;
            z-index: 0;
        }
        .row {
            margin-bottom: 0.5em;
        }

{#        .row-eq-height {#}
{#            display: -webkit-box;#}
{#            display: -webkit-flex;#}
{#            display: -ms-flexbox;#}
{#            display: flex;#}
{#        }#}

        .tenses i {
            font-style: normal;
            color: #337ab7;
            font-weight: bold;
        {#            font-weight: bold#}
        }

        .part_0 i{
            font-weight: normal;
        }

        .tenses b {
{#            color: #d83131;#}
            color: #F28B1A;
            font-weight: bold
        }

        .tab-content > .active {
            display: inline;
        }

{#        .tenses .block {#}
{#            border-color: #ddd;#}
{#        }#}
{##}
{#        .tenses .block {#}
{#            margin: 0 0 20px 0;#}
{#            padding: 10px;#}
{#            border-width: 1px;#}
{#            border-style: solid;#}
{#            border-radius: 4px;#}
{#        }#}
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .ui-autocomplete-loading {
            background: white url("{% static 'images/ui-anim_basic_16x16.gif' %}") right center no-repeat;
        }
    </style>
{% endblock %}
{% block js %}
    <script async type="text/javascript" src="{% static 'js/le_francais.min.js' %}"></script>
    <script async src="{% static 'components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% endblock %}
{% block extra_js %}
    <script>
        {% comment %}$(function () {
            $("#verb").autocomplete({
                source: "/conjugation/verbs_autocomplete/",
                minLength: 2
            });
        });{% endcomment %}
        $("#search-verb")["autocomplete"]({
            source: "{% url 'conjugation:autocomplete' %}",
            minLength: 1,
            focus: function (event, ui) {
                $("#search-verb").val(ui.item["verb"]);
                return false;
            },
            select: function (event, ui) {
                event.preventDefault();
                window.location.href = ui.item['url'];
            }
        })["data"]("ui-autocomplete")["_renderItem"] = function (a, b) {
            return $("<li>")["data"]("ui-menu-item", b)["append"]("<a href='" + b["url"] + "'>" + b["html"] + "</a>")["appendTo"](a);
        };

        function see_less() {
            $.each($(".in_short_list"), function (i, v) {
                v.style.display = "none";
            });
            $("#more_tab").removeClass("active");
            $("#less_tab").addClass("active")
        }

        function see_more() {
            $.each($(".in_short_list"), function (i, v) {
                v.style.display = "block";
            });
            $("#more_tab").addClass("active");
            $("#less_tab").removeClass("active");
        }

        var audio = $("#audio")[0];
        audio.addEventListener("ended", toggleIcon);
        var playPauseIcon = $("#playPauseIcon")[0];
        function toggleIcon() {
            if(playPauseIcon.className == "fa fa-pause-circle"){
                playPauseIcon.className = ("fa fa-play-circle");
            }
            else {
                playPauseIcon.className = ("fa fa-pause-circle");
            }
        }
        function togglePlay() {
            if (audio.paused){
                toggleIcon();
                return audio.play();
            }
            else {
                toggleIcon();
                return audio.pause();
            }
        }
    </script>
{% endblock %}

{% block content %}
    {% load i18n site_tags %}
    <div class="container">

        <div class="row" style="margin-top: 10px">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 style="margin-bottom: 25px">Спряжение глагола {{ v.infinitive }}</h1>{% if v.audio_url%}<audio id="audio" src="{{ v.audio_url }}" preload="auto"></audio>{% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <form id="search" action="{% url 'conjugation:search' %}", method="post">
                            <div class="input-group input-group-lg">
                                <input name="verb" type="text" id="search-verb" size="30" class="form-control" value="{% if reflexive%}se {% endif %}{{ v.infinitive }}">
                                <div class="input-group-btn input-group-btn-lg">
                                    <input name="submit" type="submit" id="search-submit" class="btn btn-primary" value="Спрягнуть">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item active" id="less_tab">
                                <a style="cursor: pointer" class="nav-link noselect" onclick="see_less()">Сокращенная версия</a>
                            </li>
                            <li class="nav-item" id="more_tab" >
                                <a style="cursor: pointer" class="nav-link noselect" onclick="see_more()">Полная версия</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    {% if forms_count > 1%}
                    <div class="{% if forms_count == 2 %}col-fixed-210{% elif forms_count == 3 %}col-fixed-315{% endif %}">
                        <ul class="nav nav-pills">
                            {% for i in forms_range %}
                            <li {% if i == 1 %}class="active"{% endif %}><a data-toggle="pill" href=".form{{ forloop.counter0 }}">Вариант {{ i }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="col-xs-12 {% if forms_count == 2 %} col-offset-210{% elif forms_count == 3 %} col-offset-315{% else %}{% endif %}">
                        <div class="btn">
                            {% if v.can_feminin%}<a class="btn btn-primary" href="{% option_url 'gender' %}">{% if not feminin%}В женском роде{% else %}В мужском роде{% endif %}</a>{% endif %}
                            {% if v.reflexiveverb%}<a class="btn btn-primary" href="{% option_url 'se' %}">{% if not reflexive%}В возвратной форме{% else %}В невозвратной форме{% endif %}</a>{% endif %}
                        </div>
                    </div>
                </div>
                <div class="row mood_name">
                    <div class="col-xs-12">
                        <div><h2 style="margin-bottom: 3px">{{ table.moods.0.name | safe }}</h2></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="row">
                    {% conjugation_advertisement_body "conjugation_verb" "sidebar"%}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="row tenses">
                    {% for tense in table.moods.0.tenses %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 tense block {% if tense.is_in_short_list %}in_short_list{% endif %}" {% if tense.is_in_short_list %}style="display: none" {% endif %}>
                            <div class="tense_name"><h4>{{ tense.name.upper }}{% if v.audio_url%} {% if forloop.counter0 == 0 %}<a style="cursor: pointer" onclick="togglePlay()"><span data-toggle="tooltip" data-placement="top" title="Послушать" id="playPauseIcon" class="fa fa-play-circle" aria-hidden="true"></span></a>{% endif %}{% endif %}</h4></div>
                            <p class="person">{% for person in tense.persons %}<span class="part_0">{{ person.part_0 | safe }}</span>{% if person.more_than_one %}<r class="tab-content">{% for form in person.forms %}<r class="tab-pane fade {% if forloop.counter0 == 0 %}in active{% endif %} form{{ forloop.counter0 }}">{{ form | safe }}</r>{% endfor %}</r>{% else %}{{ person.forms.0 | safe }}{% endif %}{{ person.part_2 | safe }}<br>{% endfor %}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="row mood_name">
                        <div class="col-xs-12">
                            <div><h2>{{ table.moods.1.name | safe }}</h2></div>
                        </div>
                </div>
                <div class="row tenses">
                    {% for tense in table.moods.1.tenses %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 tense block {% if tense.is_in_short_list %}in_short_list{% endif %}" {% if tense.is_in_short_list %}style="display: none" {% endif %}>
                            <div class="tense_name"><h4>{{ tense.name.upper }}</h4></div>
                            <p class="person">{% for person in tense.persons %}<span class="part_0">{{ person.part_0 | safe }}</span>{% if person.more_than_one %}<r class="tab-content">{% for form in person.forms %}<r class="tab-pane fade {% if forloop.counter0 == 0 %}in active{% endif %} form{{ forloop.counter0 }}">{{ form | safe }}</r>{% endfor %}</r>{% else %}{{ person.forms.0 | safe }}{% endif %}{{ person.part_2 | safe }}<br>{% endfor %}</p>
                        </div>
                    {% endfor %}
            </div>
                <div class="row mood_name">
                        <div class="col-xs-12">
                            <div><h2>{{ table.moods.2.name | safe }}</h2></div>
                        </div>
                    </div>
                <div class="row tenses">
                    {% for tense in table.moods.2.tenses %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 tense block {% if tense.is_in_short_list %}in_short_list{% endif %}" {% if tense.is_in_short_list %}style="display: none" {% endif %}>
                            <div class="tense_name"><h4>{{ tense.name.upper }}</h4></div>
                            <p class="person">{% for person in tense.persons %}<span class="part_0">{{ person.part_0 | safe }}</span>{% if person.more_than_one %}<r class="tab-content">{% for form in person.forms %}<r class="tab-pane fade {% if forloop.counter0 == 0 %}in active{% endif %} form{{ forloop.counter0 }}">{{ form | safe }}</r>{% endfor %}</r>{% else %}{{ person.forms.0 | safe }}{% endif %}{{ person.part_2 | safe }}<br>{% endfor %}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="row mood_name">
                        <div class="col-xs-12">
                            <div><h2>{{ table.moods.3.name | safe }}</h2></div>
                        </div>
                    </div>
                <div class="row tenses">
                    {% for tense in table.moods.3.tenses %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 tense block {% if tense.is_in_short_list %}in_short_list{% endif %}" {% if tense.is_in_short_list %}style="display: none" {% endif %}>
                            <div class="tense_name"><h4>{{ tense.name.upper }}</h4></div>
                            <p class="person">{% for person in tense.persons %}<span class="part_0">{{ person.part_0 | safe }}</span>{% if person.more_than_one %}<r class="tab-content">{% for form in person.forms %}<r class="tab-pane fade {% if forloop.counter0 == 0 %}in active{% endif %} form{{ forloop.counter0 }}">{{ form | safe }}</r>{% endfor %}</r>{% else %}{{ person.forms.0 | safe }}{% endif %}{{ person.part_2 | safe }}<br>{% endfor %}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="row mood_name">
                        <div class="col-xs-12">
                            <div><h2>{{ table.moods.4.name | safe }}</h2></div>
                        </div>
                    </div>
                <div class="row tenses">
                    {% for tense in table.moods.4.tenses %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 tense block {% if tense.is_in_short_list %}in_short_list{% endif %}" {% if tense.is_in_short_list %}style="display: none" {% endif %}>
                            <div class="tense_name"><h4>{{ tense.name.upper }}</h4></div>
                            <p class="person">{% for person in tense.persons %}<span class="part_0">{{ person.part_0 | safe }}</span>{% if person.more_than_one %}<r class="tab-content">{% for form in person.forms %}<r class="tab-pane fade {% if forloop.counter0 == 0 %}in active{% endif %} form{{ forloop.counter0 }}">{{ form | safe }}</r>{% endfor %}</r>{% else %}{{ person.forms.0 | safe }}{% endif %}{{ person.part_2 | safe }}<br>{% endfor %}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="row mood_name">
                        <div class="col-xs-12">
                            <div><h2>{{ table.moods.5.name | safe }}</h2></div>
                        </div>
                    </div>
                <div class="row tenses">
                    {% for tense in table.moods.5.tenses %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 tense block {% if tense.is_in_short_list %}in_short_list{% endif %}" {% if tense.is_in_short_list %}style="display: none" {% endif %}>
                            <div class="tense_name"><h4>{{ tense.name.upper }}</h4></div>
                            <p class="person">{% for person in tense.persons %}<span class="part_0">{{ person.part_0 | safe }}</span>{% if person.more_than_one %}<r class="tab-content">{% for form in person.forms %}<r class="tab-pane fade {% if forloop.counter0 == 0 %}in active{% endif %} form{{ forloop.counter0 }}">{{ form | safe }}</r>{% endfor %}</r>{% else %}{{ person.forms.0 | safe }}{% endif %}{{ person.part_2 | safe }}<br>{% endfor %}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="row mood_name">
                        <div class="col-xs-12">
                            <div><h2>{{ table.moods.6.name | safe }}</h2></div>
                        </div>
                    </div>
                <div class="row tenses">
                    {% for tense in table.moods.6.tenses %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 tense block {% if tense.is_in_short_list %}in_short_list{% endif %}" {% if tense.is_in_short_list %}style="display: none" {% endif %}>
                            <div class="tense_name"><h4>{{ tense.name.upper }}</h4></div>
                            <p class="person">{% for person in tense.persons %}<span class="part_0">{{ person.part_0 | safe }}</span>{% if person.more_than_one %}<r class="tab-content">{% for form in person.forms %}<r class="tab-pane fade {% if forloop.counter0 == 0 %}in active{% endif %} form{{ forloop.counter0 }}">{{ form | safe }}</r>{% endfor %}</r>{% else %}{{ person.forms.0 | safe }}{% endif %}{{ person.part_2 | safe }}<br>{% endfor %}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="row emploi">
                    <div class="col-xs-12">
                        <h3 style="margin-top: 6px">Коротко о главном</h3><p>{{ v.employs | safe }}</p>
                    </div>
                </div>
                <div class="row regle">
                    <div class="col-xs-12">
                        {% if v.regle%}<h3>Особенности спряжения</h3><p>{{ v.regle.text_rus | safe }}</p>{% endif %}
                    </div>
                </div>
                <div class="row novichkam">
                    <div class="col-sm-12">
                    <h2>Новичкам</h2>
                    <p>Глядя на внушительный список времен, в которых спрягаются французские глаголы, загрустит любой новичок. Я поспешу таких успокоить: вам показали то, что ваша неокрепшая психика не должна была увидеть. :) Мы-то, взрослые, знаем, что реальначя жизнь несоизмеримо проще: среднестатистический современный француз в беглой речи использует <b>всего три времени</b>: настоящее, прошедшее (событийное) и будущее. Причем, последнее с легостью заменяется на удивительный по простоте образования глагольный оборот с использованием спряжениея одного единственного глагола «идти» в настоящем времени и инфинитива смыслового глагола.</p>
                    <p>Таким образом, все знания сводятся к двум временам, которые надолго позволят вам абстрагироваться от всей прочей парадигмы спряжения и излагать практически ллюбую вашу мысль без искажения смысла.</p>
                    <p>И еще одна хорошая новость: второе из этих двух времен — составное, а это значит, что не надо учить шесть форм глагола во всех лицах и числах — достаточно знать его причастие, которое у 90% глаголов звучит так же, каr кинфинитив. Это французский язык: снаружи кажется ужасно сложно и запутано, а капнешь — все уже упростили до нас.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}