<form id="search" action="{% url 'conjugation:search' %}" method="post">
    <div class="input-group input-group-lg">
        <input onkeyup="return forceLower(this);" placeholder="Начните вводить глагол, не заботясь о диакритике и раскладке" name="verb" type="text" id="search-verb" size="30" class="form-control">
        <div class="input-group-btn input-group-btn-lg">
            <input name="submit" type="submit" id="search-submit" class="btn btn-primary" value="Спрягнуть">
        </div>
    </div>
</form>