{% load user_agents %}
<form id="search" action="{% url 'conjugation:search' %}" method="post">
	<div class="input-group {% if request|is_mobile %}input-group{% else %}input-group-lg{% endif %}">
		<input onkeyup="return forceLower(this);"
		       placeholder="Начните вводить глагол, не заботясь о диакритике и раскладке"
		       name="verb"
		       type="text"
		       id="search-verb"
		       size="30"
		       class="form-control">
		<div class="input-group-btn {% if request|is_mobile %}input-group-btn{% else %}input-group-btn-lg{% endif %}">
			<input name="submit"
			       type="submit"
			       id="search-submit"
			       class="btn btn-primary"
			       value="Спрягнуть">
		</div>
	</div>
</form>
