{% load static %}
<li class="dropdown notify-dropdown pull-right">
	<a href="#"
	   class="dropdown-toggle"
	   data-toggle="dropdown"
	   role="button"
	   aria-haspopup="true"
	   aria-expanded="true">
		<i class="fas fa-bell notify-icon"></i>
		<span class="notify-badge" id="notify-badge-nav" {% if not new_notifications %}style="display: none" {% endif %}>{{ new_notifications|length }}</span>
	</a>

	<ul class="dropdown-menu notify-drop">
			{% include 'notifications/drop-content.html' with has_notifications=has_notification authenticated=authenticated new_notifications=new_notifications old_notifications=old_notifications login_url=login_url %}
	</ul>
</li>
<link type="text/css" rel="stylesheet" href="{% static 'notifications/css/notifications.min.css' %}">
<script type="text/javascript" src="{% static 'notifications/js/notifications.min.js' %}"></script>
