{% load static le_francais_dictionary wagtailcore_tags %}
<div class="row">
    {% if not hide_info %}
        <div class="col-12">
            <div id="flash-cards-info"
                 class="alert alert-success alert-dismissible fade show"
                 role="alert">
                ВАЖНО! Пожалуйста, <a href="{% slugurl 'flash-cards' %}">прочитайте</a>
                какие принципы лежат в основе работы карточек и какой алгоритм
                работы мы предлагаем для получения максимального результата.
                <button type="button" data-toggle="tooltip"
                        title="Больше не показывать"
                        id="hide-flash-cards-info-button" class="close"
                        data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endif %}
    {% if not user.is_authenticated %}
        <div class="col-12">
            <div id="flash-cards-info"
                 class="alert alert-warning"
                 role="alert">
                Незарегистрированные пользователи не могут использовать метод
                интервальных повторений: нет профиля пользователя — негде
                хранить слова для повторений. <a href="">Войдите</a> под собой, чтобы
                использовать весь потенциал приложения.
            </div>
        </div>
    {% endif %}
    {% if lesson_page.several_word_packets %}
        {% get_packets lesson_page as packets %}
        <div class="col-12" style="margin-bottom: 1rem">
            {% for packet in packets %}
                <button type="button" class="btn btn-secondary btn-lg"
                        onclick="loadFlashCards({{ packet.id }})">{{ packet.name }}</button>
            {% endfor %}
        </div>
        <div class="col-12" id="dictionary-app" style="margin-bottom: 1rem"></div>
    {% else %}
        <div class="col-12" style="margin-bottom: 1rem" id="dictionary-app">
            {% get_packets lesson_page as packet %}
            {% include 'dictionary/dictionary_app.html' with packet_id=packet.id %}
        </div>
    {% endif %}
    <div class="col-6">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Советы</button>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Благодарности</button>
    </div>
    <div class="col-12">
        <div id="accordion">
            <div class="card collapse" id="collapseOne" data-parent="#accordion">
                <div class="card-body">
                    Советы советы советы.
                </div>
            </div>
            <div class="card collapse" id="collapseTwo" data-parent="#accordion">
                <div class="card-body">
                    <p>Клиентскую часть этого приложения написал для нас
                        Алексей
                        Урсул, фронтенд-програмист, город Новосибирск.</p>

                    <p>Дизайн — Виктория Думова, Санкт-Петербург.</p>

                    <p>Алгоритм метода интервальных повторений SM-2,
                        реализованнй
                        в приложении, — Piotr Wozniak, Poznan.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function loadFlashCards(packet_id) {
        $.ajax(Urls['dictionary:get_app'](packet_id),{
            success: function (data) {
                $('#dictionary-app').html(data)
            }
        })
    }
    $('#hide-flash-cards-info-button').on('click', function () {
        $.cookie('hide_flash_cards_info', 1);
        $('#hide-flash-cards-info-button').tooltip('hide')
    })
</script>
