<div class="lesson-dictionary">
		<div class="lesson-dictionary-container">
			<div class="word-container">
				<div class="word">Word</div>
			</div>
			<div class="controls-container">
				<div class="controls">

				</div>
			</div>
		</div>
</div>


<style>
	.lesson-dictionary {
		border: black 1px solid;
		padding: 20px 15px;
		width: 100%;
		box-sizing: border-box;
		height: 300px;
	}

	.lesson-dictionary .lesson-dictionary-container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.lesson-dictionary .word-container {
		display: flex;
		flex-grow: 3;
		align-items: center;
		justify-content: center;
	}

	.lesson-dictionary .controls-container {
		flex-grow: 1;
	}

	.lesson-dictionary .word-container > .word {
		font-size: 1.5em;
		font-weight: bold;
		margin: 0.83em 0;
	}
</style>

<script>
	var lessonDictionary = {
		words: [
			{% for word in words %}
				{{ word.to_json|safe }},
			{% endfor %}
		],
		interval: 2000,
		shuffle: function () {
			for (let i = this.words.length - 1; i > 0; i--) {
				const j = Math.floor(Math.random() * (i + 1));
				[this.words[i], this.words[j]] = [this.words[j], this.words[i]];
			}
		},
		start: function () {
			setInterval(function () {
				this.next()
			}, this.interval)
		},
		next: function () {

		},
		pause: function () {

		}

	};

</script>
