{% extends 'dictionary/manage_words_standalone.html' %}
{% comment %}This template is for embedded word table for genuine "my words" manager on other site{% endcomment %}
{% load static %}
{% block extra_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'dictionary/css/user-table-iframe.min.css' %}">
{% endblock %}
{% block filter_saving %}
    <script>
        const FILTER_SAVING_ON = true;
        window.FILTER_SAVING_KEY = "{{ cross_site_key }}";
    </script>
{% endblock %}