{% extends 'base.html' %}

{% load bootstrap4 static %}
{% block title_suffix %} — мои глаголы{% endblock %}
{% block extra_js %}
    <script type="text/javascript"
        src="{% static 'components/js/jquery.simple-checkbox-table.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'dictionary/js/user-table.min.js' %}"></script>
    <script>
        let csrf = "{{ csrf_token }}";
        const tableType = "verbs"
        let init_packets = null;
        const FILTER_SAVING_ON = true;
    </script>
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'components/css/datatables.css' %}"/>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/fh-3.1.6/sl-1.3.1/datatables.min.js"></script>


    <link rel="stylesheet" href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.10/css/dataTables.checkboxes.css">
    <script src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.10/js/dataTables.checkboxes.min.js"></script>

    <link rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.css">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-ru_RU.min.js"></script>
    <link rel="stylesheet" href="{% static 'dictionary/scss/user-table.min.css' %}">
{% endblock %}

{% block content %}
    <div class="{% block container_class %}container{% endblock %}">
        <div class="row">
            <div class="col-12 filter1">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Французский
                            язык</a></li>
                        <li class="breadcrumb-item active"><a
                                href="{% url 'dictionary:my_verbs' %}">Мои
                            Глаголы</a></li>
                    </ol>
                </nav>
                <form id="filterWordsForm" method="post"
                      class="form-inline mb-2 d-flex">
                    <label class="sr-only"
                           for="{{ form.packets.auto_id }}">{{ form.packets.label }}</label>
                    <select data-none-selected-text="Выберите уроки"
                            multiple class="mb-2 mr-2 selectpicker"
                            name="{{ form.packets.html_name }}"
                            id="{{ form.packets.auto_id }}" required
                            data-width="197px" data-sanitize="false">
                        {% for choice in form.fields.packets.choices %}
                            <option value="{{ choice.0 }}"
                                    data-content="{{ choice.1 }}"></option>
                        {% endfor %}
                    </select> {% csrf_token %}
                    <button type="submit"
                            class="btn btn-primary mb-2 get-list-button">
                        Получить<span
                            class="text-medium"> глаголы</span><span
                            class="text-large"> список глаголов</span>
                    </button>
                    <button class="btn btn-info mb-2 ml-lg-auto text-truncate" id="getAndApplyFilters">Повторить последнюю выборку</button>
                </form>
            </div>
            <div class="col-12 words-footable">
                <div class="card">
                    <div class="card-body bg-light uppertable pt-2 pb-1"
                         style="display: none">
                        <div class="form-check form-check-inline mb-1 mr-sm-2">
                            <input class="form-check-input"
                                   type="checkbox" id="hideRegular">
                            <label class="form-check-label mr-3"
                                   for="hideRegular">Скрыть правильные
                                глаголы</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="checkbox" id="hideNegative">
                            <label class="form-check-label mr-3"
                                   for="hideNegative">Скрыть
                                отрицания</label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive verbs-table">
                    {% include 'dictionary/verbs_table.html' with table=table %}
                </div>
                <div class="row bottom-controls">
                    <div class="col-12 d-flex">
                        <button style="display: none" type="button"
                                class="btn btn-primary mb-2 undertable"
                                id="startApp">Запустить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
