{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dictionary/css/verbs.css' %}">
<div class="col-12">
	<div id="dict-app" data-lesson-number="{{ packet_id }}" data-show-negative="{{ default_show_negative }}" data-translate-infinitives="{{ default_translate_infinitives }}">
		<div class="row">
			<div class="col">
				<div style="">
					<div>
						<div id="flashcard-app">
							<div class="row">
								<div style="padding-right: 6px" class="col d-flex align-items-center justify-content-center next-step-block">
									<span :class="[type == 0 ? 'active' : false]">Запоминаем</span>
									<a href="#" class="d-flex justify-content-center flex-column align-items-center filled" v-on:click="toggleType()">
										<div class="radial-progress-container" style="height: 66px; width: 66px;">
											<div class="radial-progress-inner" style="width: 46px;">
												<div>
													<img src="{% static 'dictionary/img/next_step.962d8a45.svg' %}">
													<img src="{% static 'dictionary/img/next_step_white.2843dc7a.svg' %}" :class="[type == 1 ? 'rotated' : false]">
												</div>
											</div>
										</div>
									</a>
									<span :class="[type == 1 ? 'active' : false]">Отрабатываем</span>
								</div>
							</div>
							<div>
								<div class="row">
									<div class="col text-center">
										<div class="word-card sex-none">
											<div class="dummy-row">&nbsp;</div>
											{% verbatim %}<span class="word-card-phrase">{{ card.verb ?? card.form }}</span>{% endverbatim %}

										  <br><br><br><br><br>

										  <span class="play-button">
										  	<img v-if="pause" src="{% static 'dictionary/img/play.16146fde.svg' %}" v-on:click="togglePause()">
										  	<img v-else="pause" src="{% static 'dictionary/img/pause.173288f8.svg' %}" v-on:click="togglePause()">
										  </span>

										  <br><br><br>
											<div class="word-card-phrase">
												{% verbatim %}<span v-if="card.flipped">{{ card.translation }}</span>{% endverbatim %}
												<span v-else="card.flipped">&nbsp;</span>
											</div>
											<div class="dummy-row2">&nbsp;</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="progress" id="learn-progress-bar" style="height: 8px;">
											<div role="progressbar" class="progress-bar" :style="{'width': progress + '%'}"></div>
										</div>
									</div>
								</div>
								<div class="row">
                                    <div class="col">
                                        <div class="input-group">
                                            <div type="checkbox" class="custom-control custom-checkbox mb-2">
                                                <input id="showNegativeInput" type="checkbox"
                                                       class="custom-control-input" v-model="showNegative">
                                                <label class="custom-control-label" for="showNegativeInput">Показывать отрицания</label>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <div type="checkbox" class="custom-control custom-checkbox mb-2">
                                                <input id="translateInfinitivesInput" type="checkbox"
                                                       class="custom-control-input" v-model="translateInfinitives">
                                                <label class="custom-control-label" for="translateInfinitivesInput">Показывать перевод инфинитивов</label>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Пауза на раздумье (задержка перед ответом):</span>
                                            </div>
                                            <select type="number" class="custom-select" aria-label="Пауза на раздумье (задержка перед ответом):" v-model="timeoutTranslation">
                                                <option value="1">1 секунда</option>
                                                <option value="2">2 секунды</option>
                                                <option value="3">3 секунды</option>
                                                <option value="4">4 секунды</option>
                                                <option value="5" selected>5 секунд</option>
                                            </select>
                                        </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script>
        ['{% static "components/js/vue.js" %}', '{% static "dictionary/js/verbs.js" %}'].forEach(src => {
            let script = document.createElement("script");
            script.setAttribute("src", src);
            script.setAttribute("type", "text/javascript");
            script.setAttribute("async", "true");
            document.getElementsByTagName("head")[0].appendChild(script);
        })
    </script>
</div>
