<div class="row">
    <div class="col">
        <div class="input-group mt-2" v-if="!showParticipe">
            <div type="checkbox" class="custom-control custom-checkbox">
                <input id="showNegativeInput" type="checkbox"
                       class="custom-control-input" v-model="showNegative">
                <label class="custom-control-label" for="showNegativeInput">Показывать отрицания</label>
            </div>
        </div>
        <div class="input-group mt-2" v-if="type === TYPE_LISTENING && !showParticipe">
            <div type="checkbox" class="custom-control custom-checkbox">
                <input id="translateInfinitivesInput" type="checkbox"
                       class="custom-control-input" v-model="translateInfinitives">
                <label class="custom-control-label" for="translateInfinitivesInput">Показывать перевод
                    инфинитивов</label>
            </div>
        </div>
        <div class="input-group mt-2" v-if="type === TYPE_CHECKING">
            <div class="input-group-prepend">
                <span class="input-group-text">Пауза на раздумье (задержка перед ответом):</span>
            </div>
            <select type="number" class="custom-select" aria-label="Пауза на раздумье (задержка перед ответом):"
                    v-model="timeoutTranslation">
                <option value="1">1 секунда</option>
                <option value="2">2 секунды</option>
                <option value="3">3 секунды</option>
                <option value="4">4 секунды</option>
                <option value="5" selected>5 секунд</option>
            </select>
        </div>
        <div class="input-group mt-2" v-if="!showParticipe">
            <div class="input-group-prepend" v-if="!moreVerbsLoaded">
                <button class="btn btn-primary" type="button" v-on:click="loadMoreCards">Добавить глаголы</button>
            </div>
            <div class="input-group-prepend" v-if="moreVerbsLoaded">
                <button class="btn btn-danger" type="button" v-on:click="loadInitCards">Сбросить</button>
            </div>
            <select class="custom-select" :disabled="moreVerbsLoaded">
                <option selected>Выберите кол-во уроков</option>
                <option v-for="option in loadMoreOptions" v-bind:value="option.loadMore" v-text="option.name"></option>
            </select>
        </div>
    </div>
</div>
