{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dictionary/css/verbs.css' %}">

<div class="col-12">
	<div id="dict-app" data-lesson-number="{{ packet_id }}">
		<div class="row">
			<div class="col">
				<div style="">
					<div>
						<div id="flashcard-app">
							<div class="row">
								<div class="col d-flex align-items-center justify-content-center next-step-block">
									<span :class="[type == 0 ? 'active' : false]">Запоминаем</span>
									<a href="#" class="d-flex justify-content-center flex-column align-items-center filled" v-on:click="toggleType()">
										<div class="radial-progress-container" style="height: 66px; width: 66px;">
											<div class="radial-progress-inner" style="width: 46px;">
												<div>
													<img src="{% static 'dictionary/img/next_step.962d8a45.svg' %}">
													<img src="{% static 'dictionary/img/next_step_white.2843dc7a.svg' %}" :class="[type == 1 ? 'rotated' : false]">
												</div>
											</div>
										</div>
									</a>
									<span :class="[type == 1 ? 'active' : false]">Проверяем</span>
								</div>
							</div>
							<div>
								<div class="row">
									<div class="col text-center">
										<div class="word-card sex-none">
											<div class="dummy-row">&nbsp;</div>
											{% verbatim %}<span class="word-card-phrase">{{ card.verb ?? card.form }}</span>{% endverbatim %}

										  <br><br><br><br><br>

										  <span class="play-button">
										  	<img v-if="pause" src="{% static 'dictionary/img/play.16146fde.svg' %}" v-on:click="togglePause()">
										  	<img v-else="pause" src="{% static 'dictionary/img/pause.173288f8.svg' %}" v-on:click="togglePause()">
										  </span>

										  <br><br><br>
											<div class="word-card-phrase">
												{% verbatim %}<span v-if="card.flipped">{{ card.translation }}</span>{% endverbatim %}
												<span v-else="card.flipped">&nbsp;</span>
											</div>
											<div class="dummy-row2">&nbsp;</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="progress" id="learn-progress-bar" style="height: 8px;">
											<div role="progressbar" class="progress-bar" :style="{'width': progress + '%'}"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="input-group col" v-if="pause">
										<input type="number" class="form-control" placeholder="Задержка между переводом" aria-label="Задержка между переводом" v-model="timeoutTranslation">
										<div class="input-group-append">
										  <span class="input-group-text">милисекунд между переводом</span>
										</div>
									</div>

									<div class="input-group col" v-if="pause">
									  <input type="number" class="form-control" placeholder="Задержка между словами" aria-label="Задержка между словами" v-model="timeoutDefault">
									  <div class="input-group-append">
									    <span class="input-group-text">милисекунд между словами</span>
									  </div>
									</div>

									<div class="input-group col" v-if="pause && type == 0">
									  <input type="number" class="form-control" placeholder="Задержка до и после инфинитива" aria-label="Задержка до и после инфинитива" v-model="timeoutInfinitive">
									  <div class="input-group-append">
									    <span class="input-group-text">дополнительных милисекунд до и после инфинитива</span>
									  </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
	<script src="{% static 'dictionary/js/verbs.js' %}"></script>
</div>
